[2019-08-09 03:38] gayanper opened #350 "Slow typescript and template completions with vscode-ng-language-service active"
### Steps to Reproduce:

1. Open a medium size angular project with with around 18K lines of typescript code
The initialization of the language server takes around 2 mins.

2. Now open a typescript file and try to invoke code completions. That's takes around 10-20 secs to get the completion list.

3. The second invocation is fast.

4. Now open another typescript file and invoke code completions. T

[2019-08-09 06:37] gayanper commented on #339
@andrius-pra when i try to build your branch i get the following error
[code]

[2019-08-09 11:49] gayanper opened #351 "[question] how to compile the pluging"
When i'm running ./scripts/build.sh i get the following error in Git Bash

[code]

[2019-08-09 12:19] shiftgeist commented on #149
Yes putting in the key in as a string removes the red lines.

But you lose features like correct spelling and auto-completion with this.

[2019-08-09 12:24] andrius-pra commented on #351
I'm using Debian image from [Windows Subsystem for Linux](https://docs.microsoft.com/en-us/windows/wsl/install-win10) to build this project:
[code]

[2019-08-09 12:45] andrius-pra commented on #339
@gayanper Compiled and uploaded [here](https://drive.google.com/drive/folders/1RHWuHyNTVNlvQnMNAdWwl8Z4rFgqYpSX).
Disable official extension while testing this build.

[2019-08-09 15:58] gayanper commented on #351
Thanks it worked.

[2019-08-09 15:58] #351 closed

[2019-08-09 15:59] gayanper commented on #339
@andrius-pra You improvement solved my issue. When can we expect these changes to end up in the master ?

[2019-08-09 16:00] gayanper commented on #350
The improvement done at https://github.com/angular/vscode-ng-language-service/issues/339 will solve this issue.

[2019-08-09 16:29] andrius-pra commented on #339
Great! I will split my changes into smaller PR in coming days and @kyliau will decide if it worth to merge to master.

[2019-08-12 09:34] frankiee88 commented on #345
Same issue here. Removing 'slice' suppresses the 'errors'. Any idea when this might be fixed?

[2019-08-12 18:00] Dunsteer opened #353 "Extension stopped working"
The extension has been working perfectly for a few months and then out of thin air nothing, completely stopped. Tried reinstalling it but that hasn't fixed anything. I haven't upgraded my project to 8.1.0, at least that's what `ng version` says. Any ideas? I don't know what happed...

[2019-08-12 18:22] andrius-pra commented on #353
Do you have any errors in console panel of Angular Language language service?

[2019-08-12 18:26] Dunsteer commented on #353
[code]
This is the error I get.

[2019-08-12 18:59] andrius-pra commented on #353
Quick fix is [here](https://github.com/angular/vscode-ng-language-service/issues/314#issuecomment-479779944). It will be fixed by #346 in next version.

[2019-08-12 19:31] Dunsteer commented on #353
After fixing it I get this error
[code]

[2019-08-13 04:35] kyliau commented on #353
@Dunsteer are you using Angular version 9?

[2019-08-13 17:11] kyliau commented on #353
I've just published version 0.802.2 that should fix this issue. Please let me know otherwise.

[2019-08-13 17:14] Dunsteer commented on #353
I was testing it on Angular version 9 but I downgraded my angular back to version 8 until they publish a stable version.

[2019-08-13 22:08] kyliau commented on #353
I made some backwards incompatible change in version 9 that requires the extension to be updated. With the new extension that I've just published, the LS should work with both 8 and 9 now.

[2019-08-13 23:29] kyliau commented on #353
Issue fixed.

[2019-08-13 23:29] #353 closed

[2019-08-17 17:18] kyliau commented on #334
There's already an existing test for this: https://github.com/angular/angular/blob/5f76de1d71ac40654b5eef2d58747a713aab5c06/packages/language-service/test/diagnostics_spec.ts#L195-L210
Could you please provide an example of your code?

[2019-08-17 17:18] kyliau commented on #231
Closing this since it's fixed in https://github.com/angular/angular/blob/5f76de1d71ac40654b5eef2d58747a713aab5c06/packages/language-service/test/diagnostics_spec.ts#L195-L210
If error still persists, please open a new issue.

[2019-08-17 17:18] #231 closed

[2019-08-17 17:22] kyliau commented on #308
Thanks for the suggestion, I think this should be a "warning" or a "suggestion" instead of an error, and user should be able ignore them. A new version of the language service is in the works (in conjuction with Ivy), and I hope to address it soon.

[2019-08-17 17:24] kyliau commented on #305
Closing this, since it is already fixed in https://github.com/angular/vscode-ng-language-service/pull/346

[2019-08-17 17:24] #305 closed

[2019-08-17 17:26] kyliau commented on #311
This is because there are some differences in the way language service provides real time diagnostics vs ngc compilation. With the new rewrite coming out soon for Ivy, the errors should be consistent.

[2019-08-17 17:28] kyliau commented on #326
Closing this in favor of the suggestion above. Please reopen if more discussion is needed.

[2019-08-17 17:28] #326 closed

[2019-08-17 17:32] kyliau commented on #299
@goodmite Could you please make sure no other Angular extensions are running and try this again?

[2019-08-17 17:34] kyliau commented on #321
This is definitely a great feature request, thanks for the suggestion!

[2019-08-17 17:35] #12 closed

[2019-08-17 17:37] kyliau commented on #25
Closing this, since the language service is already a tsserver plugin - albeit without support for external HTML template.

[2019-08-17 17:37] #25 closed

[2019-08-19 00:27] Karankang007 commented on #126
Workaround:

Instead of:
[code]

use:
[code]

[2019-08-19 07:16] JohnnyDevNull commented on #350
Posssible duplicate of https://github.com/angular/vscode-ng-language-service/issues/336

[2019-08-19 07:49] plainyolo opened #357 "Directives intellisense support in html"
Directives could not be found

[2019-08-19 08:07] #357 closed

[2019-08-19 15:17] mjbates7 opened #358 "Cannot find user-defined Angular directives"
Hello,

I have created a basic directive (appBetterHighlight following a tutorial) using the CLI service.. however trying to use this within my html view, the view doesn't know about non-angular directives.

**custom directives (not found)**
![image](https://user-images.githubusercontent.com/4522738/63277038-78ddcf80-c29c-11e9-92f3-480be094e4bd.png)

**built in angular directives (found)**
![image

[2019-08-19 17:53] kyliau commented on #83
Closing this since it's a duplicate of https://github.com/angular/vscode-ng-language-service/issues/111

[2019-08-19 17:53] #83 closed

[2019-08-20 21:02] kyliau commented on #267
Thanks for the suggestion, this sounds like a useful feature. We'll prioritize it in the upcoming rework of the language service.

[2019-08-20 21:07] kyliau commented on #260
Thank you for the suggestion! The Angular team does not want to be in the position to recommend any specific third party extensions, but we could add a document to this repo to keep track of such list instead. Could you please open a pull request? Thank you!

[2019-08-20 21:07] #260 closed

[2019-08-20 21:12] kyliau commented on #257
This is because the extension used to register `.ng.html` as a special language. Once that's done though, it's no longer associated with regular HTML and hence the missing syntax highlighting. Such language is never needed, and it has been removed.

[2019-08-20 21:12] #257 closed

[2019-08-21 02:44] kyliau commented on #235
Created the following test case to expose this bug:

[code]

However, there is no easy fix for now due to way the HTML parser tokenizes the string.
`\r\n{{line0}}\r\n{{line1}}\r\n{{line2}}` is tokenize as a whole.
When `CR` characters are stripped from the string, source span information is lost.

[2019-08-21 19:20] andrius-pra commented on #235
@kyliau, a possible fix is [here](https://github.com/andrius-pra/angular/commit/47696136e3d487098c2ba466e21b09cbb6bdfaeb)

[2019-08-23 19:51] #339 closed

[2019-08-23 19:51] #350 closed

[2019-08-28 19:34] andrius-pra opened #369 "Extension failed to load angular plugin from nested folder."
The extension(v0.900.0-next.0) failed to load @angular/language-service plugin when angular project is in a child folder. It only tries to load from root of workspace.

Steps to reproduce:
[code]

Environment:
[code]

[2019-08-28 19:56] andrius-pra opened #370 "Duplicated completion items in external templates"
Language server returns completions for html tags in external templates. So we have duplicated completion items in vscode editor:
![image](https://user-images.githubusercontent.com/17968027/63887997-a76b5100-c9e6-11e9-93a5-c8c3a4a5aa4b.png)

Environment:
[code]

[2019-08-28 21:27] kyliau commented on #370
The previous implementation filter them out here: https://github.com/angular/vscode-ng-language-service/blob/a9f4440d671600ea32fb300478744dc5ede4c7ed/server/src/server.ts#L130 but I think the fix should be in `@angular/language-service`. These completions are never needed in the first place.

[2019-08-28 21:40] kyliau commented on #370
Standard HTML autocomplete should not be provided by Angular, but they are needed for inline templates. The proper fix here is to
1. Remove standard HTML completions in `@angular/language-service`
2. Register HTML block in Typescript files using TextMate grammar.
3. Let native HTML extension handle standard completions.

I've been thinking of doing (2) for quite some time now, doing it in this ver

[2019-08-29 03:41] ayazhafiz opened #373 "Add TypeScript formatter to repository"
It would be nice to add a formatter to enable consistent styling of TypeScript code in this repo. A good option is `clang-format` with the same options as in the [Angular repo](https://github.com/angular/angular).

The [NPM `clang-format` package](https://www.npmjs.com/package/clang-format) is preferable to reduce barrier of entry for developers on this repo.

There's not a lot that must be done t

[2019-08-29 08:32] mrahhal opened #374 "Language service "component not in module" error when using `require.context`"
# 🐞 bug report

### Affected Package
@angular/language-service

### Is this a regression?
No

### Description

I use dynamic importing of components (require.context) to import them into angular modules. Angular language service can't detect that so it issues me the `Component 'x' is not included in a module and will not be available inside a template. Consider adding it to a NgModule declaration`

[2019-08-29 20:12] kyliau commented on #338
After much deliberation and discussion with the TypeScript team, we've decided that the Angular language service will not be **purely** a tsserver plugin.

This means:
1. The plugin model would still be maintained, albeit without external template support.
Users who don't use external templates and don't want to install the extension could just install the plugin per-project via `tsconfig.json`.
2

[2019-08-29 20:12] #338 closed

[2019-08-29 20:17] kyliau commented on #334
Closing this for now since there's already a fix. Please open a new issue if problem persists. Thanks!

[2019-08-29 20:17] #334 closed

[2019-08-29 21:29] kyliau commented on #324
Private members are designed to be **inaccessible**, so this error message is correct.
The reason you didn't run into runtime error, as suggested by @jsarlo, is likely because you're using JIT.
For more info, please see https://stackoverflow.com/questions/34574167/angular2-should-private-variables-be-accessible-in-the-template
From the conversation, this seems working as intended, please reopen ot

[2019-08-29 21:29] #324 closed

[2019-08-29 21:31] kyliau commented on #248
Closing this, since issue is likely fixed in the latest version. Please reopen otherwise.

[2019-08-29 21:31] #248 closed

[2019-08-29 21:32] kyliau commented on #243
Closing this, since issue is likely fixed in latest version. Please reopen otherwise.

[2019-08-29 21:32] #243 closed

[2019-08-29 21:34] kyliau commented on #267
Adding a "restart" feature is useful on its own, but it is not solving this particular problem at the root. With the [new rewrite](https://github.com/angular/vscode-ng-language-service/releases/tag/v0.900.0-next.0) of the language service, hopefully this won't be necessary anymore.

[2019-08-29 21:37] kyliau commented on #200
Closing this, as I believe the bug has been fixed. Please reopen otherwise.

[2019-08-29 21:37] #200 closed

[2019-08-29 21:56] rfuhrer commented on #267
Thanks @kyliau!  I mean ideally you'd never have to restart any piece of software, but...
![image](https://user-images.githubusercontent.com/2529744/63978764-69b50980-ca74-11e9-8277-5d44e45320c2.png)

I still think it could be a useful feature for any future issues that crop up.  For example, OmniSharp can get confused by renaming folders or files too fast.  Then it ends up with some cached copy o

[2019-08-29 22:02] mickaelistria commented on #335
@kyliau: I'd like to try integrated newer Angular smartness in Eclipse Wild Web Developer. Does the extension you've linked in your previous comment contain a language server (as in a process speaking LSP)? If yes, is it expected to work on both TS and HTML files? And if yes, what's the recommended way to start this language server?

[2019-08-29 22:17] kyliau commented on #267
Yes, you're right. I should clarify that adding the "restart" feature is absolutely the right thing to do, and we will do it. But we should not bank on users restarting the extension in order to keep it working. If we design the extension to work properly in the first place, hopefully such restart is only needed under rare circumstances.

[2019-08-29 22:21] kyliau opened #375 "Integration with Eclipse Wild Web Developer"
@kyliau: I'd like to try integrated newer Angular smartness in Eclipse Wild Web Developer. Does the extension you've linked in your previous comment contain a language server (as in a process speaking LSP)? If yes, is it expected to work on both TS and HTML files? And if yes, what's the recommended way to start this language server?

_Originally posted by @mickaelistria in https://github.com/angul

[2019-08-29 22:21] rfuhrer commented on #267
Perfect.  I thought you meant you weren't planning on adding this because the new version was so good 😄.  But yeah, ideally we all forget this feature is there because we don't use it for months.
👍

[2019-08-29 22:26] kyliau commented on #375
Moved to a standalone issue.

Yes, it has a "server" module, and it speaks LSP.

Yes, it is designed to work with both TS and HTML files.

You could either build it from source or download the `ngls.vsix` file from the release, then unzip it (it's really just a zip file).
Run `node server.js --stdio` to bring up the server. It listens for requests via stdin and returns responses via stdout.

Pleas

[2019-08-30 06:29] mickaelistria opened #377 "publish language server on npmjs"
To ease consumption in other IDEs, the language server should be published separately on npmjs.

[2019-08-30 08:02] jpike88 commented on #369
@kyliau having the exact same problem here. It's preventing me from using the plugin at all

I have a workspace structure like so:

[code]

The plugin doesn't recognize my client folder.

Installing @angular/language-service in the root folder results predictably in errors across all my components (```Component '...' is not included in a module and will not be available inside a template```)... so

[2019-08-30 16:09] mickaelistria commented on #375
thanks.
So I tried binding things and it seems not too bad so far: connection works, messages are sent in both direction. However, the language servers sends me `{"jsonrpc":"2.0","method":"window/logMessage","params":{"type":1,"message":"No config file for /home/mistria/git/wildwebdeveloper/org.eclipse.wildwebdeveloper.tests/testProjects/angular-app/src/app/app.component.html"}}` on some `.html` f

[2019-08-30 16:21] andrius-pra commented on #375
Try first to open app.component.ts and then open app.component.html in a second window.

[2019-08-30 16:56] kyliau commented on #375
Yes, that is a known limitation right now: https://github.com/angular/vscode-ng-language-service/blob/f5e041e4037f7fda88932f7adff3244d5c874de3/server/src/server.ts#L86
the "config file" refers to a `tsconfig.json`.
The project service did find the file actually, but it is not returned in the response. We'll need to figure out a workaround for it.

[2019-08-30 18:56] andrius-pra commented on #375
@kyliau, sorry for off topic but you might be interested to workaround:
* update typescript version to 3.6.2 in angular/vscode-ng-language-service project.
* Change this [line](https://github.com/angular/angular/blob/5a562d8a0ae2a07b7e9c7acc688703aa63e7c058/packages/language-service/src/ts_plugin.ts#L18) to `if (host && project.rootFiles.length) {`

[2019-08-30 19:27] kyliau commented on #373
Should consider adding an script entry to `package.json` for users who do not have the `clang-format` extension in their editor.

[2019-08-30 19:36] ayazhafiz commented on #373
This already exists with `yarn format`.

[2019-08-30 21:24] mickaelistria commented on #375
Extracting from vsix file fails with `npm ERR! package.json requires a valid "version" field`. Indeed the package.json of the server folder contains no version.

[2019-08-30 21:50] mickaelistria commented on #375
Am I supposed to bind the html file to the language server?
I tried opening a `angular.component.ts` file
[code]
and saw `[Info]	Success: @angular/language-service loaded` in the log.

Then tried to open the empty `app.component.html` file and got `[Error]	Notification handler 'textDocument/didOpen' failed with message: Could not find sourceFile: '/home/mistria/git/wildwebdeveloper/org.eclipse.wil

[2019-08-30 22:10] kyliau commented on #375
Yes, I believe on the client side you need to sucscribe to HTML and TS documents, similar to this: https://github.com/angular/vscode-ng-language-service/blob/acc2a70a80efa16ab876e38bfd8de508afb8915a/client/src/extension.ts#L64-L69

[2019-08-30 22:11] kyliau commented on #377
Yes, we'll have to release the server as standalone package.
See https://github.com/angular/vscode-ng-language-service/issues/375#issuecomment-526754768

[2019-08-31 07:01] zabuvay commented on #345
The problem is not in this. I have the same issue. With using slice we lose object type.

[2019-08-31 14:11] mickaelistria commented on #375
Ok, so that's what I doing, on from client side, I can see LSP notifications about both files.
However, while the TS support seems working fine (I can see diagnostics, and use completion in `templates`, I'm still always seeing `failed with message: Could not find sourceFile: '/home/mistria/git/wildwebdeveloper/org.eclipse.wildwebdeveloper.tests/testProjects/angular-app/src/app/app.component.html'

[2019-09-01 08:19] jpike88 commented on #369
@kyliau I should also add, I have a tsconfig.json in my root directory.

From inspecting your plugin's code, there appears to be a variable called ```pluginProbeLocation```, but it never gets set.

https://github.com/angular/vscode-ng-language-service/blob/acc2a70a80efa16ab876e38bfd8de508afb8915a/server/src/project_service.ts#L45

So the solution maybe is that some sort of override needs to be set

[2019-09-02 15:55] jpike88 commented on #369
@kyliau can I get an an idea of whether this issue has any level of priority? If not, I'll attempt a fix myself when I get the time. However, I don't want to if you can conceive of something much faster, as this plugin stuff is a little alien to me.

[2019-09-02 16:35] andrius-pra commented on #369
I installed `@angular/language-service` in a workspace root and it was enough to fix this issue.
[code]

[2019-09-02 17:43] andrius-pra commented on #315
Duplicate of #126
There is a fix here: angular/angular#29811

[2019-09-03 02:43] jpike88 commented on #369
@andrius-pra if I do that, all my components get this error:

```Component 'exampleComponent' is not included in a module and will not be available inside a template. Consider adding it to a NgModule declaration.```

It's like it's not aware of my app.module.ts file.

[2019-09-03 04:11] jpike88 commented on #369
After much pain, I found the issue. It's related to ANOTHER language service bug. I made sure all my components weren't being exported using ```export default```, and it worked.

https://github.com/angular/angular/issues/32451

[2019-09-03 17:33] #373 closed

[2019-09-04 10:52] jpike88 opened #380 "Weird mismatch with language-service and @angular/compiler-cli errors"
@angular/language-service with latest vscode extension brings up an errors that ```$(npm bin)/ngc -p client/src/tsconfig.json --noEmit``` doesn't bring up, and vice versa. I thought @angular/language-service uses the same error detection logic as @angular/compiler-cli?

**Here is an example of an error that gets shown in the VSCode extension, but not in ngc.**

[code]

[code]

^ this is the code t

[2019-09-04 11:02] jpike88 opened #381 "Undefined identifier not getting detected in template"
This is good:

<img width="1313" alt="Screen Shot 2019-09-04 at 6 01 41 PM" src="https://user-images.githubusercontent.com/9585787/64249533-10e6e480-cf3e-11e9-8761-17e6f2fdd03a.png">

This is bad:

<img width="657" alt="Screen Shot 2019-09-04 at 6 02 04 PM" src="https://user-images.githubusercontent.com/9585787/64249547-1f350080-cf3e-11e9-83e1-15a69cab5d08.png">

[2019-09-04 23:38] kyliau commented on #380
This is not due to the latest extension. It has been the way since its inception (type checking works slightly differently under language service vs the compiler), and this will be addressed later this year as part of the rewrite of the language service to use Ivy.

[2019-09-04 23:41] kyliau commented on #375
@mickaelistria The LSP server uses `languageId` to determine the file type, and handles TS vs HTML files differently based on that. Could you please double check that the correct language id is passed in for HTML?
https://github.com/angular/vscode-ng-language-service/blob/2cf7b96fcef4566a80254199aa40f34a5173ff6d/server/src/server.ts#L80

[2019-09-05 03:24] jpike88 commented on #381
maybe it's due to the fact it's got && operators in there

[2019-09-05 03:25] jpike88 commented on #380
- Does this also explain https://github.com/angular/vscode-ng-language-service/issues/381?
- Also, if the language service is 'behind' ngc (which is what I'm understanding it as), why didn't ngc pick up an error that the language service did?

[2019-09-05 09:07] webcourse-ng commented on #345
Ditto here. After spending a couple hours completing type definitions for every variable involved, checking types double and tripple times, nothing helped.

Removing slice is the only thing that gets rid of the "Identifier is not defined" errors. Uff, I guess the upside of the error is that it forced me to type the code more completely.

[2019-09-05 13:42] lukasz-m-b opened #384 "Enum entries as object keys ignored when contain "_""
[code]

in component:

[code]

in template:

```{{ myObject. }}```

**is**
Intellisense shows these options: CAT, SOMETHING, something, somethingElse.
Enum options whose *values* (not keys) contain an underscore are not available.

**should be**
Intellisense shows all options.

Version 0.802.3,
VS Code 1.28.0,
Windows 7

(BTW, thank you for this amazing tool)

[2019-09-05 15:02] ChrisKader commented on #328
Using 'Lock Hunter' I found out that (in my case) its not VS Code itself locking the app.asar file, rather, an extention I use called "Vetur".

![image](https://user-images.githubusercontent.com/633360/64353914-20107580-cfc4-11e9-92b4-f6b0ec004ba3.png)

Adding `**/dist_electron/*/**` to the exclude settings in VS Code blocked the extension from locking said file and allowed me to build.

[2019-09-08 02:44] JiaHongL commented on #217
ry it, may be solved

VSCode - User Settings

"editor.snippetSuggestions": "top",

to

"editor.snippetSuggestions": "inline",

[2019-09-09 14:16] mickaelistria commented on #375
I open `app.component.ts`, then `app.component.html` and here is the send message and response on `didOpen` for HTML file. the `languageId` seems correct.

[code]

[2019-09-10 15:16] JeffBeltran commented on #345
here from stackoverflow just wanted to chime in as well

https://stackoverflow.com/questions/57828725/angular-language-service-pipe-causes-identifier-not-defined-error

[2019-09-11 10:32] mehermestiri opened #387 "Go to definition not working on html template"
Vs Code Version: 1.38.0
Mac OS
extension: 0.802.3

This was working before and was not stable but starting this week no more able to navigate to the typescript definition from html template and properties are not shown when I use the {{}} in the template.

In another new project I created when I try using the extension it works fine.
I don't know if it's because of the amount of the code existing

[2019-09-11 10:49] andrius-pra commented on #387
Do you any errors in output window of Angular language service? What version of "Angular Language Service" do you use? You can find version in output window.

[2019-09-11 10:53] mehermestiri commented on #387
For the version of the extension it's: 0.802.3
You said the output window of Angular language service.. From where I can find this?
I ony got the output tab openend when I focus the terminal and there I got no errors

[2019-09-11 12:43] Domvel commented on #79
Ionic 4 multi-app (monorepo) brought me here.
Sadly Ionic requires a package.json for each app. In other words: I have 3 projects in one. 2 apps and the root. Every package json is more or less equal. Anyway... this is my workspace structure (snippet):

[code]

**tsconfig.json** of an app:

[code]

I can import the HelloWorldComponent from lib.
But in html I get the error:

[code]

The Angular-Lan

[2019-09-11 13:15] andrius-pra commented on #387
Select "Angular language service" from drop-down in output tab.
![image](https://user-images.githubusercontent.com/17968027/64700208-22386f80-d4af-11e9-8954-bf010a761a8c.png)

[2019-09-11 13:35] mehermestiri commented on #387
Thanks for letting me know about that ^^
Actually, nope no erros:
getDefinitionAt: 0ms
getDefinitionAt: 0ms
getDefinitionAt: 0ms
getHoverAt: 0ms
getDefinitionAt: 0ms
getHoverAt: 0ms

[2019-09-11 15:42] ayazhafiz commented on #387
Are you able to share the repository that is not working with the language service?

[2019-09-11 23:05] ayazhafiz commented on #384
Hi @lukasz-m-b! This issue seems to be because the version of `@angular/language-service` bundled with the VSCode extension is somewhat outdated, and is fixed in version 9.0 of the Angular language service.

If you are comfortable with it, you can install the pre-v9 release of `@angular/language-service` in the repository you are using the language service extension with and this should be fixed.

[2019-09-11 23:17] ayazhafiz commented on #380
Yes

The language service is not behind `ngc` (the legacy compiler); it currently uses `ngc`, but as Keen mentioned, the language service performs some analyses a bit differently than how `ngc` does. Because Ivy, or `ngtsc` (the new compiler) is expected to land in Angular 9, the language service is not prioritizing fixing bugs in the version written with `ngc`. Also as Keen mentioned, this will b

[2019-09-11 23:41] ayazhafiz commented on #358
I'm pretty sure this a bug, because we currently look for all selectors matching on directives in an NgModule. However, the language service expects to be rewritten soon to use Angular's new Ivy compiler, so we should probably wait to fix this when Ivy becomes the new backbone of the language service.

What do you think @kyliau?

[2019-09-11 23:43] ayazhafiz commented on #374
Moving a discussion over to the original issue 🙂

[2019-09-11 23:43] #374 closed

[2019-09-11 23:55] ayazhafiz opened #388 "E2E tests broken on master"
`yarn test:e2e` is broken on master (since at least a842599cbdc0c023d90704af8fdd35d31539d9c8). I don't have the bandwidth to look at this right now, but may tomorrow. If someone else is interested, feel free to pick it up!

[2019-09-12 06:14] jpike88 opened #391 "Extremely inefficient memory usage"
I have a workspace with several ts projects. Only one of them is angular.

the ```electron_node server.js``` process in this extension is incredibly resource intensive, even when I'm opening ts files in other non-angular projects, the memory of the process just like 300 mb *per file opened*, .

When opening an angular component file, even one with a complex inline template, it seems that memory on

[2019-09-12 07:03] mehermestiri commented on #387
Hello @ayazhafiz unfortunately not possible for me.

[2019-09-13 17:19] kyliau opened #393 "Add rollup to build pipeline"
In order to speed up extension load time, it's preferable to ship a single bundle to vscode marketplace. This should be done for both client and server.
Today, we install the production dependencies then ship the entire directory, including `node_modules`.

Previously, before the restructuring of the project layout, we ship **everything** in the repo, which produces a "binary" that's ~24mb. With p

[2019-09-13 18:06] kyliau opened #395 "Syntax highlighting for inline templates"
The extension should provide a textmate grammar for inline templates so that syntax highlighting shows up for HTML.
Once that is done, we should look into whether native html extension would handle autocomplete for inline template. Ideally, such autocompletion should be delegated to the native html extension, but that's not the case today. Angular should add only Angular-specific completions.
Ther

[2019-09-13 18:19] kyliau commented on #358
Could you please confirm that the directive you're expecting is actually part of the NgModule you're working with?

[2019-09-13 18:57] ayazhafiz commented on #358
I am observing this issue when the directive is part of the NgModule. I think the example @mjbates7 is giving is from https://angular.io/guide/attribute-directives#write-the-directive-code which is easy to repro.

[2019-09-13 19:56] #267 closed

[2019-09-14 10:37] andrius-pra opened #396 "Go to templateUrl or styleUrls opens duplicated window"
Steps to reproduce:
1. Open app.component.html
2. Open app.component.ts in new tab
3. use Go to Definition from value of "templateUrl"

**actual**: opens new tab for template
**expected**: switches to already opened tab.

![go to templateUrl](https://user-images.githubusercontent.com/17968027/64906918-c65f2800-d6f4-11e9-897b-6b33104ea535.gif)

[2019-09-14 20:42] RKaczmarek opened #398 "[feature] Support for "bind-", "on-" and "bind-on-" syntax in template"
Hi,

angular supports an alternative way of binding properties and events with the prefixes "bind-", "on-" and "bind-on-" on attributes. A support by this plugin would be nice.

example:
[code]

template with angular syntax:
[code]
alternative html conform way:
[code]

[2019-09-16 20:10] #396 closed

[2019-09-17 04:55] kyliau commented on #118
Closing this, since issue is two years old and likely out of date. Please open a new issue if problem persists.

[2019-09-17 04:55] #118 closed

[2019-09-18 03:23] michaelsanford commented on #270
Seems to be a duplicate of #162.

[2019-09-18 06:43] webia1 commented on #162
https://github.com/microsoft/vscode/issues/80794

[2019-09-18 15:23] RobertDelmatic opened #400 "Extension not working and crashing"
The extension does not work at all, for me, in HTML templates, and it keeps crashing. Version 0.802.3
This is the console log:

Search path: c:/work/clientportal/angular/src/app/project/dialogs/project-edit-user-dialog
Config file name: c:/work/clientportal/angular/tsconfig.json
Angular Language Service: 6.0.3
TypeScript: 3.5.3
getTemplateReferences: 5629ms
Add recursive watcher for: c:/work/clien

[2019-09-18 21:22] Proantagonist commented on #335
@kyliau I followed the instructions to install v0.900.0-next.0, however there are no auto-complete suggestions for anything (e.g component selectors, properties, events, etc).

[2019-09-18 21:50] kyliau opened #401 "autocomplete not working on windows"
@kyliau I followed the instructions to install v0.900.0-next.0, however there are no auto-complete suggestions for anything (e.g component selectors, properties, events, etc).

_Originally posted by @Proantagonist in https://github.com/angular/vscode-ng-language-service/issues/335#issuecomment-532872106_

[2019-09-18 21:53] kyliau commented on #401
@Proantagonist this is most likely because the extension failed to find `@angular/language-service`, similar to https://github.com/angular/vscode-ng-language-service/issues/369
Could you please open the `Output` tab and inspect the logs?

It should be similar to this:
![Screenshot from 2019-09-18 14-52-29](https://user-images.githubusercontent.com/2941178/65188741-f6c00280-da23-11e9-9ded-f54201a04

[2019-09-18 22:53] Proantagonist commented on #401
Certainly. Here is the output:

![image](https://user-images.githubusercontent.com/3969818/65192572-1ca5d100-da3d-11e9-81d9-16f99ea6977c.png)

[code]

[2019-09-18 22:55] Proantagonist commented on #401
I should add that this VSC workspace is an Nx workspace with multiple `libs` and `apps`

The target app is consuming components from `libs`.

[2019-09-18 22:59] kyliau commented on #401
Ahh ... please open a TS file first, then the HTML. This shall be fixed before the next release.

[2019-09-18 23:19] Proantagonist commented on #401
Opening a TS first gets rid of the error, but unfortunately it still does not provide suggestions.

`tamu-gisc-layer-filter` is a known valid component selector.

![xJhFfoDOAt](https://user-images.githubusercontent.com/3969818/65193483-e66a5080-da40-11e9-8c5a-cd3f020504b4.gif)

[2019-09-19 21:32] kyliau commented on #401
Could you please try "Go to definition" for `tamu-gisc-layer-filter` in the template?
It is likely that `@angular/language-service` is not found, even though the log message claims that it is loaded. If that's the case, https://github.com/angular/vscode-ng-language-service/pull/402 would fix it.

[2019-09-20 02:37] ayazhafiz commented on #19
This is no longer the behavior; closing.

[2019-09-20 02:37] #19 closed

[2019-09-20 02:50] ayazhafiz commented on #89
Template type checking is now provided with Ivy, in at least AOT mode. Closing; please open a new issue if you face this again.

[2019-09-20 02:50] #89 closed

[2019-09-20 02:55] ayazhafiz commented on #29
We should be able to implement this by adding [`getReferencesAtPosition`](https://github.com/microsoft/TypeScript/blob/7f004ad8dfd4d3aa047173a890c0beaeb8a307de/lib/tsserverlibrary.d.ts#L4929) to the Language Service's [TypeScript plugin](https://github.com/angular/angular/blob/master/packages/language-service/src/ts_plugin.ts). However, we will probably hold off on doing this until the language se

[2019-09-20 02:58] ayazhafiz commented on #32
The Angular language service can now be used as a VSC plugin, a TS Plugin, or a standalone language server. Closing; please open a new issue if you are experiencing this.

[2019-09-20 02:58] #32 closed

[2019-09-20 15:24] ayazhafiz commented on #132
Restarting language service available since e0f21ec4727175dc5b8cb9baa560c5f4ba55f948. Please open a new issue if you are experiencing this.

[2019-09-20 15:24] #132 closed

[2019-09-20 15:26] ayazhafiz commented on #137
This is probably a combination of the parse errors known with the Angular compiler (https://github.com/angular/angular/issues/31898). We should see this resolved when the language service is rewritten to use the new Ivy compiler. Please file a new issue if you are experiencing this.

[2019-09-20 15:26] #137 closed

[2019-09-20 18:23] Proantagonist commented on #401
"Go to definition" navigates to it correctly.

I looked at #402 but I'm not sure I know what to do from here.

Thank you for all your help!

[2019-09-20 22:35] ayazhafiz commented on #400
Are you opening VSCode in the root directory of your Angular project?

[2019-09-23 15:18] mickaelistria commented on #375
@kyliau any idea of what can go wrong here? Do those LSP messages I share seem fishy to you?

[2019-09-23 15:30] Dassderdie commented on #242
I experience this error on all occurrences of $any() in all templates.
Is there $any chance this issue could be resolved in the next time? It's quite annoying and seems (I have no idea -> please correct me if I'm wrong) not too complex or time-consuming to fix.

[2019-09-23 21:14] andrius-pra commented on #400
Your Angular Language Service is very old. Try package in your repository.
`npm install @angular/language-service --save-dev`
or
`yarn add --dev @angular/language-service`

[2019-09-23 21:18] andrius-pra commented on #401
@kyliau, this issue is already fixed here: #367. The pre-release verson(v0.900.0-next.0) doesn't in windows os.

[2019-09-24 08:51] RobertDelmatic commented on #400
Thank you andrius-pra, that was indeed the issue.

[2019-09-24 08:51] #400 closed

[2019-09-24 14:02] #328 closed

[2019-09-24 14:22] ayazhafiz commented on #295
Are you still seeing this issue? I think it was fixed in a recent version of the language service.

[2019-09-24 16:04] andrius-pra commented on #295
I think it only fixed in v0.900.0-next.0. It's duplicate of #258.

[2019-09-26 10:44] satsangswami commented on #384
Well, How we get Enum arguments listed?
Like,

**in some.ts**
[code]
in some.html
`{{ name('') }}`
need enum value list when trying to type the string value.

I know the above can be directly achieved by using the variables fullname and short, but this is just an example. the point is to get enum list if argument is of that type. It can serve a lot of issue.
Or am i missing something that its not

[2019-09-26 13:40] ayazhafiz commented on #384
@satsangswami what you're asking for may be very useful, and it is different from an enum. Being able to autocomplete `'full'` or `'short'` for the `style` parameters in the example you provided requires us to know the values that may be able to fit into the type `'full' | 'short'` - while in this example it may be fairly simple, I'm not sure that it is in general. You could pass a `'full' | 'shor

[2019-09-26 16:33] satsangswami commented on #384
Yes! That's correct. But still in .html it doesn't shows the valueslist of enum.

[2019-09-26 20:25] ayazhafiz commented on #384
Ah, yes - this is because templates only have access to a component's members, not any values outside the component class. So the enum values are not popping up because to do so would be invalid Angular semantics.

In your example, the parameter passed to `name(...)` will raise an `"undefined is not an object"` error when you render the template in a webpage. More generally, a component like

[cod

[2019-09-27 02:48] dhair-seva commented on #152
I had the same error. Doing `*ngIf="formGroup?.get('fullName').hasError('required')"` worked for me

[2019-09-27 06:39] satsangswami commented on #384
Thanks! I understand.

However, silly but let me ask.

Is there a workaround, no matter how dirty it could be, but do we have any
workaround to get enum values get there?

On Fri, Sep 27, 2019, 1:55 AM hafiz <notifications@github.com> wrote:

[2019-09-27 13:18] ayazhafiz commented on #384
Not enum values, but you can use an object inside your class with fields similar to an enum and have your method take in fields of that object.

________________________________
From: Satsangpriyadas Swami <notifications@github.com>
Sent: Friday, September 27, 2019 1:39 AM
To: angular/vscode-ng-language-service
Cc: hafiz; Comment
Subject: Re: [angular/vscode-ng-language-service] Enum entries as ob

[2019-09-27 14:31] satsangswami commented on #384
Done. Thanx for now... Nevertheless, You all have done a great job, i must say... 🥇

[2019-09-27 14:32] #384 closed

[2019-09-30 09:15] Ploppy3 commented on #255
It's not only about auto completion it's also about type & variable checking. It's quite easy to mess things up.

[2019-10-01 11:15] mickaelistria commented on #375
@kyliau anything else I should check to move forward here? Does the Language Server have some debug trace I can enable?

[2019-10-01 17:22] kyliau commented on #375
Could you please double check the version of `@angular/language-service` that was used? It should be at least v9 (fix for this is coming soon)

[2019-10-01 17:32] #369 closed

[2019-10-01 19:35] mickaelistria commented on #375
It actually seems like the recent change https://github.com/angular/vscode-ng-language-service/commit/87b119aa6042246f725c04cf0484522e07653bfb can improve things on our end. I'll try a local build and report whether it helps.

[2019-10-01 22:10] kyliau commented on #401
Thanks @andrius-pra, I'll cut another beta release this week with all the fixes.

[2019-10-01 22:45] mickaelistria commented on #375
So far, I'm not very successful, so if this can be published as a new release, or even better, if the server can be made an independent module published on npmjs ( #377 ) soon, that'd be pretty helpful ;)

[2019-10-01 22:46] kyliau commented on #375
I'll publish another beta release, along with the standalone server package, this week and post an update here.

[2019-10-02 08:34] mickaelistria commented on #375
It was it, including @angular/language-service 9.0.0-next.8 makes everything work ! Thanks a lot for your assistance here.
I can make progress with Wild Web Developer (and even get into production) with the current state, but it involves a few hacks here and there, so publishing would still be highly welcome ;)

[2019-10-02 13:24] mickaelistria commented on #375
I've managed to get everything working. I think we can now close this ticket as further improvements wouldn't be specific to Eclipse Wild Web Developer. Thanks a lot for your support @kyliau !

[2019-10-02 17:02] kyliau commented on #375
that's awesome! I'll keep this issue open until the beta version and server package are published later this week.

[2019-10-02 22:02] ayazhafiz commented on #393
Are you suggesting we publish a rollup'd package?

[2019-10-02 22:08] kyliau commented on #393
Yes! Not only for our code, but for third party deps as well.

[2019-10-03 20:29] osnersanchez commented on #214
I would like to know that if I uninstall the angular language service from my package.json it will not affect my project in any way? since I am working in a large development team

[2019-10-04 04:36] jpike88 commented on #395
relevant:

https://github.com/natewallace/angular2-inline

[2019-10-05 22:34] endlessracingz commented on #126
I'm glad there is a workaround... but has any progress been made while investigating the issue?
I'm sure many of us prefer the simple dot notation.

This issue still exists on v0.802.3

[2019-10-06 13:25] Norby125 commented on #308
+1

[2019-10-06 14:24] klenium commented on #93
Until they fix it, there's a workaround (at least for `myMethod.bind(this)`:

[code]

[2019-10-06 15:58] andrius-pra commented on #93
It's a bad idea to use `bind` function inside template. `bind` function creates a new function on every call. So you will create a new function on every change detection. it's better to assign arrow function to class property:

[code]
[code]

[2019-10-06 16:34] klenium commented on #93
@andrius-pra Nice idea, I'll now use this, thanks.

[2019-10-07 23:11] ayazhafiz commented on #255
Hi all. Sorry for the delay. @andrius-pra is looking into this now 🙂

[2019-10-08 18:20] #393 closed

[2019-10-09 20:04] #391 closed

[2019-10-09 20:06] kyliau commented on #391
The second bullet point here is fixed in the new extension. We no longer maintain our own `ProjectService`, and instead delegate the responsibility to stock `tsserver`, so the behavior of project management is the same in both TypeScript and Angular.

[2019-10-10 04:35] sanket-bhalerao commented on #289
this is working with the latest angular and latest extension.

[2019-10-10 04:35] #289 closed

[2019-10-10 18:27] kyliau opened #411 "Project not found when HTML file is opened without any TS files"
Currently, in order for the language service to work, users have to first open some TS files, then only HTML files.
Opening only HTML files produces the error
[code]

This is because the project is immediately removed after it's created when a HTML file is opened.
This is already fixed in TS 3.6 in commit https://github.com/microsoft/TypeScript/commit/10ee85c98c9027321bc88fc8e42f4d759c7c0c63

`@an

[2019-10-10 19:35] #377 closed

[2019-10-10 20:00] kyliau commented on #377
@mickaelistria I published [@angular/language-server](https://www.npmjs.com/package/@angular/language-server)

The command line flags are different from before, so if you're using this package, be sure to check out the `--help` documentation.

[2019-10-10 20:15] kyliau commented on #401
Closing this, v0.900-.0-next.1 is released.

[2019-10-10 20:15] #401 closed

[2019-10-10 20:17] kyliau commented on #387
Closing this, since this targets 0.802.3

[2019-10-10 20:17] #387 closed

[2019-10-10 20:18] kyliau commented on #375
Closing this, (@angular/language-server)[https://www.npmjs.com/package/@angular/language-server] has been published.

[2019-10-10 20:22] mickaelistria commented on #377
Thank you very much!

[2019-10-10 20:27] #375 closed

[2019-10-11 06:58] jpike88 commented on #391
you are a legend, glad to see this getting the love it deserves! finally can be proud to use this plugin lol

[2019-10-11 07:15] prasworld opened #416 "Intellisense for Angular Templates not working in v0.900.0-next.1"
After the latest upgrade the angular intellisense has ceased to work.
Cli version @angular/cli                       7.3.0
Platform Windows
VS Code Version 1.39.1

[2019-10-11 07:37] iamcco commented on #416
Seems need `@angular/language-service >= v9.0.0` to work

[2019-10-11 09:13] Urastor commented on #416
Having the same problem.

CLI version ~8.2.5
Platform Windows
VS Code Version 1.39.1
@angular/language-service 9.0.0-next.10

App is working fine using child router-outlet, but template gives error.

![Anmerkung 2019-10-11 111055](https://user-images.githubusercontent.com/7266207/66639779-d0067d80-ec17-11e9-9139-c22f80690cf3.png)

[2019-10-11 09:32] Urastor commented on #340
Having the same problem when using RouterModule. I have an app-module with an app-routing-module and import a feature-module with a feature-routing-module. In my feature-component template, I can't find any references to any directives or pipes. I even get an error. Running the app works fine.

![Anmerkung 2019-10-11 111055](https://user-images.githubusercontent.com/7266207/66641319-c7637680-ec1a-

[2019-10-11 12:54] mickaelistria opened #417 "[LS] HTML template completion insert text without overriding matching range"
This is causing https://github.com/eclipse/wildwebdeveloper/issues/279

a .ts component
[code]
with a .html template
[code]

Asking completion after `t` in the template sends
[code]
which, consistently with the spec, results in
[code]
(with 2 `t`s).

The message is incorrect: either the `newText` should only be `itle` or the range should be `{"start":{"line":0,"character":6},"end":{"line":0,"chara

[2019-10-11 17:44] kyliau commented on #416
Thanks for trying out the beta version!
Could you please open the "Output" console in vscode and paste the logs here?
It should look something like this:

<img width="1792" alt="Screen Shot 2019-10-11 at 10 43 23 AM" src="https://user-images.githubusercontent.com/2941178/66672829-11952980-ec14-11e9-9c7f-5f1a45f5c933.png">

[2019-10-11 17:48] kyliau commented on #417
This is a known issue, and @ayazhafiz is working on it.
WIP PR: https://github.com/angular/angular/pull/33091

[2019-10-15 06:39] iamcco commented on #416
I have this log:

[code]

It's weird the log `it is not an Angular project.`

[2019-10-16 02:33] iamcco commented on #416
![image](https://user-images.githubusercontent.com/5492542/66883357-3ddbec00-f000-11e9-9610-2abea96e9153.png)

I have `@angular/core` installed and it works with previous version。

[2019-10-16 07:17] smallprogram commented on #152
Big Brother, this is too much trouble for you.

[2019-10-16 17:41] kyliau commented on #416
@iamcco Do you mind sharing your `tsconfig.json` please? Is `node_modules` excluded?

[2019-10-16 20:05] andrius-pra commented on #381
This issue is already fixed in angular [v9.0.0-next.11](https://github.com/angular/angular/blob/master/CHANGELOG.md#900-next11-2019-10-15)

[2019-10-16 20:06] andrius-pra commented on #255
This issue is already fixed in angular [v9.0.0-next.11](https://github.com/angular/angular/blob/master/CHANGELOG.md#900-next11-2019-10-15)

[2019-10-16 20:15] #255 closed

[2019-10-17 00:31] #381 closed

[2019-10-17 01:13] iamcco commented on #416
The tsconfig.json

[code]

[2019-10-17 20:09] andrius-pra commented on #416
Which version of @angular/core do you use? You can find version in package.json file.

[2019-10-17 21:42] kyliau commented on #416
@iamcco The tsconfig looks fine. Based on the screenshot you shared, it looks like there's another issue that could be the probable cause. It says "No config file for ..."
Please make sure you open a TypeScript file that has Angular directives in it and try again. It would be helpful if you could actually share the entire output messages and also the log file. Thank you!

[2019-10-18 02:47] iamcco commented on #416
@andrius-pra  I have  `@angular/core": "8.2.6"`

@kyliau
this is the full log when open ts file first.

[code]

if i first open html file it will have the `No config file for...` log

[code]

[2019-10-18 09:41] mgierw opened #422 "Sort pipeline used in ngFor causes properties of iterated array element are not recognized"
Extension version: 0.802.3
VS Code version: 1.38.1

For example:
[code]

Causes the following errors:

[code]

[2019-10-18 09:45] #422 closed

[2019-10-18 09:46] mgierw commented on #422
Duplicated
https://github.com/angular/vscode-ng-language-service/issues/345

[2019-10-18 17:27] kyliau commented on #416
@iamcco Thank you so much for sharing the log file, it's very helpful. In your case, there are files in your project which exceeded the hard-coded limit in tsserver. Specifically, it's this line:

[code]

The total size of your project exceeded 22477522 bytes, which causes tsserver to automatically disable the language service. The message about the project not being Angular is just a red herring.

[2019-10-18 23:49] #411 closed

[2019-10-19 00:40] jpike88 opened #429 "Enable way to easily profile performance of the plugin"
As this plugin does a couple of things which may involve a processing delay, it's probably a good idea to allow people using it to easily turn on some sort of easy way to see how long it takes for a given file to process. Is the processing pipeline it as simple as a run through TS with the angular plugin?

[2019-10-19 01:40] iamcco commented on #416
It's weird, I can also have native tsserver completion items.

update plugin to latst version and still get this error.

If delete dist directory I get this log now.

[log.log](https://github.com/angular/vscode-ng-language-service/files/3746092/log.log)

[2019-10-21 17:32] andrius-pra commented on #411
@kyliau, This bug is still valid in v0.900.0-next.2. The language server should only load typescript from workspace directory when version >= 3.6.0

[2019-10-21 17:58] kyliau commented on #429
Yes. Internally, `@angular/language-service` is installed as a tsserver plugin. It's all default TypeScript behavior. The only difference is that HTML files (external templates) are opened and passed to the server.

I'll look into a way to turn on timers to trace each request.

[2019-10-21 18:02] kyliau commented on #416
@iamcco It looks like you have an old version of `@angular/language-service` in `/Users/aioiyuuko/workspaces/pxn/anduin/node_modules/`. Could you please try to update to the latest v9 version and try again?
Even though there's a v9 version bundled with the extension as a fallback, it looks like `tsserver` prioritizes the `node_modules` directory where TS is found over the provided `pluginProbeLoca

[2019-10-21 18:19] kyliau commented on #416
I filed an issue with TypeScript: https://github.com/microsoft/TypeScript/issues/34616

[2019-10-21 23:28] ayazhafiz commented on #411
Reference @andrius-pra's PR #431

[2019-10-22 11:45] wrkettlitz commented on #345
It doesn't seem to support generics, i always get errors when i use generics

[2019-10-22 15:30] iamcco commented on #416
It works if install the latest version of @angular/language-service

[2019-10-22 18:07] kyliau commented on #416
I'll mark this issue closed for now. Please open another issue if similar problem occurs.

[2019-10-22 18:07] #416 closed

[2019-10-23 17:04] #242 closed

[2019-10-23 17:04] #358 closed

[2019-10-23 17:09] kyliau commented on #235
@andrius-pra thanks for the suggestion! I've tested it and submitted a PR. Marking this fixed for now.
Ref https://github.com/angular/angular/pull/33241

[2019-10-23 17:09] #235 closed

[2019-10-23 17:17] kyliau commented on #242
This will be available in `@angular/language-service` v9.0.0-next.13 onwards  or v9 rc. v9 rc is scheduled for later this week or next week.

[2019-10-28 05:13] jpike88 opened #432 "Plugin process maxing out for ages on each file load"
![Screen Shot 2019-10-28 at 12 12 08 pm](https://user-images.githubusercontent.com/9585787/67653528-57742080-f97c-11e9-8852-201facfc5b50.png)

^ This is happening practically non-stop, it's choking on files that don't even have angular templates enabled.

I'm uninstalling this plugin and just doing without, as it's rendering things unusable for me. I'm on a recent model Mac mini with 16gb of ram,

[2019-10-28 15:06] ayazhafiz commented on #432
What version of the plugin are you on?

[2019-10-28 17:15] kyliau commented on #432
@jpike88 Could you please provide the log files to help us debug this issues?
The location of the log file is shown when you open the output tab in vscode.
It'd look similar to this:
![Screenshot from 2019-09-18 14-52-29](https://user-images.githubusercontent.com/2941178/67700808-e88ecb80-f96b-11e9-8c62-5ba30caa2541.png)

[2019-10-28 23:05] kyliau opened #433 "Diagnostics span should not include whitespace"
Test case:

[code]

[2019-10-28 23:06] kyliau commented on #433
@ayazhafiz, do you think this is related / can be solved with absolute span?

[2019-10-28 23:20] #370 closed

[2019-10-29 00:09] ayazhafiz commented on #433
I've encountered this issue before:

https://github.com/angular/angular/blob/8b5ca670ad74ccc6ca1edd0eea06b9520143d557/packages/compiler/test/render3/r3_ast_absolute_span_spec.ts#L60-L69

I think it is an issue with the parser itself. I can look into it this weekend?

[2019-10-29 05:02] jpike88 commented on #432
I think I know the problem.

```107	918	44223	             /Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper /Users/joshpike/.vscode/extensions/angular.ng-template-0.900.0-next.6/server --logFile /Users/joshpike/Library/Application Support/Code/logs/20191029T115049/exthost1/Angular.ng-template/nglangsvc.log --logVerbosity terse --ngProbeLocations /

[2019-10-29 19:31] kyliau commented on #432
@jpike88 thanks for the logs! The logs did not give much info about the situation you encountered, but I think I should look into implementing [request cancellation](https://github.com/Microsoft/TypeScript/wiki/Standalone-Server-%28tsserver%29#cancellation).
This new extension started out as a prototype, so that part was skipped. It currently uses a null cancellation token.

https://github.com/ang

[2019-10-29 20:08] andrius-pra commented on #432
@kyliau, I think it's not necessary to request diagnostic messages on each key press. You can restore old [functionality ](https://github.com/angular/vscode-ng-language-service/blob/archive/server/src/errors.ts#L12-L28)from v0.802.3

[2019-10-29 21:48] #345 closed

[2019-10-30 00:21] #388 closed

[2019-10-30 04:37] jpike88 commented on #432
my tsconfig:

[code]

[2019-10-30 12:30] bundenilesh commented on #181
Close and reopen the VSCode

[2019-10-30 18:59] kyliau commented on #388
@ayazhafiz Did you manage to get the test to run ?

[2019-10-30 19:01] ayazhafiz commented on #388
Yep!

On Wed, Oct 30, 2019 at 1:59 PM Keen Yee Liau <notifications@github.com>
wrote:

[2019-10-30 20:18] kyliau commented on #432
Thanks for pointing that out. Typescript's default behavior is to wait 200ms after a change, and if there's no further change or reload messages then it'll send the diagnostics request.

https://github.com/microsoft/vscode/blob/7b944a16f52843b44cede123dd43ae36c0405dfd/extensions/typescript-language-features/src/features/bufferSyncSupport.ts#L493-L497

[2019-10-30 22:07] andrius-pra commented on #432
Typescript also cancels pending request and schedules a new event with initial delay. So it never check for errors while you writing the code.

https://github.com/microsoft/TypeScript/blob/304fcee09bca0f87180652160a0fff5e8cc80e4d/src/server/utilities.ts#L126-L161

https://github.com/microsoft/vscode/blob/7b944a16f52843b44cede123dd43ae36c0405dfd/extensions/typescript-language-features/src/utils/asy

[2019-10-30 22:19] kyliau commented on #299
Closing this, I believe this is not an issue with the Angular extension itself. Please reopen otherwise.

[2019-10-30 22:19] #299 closed

[2019-10-30 23:27] kyliau commented on #301
Closing this, @andrius-pra fixed this in https://github.com/angular/angular/pull/33016

[2019-10-31 18:00] #432 closed

[2019-10-31 21:06] andrius-pra opened #436 "The Angular Language Service server crashed 5 times in the last 3 minutes. The server will not be restarted."
Steps to reproduce:
1. install angular.ng-template-0.900.0-next.7 extention
2. create new angular app
3. remove `@angular/language-service` package from project or update to `v9.0.0-next.15` version
4. add this `{{ 5 / }}` interpolation to any template
5. you will get `The Angular Language Service server crashed 5 times in the last 3 minutes. The server will not be restarted.` popup and this error

[2019-10-31 22:07] ayazhafiz commented on #436
This is because such a template is invalid:

https://runkit.com/ayazhafiz/ng-parser-badexpression

We must have regressed on not blowing up when we have invalid templates.

[2019-10-31 22:38] kyliau commented on #436
It could be due to this PR: https://github.com/angular/angular/pull/33391
investigating..

[2019-10-31 23:02] kyliau commented on #436
last known good version: v9.0.0-next.3. Regressed starting from next.4 onwards.

changelog: https://github.com/angular/angular/compare/9.0.0-next.3...9.0.0-next.4

[2019-10-31 23:03] kyliau commented on #436
The diagnostic message used to be:
[code]

[2019-11-01 19:40] #436 closed

[2019-11-04 04:40] jpike88 commented on #395
bonus requests to make this plugin start kicking serious ass:

- auto-formatting applies to html and css as well as TS in one go
- css syntax highlighting is modernised (see attached image for incorrect highlighting)
- html and css can be collapsed/uncollapsed

![Screen Shot 2019-11-04 at 11 39 41 am](https://user-images.githubusercontent.com/9585787/68099924-d4ad1180-fef7-11e9-8b4c-0a36e983da0b.p

[2019-11-04 05:55] jpike88 commented on #395
Other irregularities with syntax highlighting (functions aren't being detected properly)

![Screen Shot 2019-11-04 at 12 34 39 pm](https://user-images.githubusercontent.com/9585787/68101848-52761a80-ff02-11e9-8c07-681380946ce0.png)

[2019-11-06 06:32] yglin commented on #308
+1, for the same reason of @t-animal, mocking a component in unit-test also triggers this error

[2019-11-06 06:40] JounQin commented on #308
It also affects modules for [stories](https://storybook.js.org/).

And, I don't need any `warning` or `suggestion` for it, I just want to disable it.

[2019-11-06 09:02] t-animal commented on #308
@yglin I eventually found out that if you don't export your mock component, it does not trigger the warning. So if you don't reuse the mock components and don't need to export it you're good (I don't know why we had some exported mock components in the first place, probably due to copy&paste laziness).

[2019-11-06 09:29] yglin commented on #308
@t-animal bullseye~!!
I checked the problematic mock component and it did has export directive.
I don't recall the reason but probably for reuse or so.
THANX~!!

[2019-11-07 18:27] kyliau commented on #144
This is due to way template variable declarations are determined.
https://github.com/angular/angular/blob/8912b11f56b9d1ca2a67317ca05005e5b8a6dae3/packages/compiler-cli/src/diagnostics/expression_diagnostics.ts#L93
First, we should traverse AST path from HEAD, then make available any variables that are in scope as we traverse the path. Would be happy to review a PR for this!

[2019-11-08 06:16] kyliau commented on #127
Closing this issue since it's more than two years old. Please open a new one if issue persists.

[2019-11-08 06:16] #127 closed

[2019-11-08 06:18] kyliau commented on #99
Closing this, since https://github.com/angular/angular/issues/17651 has been closed.

[2019-11-08 06:18] #99 closed

[2019-11-08 06:22] kyliau commented on #130
This has been implemented.
https://github.com/angular/vscode-ng-language-service/blob/d4a89884ca7ff586090121556383fa2bd8ba7f6d/server/src/session.ts#L419-L433

[2019-11-08 06:22] #130 closed

[2019-11-08 06:24] kyliau commented on #62
This has been implemented.
https://github.com/angular/vscode-ng-language-service/blob/d4a89884ca7ff586090121556383fa2bd8ba7f6d/server/src/session.ts#L419-L433

[2019-11-08 06:24] #62 closed

[2019-11-08 18:53] kyliau commented on #88
This has been fixed. https://github.com/angular/angular/blob/43ffe7257a3b88c590760ed81d0258481a7405d1/packages/language-service/test/diagnostics_spec.ts#L127-L130

[2019-11-08 18:53] #88 closed

[2019-11-08 18:56] kyliau commented on #192
Closing this, since https://github.com/angular/angular/issues/20260 has been closed. Please open a new issue if problem persists.

[2019-11-08 18:56] #192 closed

[2019-11-08 23:23] kyliau commented on #246
This has been fixed in https://github.com/angular/angular/pull/33311

[2019-11-08 23:23] #246 closed

[2019-11-08 23:32] kyliau commented on #258
@ayazhafiz fixed this in https://github.com/angular/angular/pull/33091

For reference, this is how the word boundary was determined before:
https://github.com/angular/vscode-ng-language-service/blob/a9f4440d671600ea32fb300478744dc5ede4c7ed/server/src/server.ts#L90-L107

Starting from v0.900.0, the replacement span is determined by looking at the proper AST.

[2019-11-08 23:33] kyliau commented on #295
Closing this, will track progress in #258

[2019-11-08 23:33] #295 closed

[2019-11-08 23:41] kyliau commented on #237
Could you please provide more info? Do you mean "syntax highlighting" in template, or the underline the shows up when you hover over the variable?
The language service does not have support for syntax highlighting, yet.
However, you should see proper **underline** when hovering over a variable, or click "Go to definition".
It'd be best if you could show a screenshot. Thank you!

[2019-11-08 23:43] kyliau commented on #181
This was fixed in https://github.com/angular/angular/pull/30075

[2019-11-08 23:43] #181 closed

[2019-11-08 23:44] kyliau commented on #175
Duplicate of https://github.com/angular/vscode-ng-language-service/issues/258

[2019-11-08 23:44] #175 closed

[2019-11-08 23:46] kyliau commented on #286
Could you please clarify what do you mean by "expected output"?
Do you expect to see diagnostics errors?
Please reopen issue with more info.

[2019-11-08 23:46] #286 closed

[2019-11-08 23:48] kyliau commented on #297
The language service does not support renaming (yet).
The error you saw was due to JSON parsing (unrelated to renaming), which was fixed in https://github.com/angular/vscode-ng-language-service/pull/346

[2019-11-08 23:48] #297 closed

[2019-11-08 23:49] kyliau commented on #292
This is fixed in v0.900.0, please download from the Releases tab in this repo to try it out.
It'll be released to the vscode marketplace in a few weeks.

[2019-11-08 23:49] #292 closed

[2019-11-08 23:51] kyliau commented on #178
I believe this has been fixed and is no longer an issue. Please reopen otherwise, thank you!

[2019-11-08 23:51] #178 closed

[2019-11-08 23:52] kyliau commented on #306
The Angular language service uses a HTML parser, so unfortunately it does not support Pug.

[2019-11-08 23:52] #306 closed

[2019-11-08 23:54] kyliau commented on #290
The extension that was shown in your logs, `typescript-language-features`, is the native vscode extension for Typescript, it is not Angular language service.

[2019-11-08 23:54] #290 closed

[2019-11-08 23:55] kyliau commented on #288
You can now click on templateUrl or styleUrls to open those files with the new language service, thanks to @ayazhafiz

[2019-11-08 23:55] #288 closed

[2019-11-08 23:59] kyliau commented on #171
The language service now has a debug mode which will print external templates discovered in the program to the logs if you set the environment variable `NG_DEBUG`.

[2019-11-08 23:59] #171 closed

[2019-11-09 00:00] kyliau commented on #164
Closing this, since this issue is more than two years old. Please open a new one if problem persists.

[2019-11-09 00:00] #164 closed

[2019-11-09 00:00] kyliau commented on #147
This has been fixed in v0.900.0 - debugging statements like these are no longer printed to the console.

[2019-11-09 00:00] #147 closed

[2019-11-09 00:04] kyliau commented on #172
@ayazhafiz could you please confirm that this is still the case with autocompletion?

[2019-11-09 00:06] kyliau commented on #273
From the logs, it doesn't seem like the error is caused by the language service.
Please reopen if this is not the case.

[2019-11-09 00:06] #273 closed

[2019-11-09 00:07] kyliau commented on #270
Tracking this in https://github.com/angular/vscode-ng-language-service/issues/162

[2019-11-09 00:07] #270 closed

[2019-11-09 00:09] kyliau commented on #259
This is a duplicate of https://github.com/angular/vscode-ng-language-service/issues/29

[2019-11-09 00:09] #259 closed

[2019-11-09 00:11] kyliau commented on #162
Possible duplicate: https://github.com/angular/vscode-ng-language-service/issues/29
What's the difference between "Find all references" and "References CodeLens"?

[2019-11-09 00:12] kyliau commented on #268
We could print the process ID of the server to the editor console.

[2019-11-09 00:13] kyliau commented on #262
@ayazhafiz could you please confirm if this is still the case?

[2019-11-09 00:14] kyliau commented on #222
Closing this, since the work is already done.

[2019-11-09 00:14] #222 closed

[2019-11-09 00:15] kyliau commented on #219
Closing this, I believe this has already been fixed. Please open a new issue otherwise, thank you!

[2019-11-09 00:15] #219 closed

[2019-11-09 02:05] #258 closed

[2019-11-09 02:09] ayazhafiz commented on #395
If no one else is interested in picking this up, I'll start on this next week :)

[2019-11-09 02:44] ayazhafiz commented on #172
So in current versions of the language service it seems that completions like `(click)` do not include `=` or quotes after the `(click)` expression, but parentheses are duplicated; i.e.

`(cl|)` is completed to `((click))`

One way to resolve this is what we discussed "offline"; we should only provide such completions inside parentheses without the parentheses being part of the completion. We coul

[2019-11-09 02:55] ayazhafiz commented on #262
I can't reproduce this. I don't think `=`s are completed anymore.

[2019-11-09 02:55] ayazhafiz commented on #262
Closing, please open a new issue if you are experiencing this.

[2019-11-09 02:55] #262 closed

[2019-11-10 16:09] andrius-pra opened #437 "@angular/language-service gets loaded from wrong location"
Steps to reproduce:

1. Install angular.ng-template-0.900.0-rc.0 extension.
2. install latest angular cli: `npm install -g @angular/cli`
3. create new angular project `ng new demo`
4. open new project in vscode `cd demo & code .`
5. open `app.component.html`.  you will get `No config file for app.component.html` error in output window:
[code]
6. open `app.component.ts`
7. open again app.component.

[2019-11-11 21:38] kyliau commented on #437
Looking at the logs, I think this is due to https://github.com/microsoft/TypeScript/issues/34616

Even though we resolved the location of `@angular/language-service` and asked tsserver to load the plugin from that location, tsserver would look in `typescript`'s peer node_modules **before** using the path we provide.

I deduce this based on the line `language-service.umd.js:49429`
This must be usin

[2019-11-11 21:39] kyliau commented on #437
@andrius-pra, could you please manually inspect the version in `e:\demo\demo\node_modules\@angular\language-service\package.json`?

[2019-11-11 21:50] kyliau commented on #417
Closing this, since https://github.com/angular/angular/pull/33091 is done.

[2019-11-11 21:50] #417 closed

[2019-11-11 21:58] kyliau commented on #437
Maybe the solution here is to invert the default? We load TS and Angular from the bundled location, but provide users with an option load from workspace.
This means we could avoid nasty surprises like this (and the no config found for HTML bug), but it could introduce inconsistency between user's workspace version vs the bundled version.

[2019-11-11 22:04] ayazhafiz commented on #437
I think we should leave probing the workspace version as being the default.

[2019-11-11 22:07] kyliau commented on #311
There are two issues here:

1. Angular language service not updating diagnostics as the file changes.
2. Diagnostics produced by the language service are different from those produced by the compiler.

(2) is a longer term effort to integrate Ivy into the language service. Based on the issue title and the discussion above, I will focus on (1) in this ticket.

We have solved (1) by
1. Update diagno

[2019-11-11 22:09] kyliau commented on #309
Tracking it in https://github.com/angular/vscode-ng-language-service/issues/224.
This will be fixed in the v9 release.

[2019-11-11 22:09] #309 closed

[2019-11-11 22:10] kyliau commented on #310
The root cause of this is due to https://github.com/angular/vscode-ng-language-service/issues/224. Will use that ticket to track this issue.

[2019-11-11 22:10] #310 closed

[2019-11-11 22:12] kyliau commented on #287
Will track this in https://github.com/angular/vscode-ng-language-service/issues/224

[2019-11-11 22:12] #287 closed

[2019-11-11 22:12] kyliau commented on #224
This is fixed in the new extension, which will be released in conjunction with Angular v9.
Meanwhile please try out the RC version by downloading the binary from the Release page.

[2019-11-11 22:13] kyliau commented on #280
Closing this since issue looks like it's fixed. Please open a new issue otherwise, thank you!

[2019-11-11 22:13] #280 closed

[2019-11-11 22:54] kyliau commented on #275
We used to register Angular template as a custom file type, but that has since been removed. This should not be an issue anymore. Please reopen the ticket otherwise, thank you!

[2019-11-11 22:54] #275 closed

[2019-11-11 23:13] kyliau commented on #198
Closing this, please track the latest status [here](https://github.com/angular/vscode-ng-language-service/issues/335).

[2019-11-11 23:13] #198 closed

[2019-11-11 23:16] kyliau commented on #335
I'm happy to announce that the RC version has been released, and in a few weeks time a brand new extension will be published to vscode [marketplace](https://marketplace.visualstudio.com/items?itemName=Angular.ng-template).
In the meantime, if you'd like to try it out, please download the binary from the [Release](https://github.com/angular/vscode-ng-language-service/releases) page.
We are currentl

[2019-11-11 23:37] kyliau commented on #197
Closing this, since issue is two years old. It has already been fixed.

[2019-11-11 23:37] #197 closed

[2019-11-11 23:38] kyliau commented on #122
Closing this, since issue is more than two years old and has since been fixed.

[2019-11-11 23:38] #122 closed

[2019-11-11 23:39] kyliau commented on #104
Closing this, since issue is more than two years old and has since been fixed.

[2019-11-11 23:39] #104 closed

[2019-11-11 23:42] kyliau commented on #111
@ayazhafiz is there any work left? If not, could you please close this? Thank you!

[2019-11-11 23:44] kyliau commented on #114
In the new extension, there's a mechanism to detect non-Angular projects and disable the language service completely. Please open a new issue if this problem persists.

[2019-11-11 23:44] #114 closed

[2019-11-11 23:45] #111 closed

[2019-11-11 23:50] kyliau commented on #284
The logs do not contain any information that's related to the language service. Please open a new issue with more information to help us debug the crash. Thank you!

[2019-11-11 23:50] #284 closed

[2019-11-11 23:52] kyliau commented on #218
Closing this, since this has been fixed. Please open a new issue otherwise. Thank you!

[2019-11-11 23:52] #218 closed

[2019-11-11 23:52] kyliau commented on #212
This has been fixed in the new extension. Please open a new issue otherwise. Thank you!

[2019-11-11 23:52] #212 closed

[2019-11-11 23:54] kyliau commented on #203
The new extension loads @angular/language-service from the workspace (node_modules) by default. There's also a new config `ngdk` for manually overriding the path.
It falls back to the bundled version if the language service could not be found anywhere in those paths.

[2019-11-11 23:54] #203 closed

[2019-11-11 23:55] kyliau commented on #191
Issue is two years old and has since been fixed.

[2019-11-11 23:55] #191 closed

[2019-11-11 23:56] kyliau commented on #182
Issue is two years old and has since been fixed.

[2019-11-11 23:56] #182 closed

[2019-11-11 23:59] kyliau commented on #156
Issue is two years old and has since been fixed.

[2019-11-11 23:59] #156 closed

[2019-11-12 00:06] #144 closed

[2019-11-12 00:20] andrius-pra commented on #437
[code]

[2019-11-12 01:47] kyliau commented on #437
yeah, it's v8.2.13. I guess we'll have to wait for TypeScript to release the change I made. Does anyone know if they're gonna backport the commit to older versions?

[2019-11-12 21:15] andrius-pra commented on #437
typescript 3.7.2 is already released and it contains your change.

[2019-11-12 21:57] kyliau commented on #342
This is similar to https://github.com/angular/vscode-ng-language-service/issues/336
Will use that issue to track this problem.

[2019-11-12 21:57] #342 closed

[2019-11-12 21:57] kyliau commented on #249
This has been fixed in v0.900.0 onwards

[2019-11-12 21:57] #249 closed

[2019-11-12 21:59] kyliau commented on #174
This is similar to https://github.com/angular/vscode-ng-language-service/issues/336
Will track this issue there.

[2019-11-12 21:59] #174 closed

[2019-11-12 21:59] kyliau commented on #247
This is similar to https://github.com/angular/vscode-ng-language-service/issues/336
Will track this issue there.

[2019-11-12 21:59] #247 closed

[2019-11-12 22:02] kyliau commented on #336
Update: v0.900.0 should have solved most performance issues. It's a complete rewrite of the underlying language service, and much improvements have been made to speed up initial load time and incremental parsing.

[2019-11-12 22:04] kyliau commented on #285
In your test file, please make sure that test components are not exported. It should remove the error.
We will also look at https://github.com/angular/vscode-ng-language-service/issues/308 to let users disable certain category of errors.

[2019-11-12 22:04] #285 closed

[2019-11-12 22:06] kyliau commented on #312
Closing this, since the issue has been fixed. Please reopen otherwise.

[2019-11-12 22:06] #312 closed

[2019-11-12 22:07] kyliau commented on #285
Please see https://github.com/angular/vscode-ng-language-service/issues/308#issuecomment-550213532

[2019-11-12 22:13] nhustak commented on #336
That is awesome to hear.

[2019-11-12 22:14] kyliau commented on #274
This is similar to https://github.com/angular/vscode-ng-language-service/issues/336
Will track issue there.

[2019-11-12 22:14] #274 closed

[2019-11-12 22:16] #268 closed

[2019-11-12 22:18] kyliau commented on #233
This has been fixed by https://github.com/angular/angular/pull/33016 and https://github.com/angular/angular/pull/33245

[2019-11-12 22:18] #233 closed

[2019-11-12 22:20] kyliau commented on #250
This is similar to https://github.com/angular/vscode-ng-language-service/issues/110
Will track progress in that ticket.

[2019-11-12 22:20] #250 closed

[2019-11-12 22:30] kyliau commented on #336
Here's some highlights on what we did to improve performance:

1. Project management is now completely managed by TypeScript.
The code was forked from TypeScript before, but now it has been completely removed.
2. Cache module resolution at startup
Earlier versions do not cache this data, and it's why performance suffered. We saw improvements in terms of number of filesystem operations by as much a

[2019-11-13 00:02] kyliau commented on #236
@anhallbe @DerZyklop
My apologies for the lack of response. I recently took over this project and started to comb through the issues. The language service has been completely rewritten, so many problems like these have been fixed. Could you please give it another try and let me know if it works?
If not, please feel reopen this ticket. Thank you!

[2019-11-13 00:02] #236 closed

[2019-11-13 00:04] kyliau commented on #230
Closing this, since Angular now uses TypeScript 3.6.
Please upgrade to the latest version, and let us know if you still run into this problem. Thank you!

[2019-11-13 00:04] #230 closed

[2019-11-13 01:47] kyliau commented on #234
Sorry it took so long, https://github.com/angular/angular/pull/33782 should fix this.

[2019-11-13 16:12] ayazhafiz commented on #293
this should be a compile-time error, no? @kyliau @alxhub

[2019-11-14 13:52] Toso82 opened #440 "@angular/language-service stop to work suggest on HTML template"
With latest version of VsCode:

Versione: 1.40.1 (user setup)
Commit: 8795a9889db74563ddd43eb0a897a2384129a619
Data: 2019-11-13T16:49:35.976Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

Stop variable suggest on HTML Template
[code]
[code]

[2019-11-14 18:06] kyliau commented on #440
Could you please open the Output console in vscode and paste the first few lines here?
It should look similar to this.

![Screenshot from 2019-09-18 14-52-29](https://user-images.githubusercontent.com/2941178/68883678-5ce4a100-06c6-11ea-9c38-b6c7e14e8fa7.png)

[2019-11-14 18:54] kyliau commented on #158
Closing this, since original issue is more than 2 years old. The extension now prints version number of @angular/language-service to the console.

[2019-11-14 18:54] #158 closed

[2019-11-14 22:40] IngAjVillalon opened #441 "False error using the ReactiveFormsModule"
Hello, congratulations on your excellent work in developing this plugin. It is awesome!

I want to report that when I use FormGroup and FormControl with ReactiveFormsModule:

[code]

In the HTML the template I get a false error in the validators:
`* ngIf = "signInForm.controls.password.invalid"`
I get the following error:

No intention is to ask you to fix that, but a way to make an exception for

[2019-11-14 23:06] ayazhafiz commented on #441
I opened an issue a while ago to support configuration of reported errors (https://github.com/angular/angular/issues/32663). Such a configuration probably won't be done until after the Ivy rewrite, as it will likely require a sizable change in architecture.

[2019-11-14 23:21] IngAjVillalon commented on #441
@ayazhafiz , thank you very much for the information. I'll follow it.
Have a good day my friend.

[2019-11-14 23:21] #441 closed

[2019-11-15 07:30] Toso82 commented on #440
@kyliau

[code]

[2019-11-15 10:24] Pommes9485 commented on #440
I seem to be having the same issue, although the autocomplete function in my templates havn't been working for a longer time, hard to say how long exactly.
This seems to be project depended for me, new projects have working autocomplete in templates.
The output for me:

[code]

[2019-11-15 20:00] #234 closed

[2019-11-16 22:17] ayazhafiz commented on #277
fixed with https://github.com/ayazhafiz/angular/commit/ec1fa59629bdbfcebd0223694e0cb5af4e2bb984

[2019-11-16 22:17] #277 closed

[2019-11-16 22:18] ayazhafiz commented on #110
fixed with https://github.com/angular/angular/commit/53fc2ed8bf345222e0c3d53ce7f13a4f27f3052e

[2019-11-16 22:18] #110 closed

[2019-11-18 15:38] Airblader opened #651 "Language service infers incorrect type in structural directive using "as""
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/language-service.

### Is this a regression?

I don't think so.

### Description

According to the [docs](https://angular.io/guide/structural-directives), the structural directive syntax

[code]

is desuggared into the following:

[code]

If the structural directive has an `appTest` property on the context with which it c

[2019-11-19 05:22] kyliau commented on #213
We published @npm/language-server, and it's currently in version 9 RC.
https://www.npmjs.com/package/@angular/language-server

[2019-11-19 14:46] scottjreece commented on #440
Same problem here. Any updates or workarounds?

Here's a little info on which versions I'm using:

Angular CLI: 8.3.19
Node: 10.16.0
OS: win32 x64
Angular: 8.2.14
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... platform-server, router

Package                                    Version
--------------------------------

[2019-11-20 09:57] FDIM opened #443 "fullTemplateTypeCheck support"
I may have ran into an issue or a unsupported configuration

Is fullTemplateTypeCheck angular compiler option supposed to work?

UI:
![image](https://user-images.githubusercontent.com/1985429/69228547-0c68ba00-0b84-11ea-954c-fa26cec3cced.png)

During AOT build I am getting following error:
[code]
Basically `removeHighlightDate` does not accept any params and typescript compilation fails, but langu

[2019-11-20 16:29] ayazhafiz commented on #443
I think this is because we don't check the call signature of the component methods used in a template.

[2019-11-22 14:13] BAZUKEN commented on #440
I found solution for myself!
If project path contain not only EN characters like user **Pommes9485** has

Angular service didnt work at all.

[2019-11-22 15:25] SteffenKoehler commented on #440
Maybe you can try to install the latest (beta) version of the extension https://github.com/angular/vscode-ng-language-service/releases/tag/v0.900.0-rc.3
This works for me again without problems.

[2019-11-22 19:02] kyliau commented on #440
Thank you @SteffenKoehler for pointing that out.
We have completely reworked the extension, and next week (Nov. 25) we will publish a new version to the marketplace that solves many fundamental issues like this.

[2019-11-22 22:51] kyliau commented on #437
It looks like the change is not yet in ts 3.7.2
I checked the tag in the [commit](https://github.com/microsoft/TypeScript/commit/f689982c9f2081bc90d2192eee96b404f75c4705), there's none.
I also inspected the [source code](https://unpkg.com/typescript@3.7.2/lib/tsserver.js), and searched for `peer node_modules`, it's still the old behavior.

[2019-11-23 00:46] kyliau commented on #240
This is the same as https://github.com/angular/vscode-ng-language-service/issues/224, will track the issue there.

[2019-11-23 00:46] #240 closed

[2019-11-23 00:48] kyliau commented on #245
Could you please provide more info?
1. version of language service (run `ng version`)
2. log files from the extension output
3. actual error message / stack trace.
Please reopen issue with more info, thank you!

[2019-11-23 00:48] #245 closed

[2019-11-23 00:51] kyliau commented on #217
Closing this, since issue was solved in https://github.com/angular/vscode-ng-language-service/issues/217#issuecomment-360890538

[2019-11-23 00:51] #217 closed

[2019-11-23 01:03] kyliau commented on #214
Closing this, since original issue was fixed in https://github.com/angular/vscode-ng-language-service/issues/214#issuecomment-359961369

[2019-11-23 01:03] #214 closed

[2019-11-23 01:08] kyliau commented on #148
We'll look into a way to provide custom template path resolution, but it'll take a while. Probably after Angular v10.

[2019-11-23 01:09] kyliau commented on #237
Closing this, please open a new issue with more info, and include a screenshot. Thank you!

[2019-11-23 01:09] #237 closed

[2019-11-23 01:11] kyliau commented on #167
Closing this, since issue has been more than two years old. Please open a new issue with more info.

[2019-11-23 01:11] #167 closed

[2019-11-23 01:11] kyliau commented on #169
Closing this, since issue is more than two years old.

[2019-11-23 01:11] #169 closed

[2019-11-23 01:12] kyliau commented on #162
Will track this in https://github.com/angular/vscode-ng-language-service/issues/29

[2019-11-23 01:12] kyliau commented on #129
Closing this, since issue is more than two years old.

[2019-11-23 01:12] #129 closed

[2019-11-23 12:00] ferozsho commented on #436
The Angular Language Service server crashed 5 times in the last 3 minutes. The server will not be restarted.

Extension version: 0.802.3
VS Code version: Code - Insiders 1.41.0-insider (a747d264d668a947eeacd3492b60df6ce8dee6b4, 2019-11-23T11:09:42.834Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770 CPU @ 3.40

[2019-11-23 12:01] ferozsho opened #449 "extension fails to load in vscoder insider (debug mode)"
Issue Type: <b>Bug</b>

The Angular Language Service server crashed 5 times in the last 3 minutes. The server will not be restarted.

Extension version: 0.802.3
VS Code version: Code - Insiders 1.41.0-insider (a747d264d668a947eeacd3492b60df6ce8dee6b4, 2019-11-23T11:09:42.834Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Cor

[2019-11-23 12:18] andrius-pra commented on #436
Could you run `ng version` command in your project directory and paste output.
![version](https://user-images.githubusercontent.com/17968027/69478513-13016680-0dfc-11ea-9d66-5a1a72b7e123.gif)

[2019-11-23 14:20] ferozsho commented on #436
Angular CLI: 7.3.8
Node: 10.16.1
OS: win32 x64
Angular: 5.2.11
... animations, common, compiler, compiler-cli, core, forms
... http, platform-browser, platform-browser-dynamic

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect         0.13.8 (cli-only)
@angular-devkit/build-optimizer   0.0.35
@angular-devkit/core

[2019-11-23 14:41] andrius-pra commented on #449
output logs:
[code]
VSCode insider tries to load the extension in [debug mode](https://github.com/angular/vscode-ng-language-service/blob/archive/client/src/extension.ts#L29-L50). The debug mode [uses non-existing path ](https://github.com/angular/vscode-ng-language-service/blob/archive/client/src/extension.ts#L30)for server module.

[2019-11-23 22:30] oocx opened #450 ""install failed. Element 'Identity' has invalid value for attribute 'Version'"
I just downloaded the .vsix for v0.900.0-rc.3. When I open it, I get a popup with the error message:

[code]
That's in the install log:
[code]

My VS Code version is 1.40.1 (user setup).
I'm using Windows 10 Build 19023.

[2019-11-23 22:37] oocx commented on #450
I just found out that it works when I use "install from vsix" instead of just opening the vsix file directly.

[2019-11-24 14:47] #437 closed

[2019-11-24 22:21] #450 closed

[2019-11-25 07:24] juristr commented on #449
Can confirm. Just installed rc.3 on inside version and I'm getting the same issue

[2019-11-25 11:20] wrkettlitz commented on #436
[code]

[2019-11-25 11:42] andrius-pra commented on #449
I think it's caused by  microsoft/vscode#85417. This pull request added `inspect-port=0` to process arguments and this change will force  to run all extensions in debug mode because of arguments will match [DEBUG_FLAGS_PATTERN](https://github.com/microsoft/vscode/blob/0d9307ff597666896bc02d0d8cad84de193f2f7e/src/vs/code/electron-browser/processExplorer/processExplorerMain.ts#L24) pattern.

[2019-11-25 12:44] PowerMogli commented on #449
Any idea what we can do?

[2019-11-25 14:03] alagane commented on #252
In the same way, using  `Shift` + `F12` to find references from the component code should also show those of the template.

[2019-11-25 18:03] kyliau commented on #436
@wrkettlitz Please see https://github.com/angular/vscode-ng-language-service/issues/449
The extension currently has known issues working with vscode insider.

[2019-11-25 18:18] andrius-pra commented on #449
Update to latest version. This issue (microsoft/vscode#85490) is already fixed.

[2019-11-25 19:48] kyliau commented on #336
The new extension is now live. Please download it from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template
I'd like to close this issue for now. If there's any performance bugs that remain, please open a new issue. Thank you!

[2019-11-25 19:48] #336 closed

[2019-11-25 19:49] kyliau commented on #311
The new extension is now live. Please download it from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template
I'd like to close this issue for now. Please open a new issue for any lingering bugs, thank you!

[2019-11-25 19:49] #311 closed

[2019-11-25 19:50] kyliau commented on #335
The new extension is now live. Please download it from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template

[2019-11-25 19:52] kyliau commented on #173
The new extension is now live. Please download it from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template
I'd like to close this issue for now. Please open a new issue for any lingering bugs, thank you!

[2019-11-25 19:52] #173 closed

[2019-11-25 19:53] kyliau commented on #440
The new extension is now live. Please download it from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template
I'd like to close this issue for now. Please open a new issue for any lingering bugs, thank you!

[2019-11-25 19:53] #440 closed

[2019-11-25 19:54] kyliau commented on #224
The new extension is now live. Please download it from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template
I'd like to close this issue for now. Please open a new issue for any lingering bugs, thank you!

[2019-11-25 19:54] #224 closed

[2019-11-25 19:56] kyliau commented on #210
Could you please try out the latest version and check if the problem still exists?
We've completely rewrote the entire extension, and it has fixed many fundamental problems like this.
I'd like to close this issue for now, since it is almost two years old.
Please open a new issue if this bug still persists. Thank you.

[2019-11-25 19:56] #210 closed

[2019-11-25 19:56] #449 closed

[2019-11-25 19:57] kyliau commented on #185
We have completely rewrote the extension, and it has fixed many fundamental problems like this.
Please download it from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template
I'd like to close this issue for now. Please open a new issue for any lingering bugs, thank you!

[2019-11-25 19:57] #185 closed

[2019-11-25 20:01] kyliau commented on #145
We have completely rewrote the extension, and it has fixed many fundamental issues like this.
The new extension is now live. Please download it from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template
I'd like to close this issue for now. Please open a new issue for any lingering bugs, thank you!

[2019-11-25 20:01] #145 closed

[2019-11-25 20:05] kyliau commented on #232
Similar to https://github.com/angular/vscode-ng-language-service/issues/177, will track this issue there.

[2019-11-25 20:05] #232 closed

[2019-11-25 20:08] kyliau commented on #180
We have completely rewrote the extension, and it has fixed many fundamental issues like this.
The new extension is now live. Please download it from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template
I'd like to close this issue for now. Please open a new issue for any lingering bugs, thank you!

[2019-11-25 20:08] #180 closed

[2019-11-25 20:13] kyliau commented on #261
This is similar to https://github.com/angular/vscode-ng-language-service/issues/380, will track issue there.

[2019-11-25 20:13] #261 closed

[2019-11-25 20:13] kyliau commented on #315
Will track issue in https://github.com/angular/vscode-ng-language-service/issues/126

[2019-11-25 20:13] #315 closed

[2019-11-25 20:14] kyliau commented on #337
Similar to https://github.com/angular/vscode-ng-language-service/issues/93, will track issue there

[2019-11-25 20:14] #337 closed

[2019-11-25 20:20] kyliau commented on #13
Original issue is three years old and is already fixed.

[2019-11-25 20:20] #13 closed

[2019-11-25 22:01] kyliau commented on #443
Full template type checking is a feature planned for version 10. Please stay tuned!

[2019-11-25 22:06] kyliau commented on #79
We used to implement custom logic for discovering and parsing tsconfig.json, and missed path mappings in the process.
This is no longer the case with the new extension released today.
Since original issue is more than two years old, I'd like to close it.
Please file a new issue if similar behavior still exists in the new extension.
Thank you very much!

[2019-11-25 22:06] #79 closed

[2019-11-25 22:28] kyliau commented on #93
Sorry everyone that it took so long for us to address this issue. The PR above should fix it.

[2019-11-25 22:49] kyliau commented on #244
This is similar to https://github.com/angular/vscode-ng-language-service/issues/340, will track issue there.

[2019-11-25 22:49] #244 closed

[2019-11-25 22:51] kyliau commented on #271
This is similar to https://github.com/angular/vscode-ng-language-service/issues/291, will track issue there.

[2019-11-25 22:51] #271 closed

[2019-11-25 22:51] kyliau commented on #291
@LeonardoX77 I was unable to reproduce the error. Could you please show the TypeScript code in the example you gave?

[2019-11-25 22:58] kyliau commented on #291
I created the test case below, but it did not produce any error, could someone please point out what I missed?

[code]

[2019-11-25 23:01] kyliau commented on #296
This is similar to https://github.com/angular/vscode-ng-language-service/issues/149, will track issue there.

[2019-11-25 23:01] #296 closed

[2019-11-26 03:30] #93 closed

[2019-11-26 04:22] ayazhafiz commented on #433
This will be fixed with https://github.com/angular/angular/pull/33549.

[2019-11-26 05:41] JonWallsten opened #457 "language service does not support re-exports in source code"
_First, thanks for the new update and all the hard work behind it! It's really appreciated._

**Describe the bug**
In our project we import all the material components we're using into a single shared module, that module is then imported into our app.module.ts. It seems like the new Angular Language Services is unable to detect this. The shared module is not compiled. It's just imported from anoth

[2019-11-26 05:51] ayazhafiz commented on #457
@kyliau is this because we only retrieve diagnostics for the currently-open file? I imagine it wouldn't be, but you know more about this than I do :)

FWIW the unknown element diagnostics were introduced in https://github.com/angular/angular/pull/33064 (Angular 9.0.0-next.11).

@JonWallsten do you remember the last version of the language service plugin you used where this diagnostic did not appea

[2019-11-26 06:37] JonWallsten commented on #457
@ayazhafiz: That would probably be v0.802.3. Since we still have compiling issues with IVY we're still on Angular 8.

[2019-11-26 10:36] faserg1 commented on #328
I think that manually adding exclude folders is not a solution of o problem at all.

[2019-11-26 11:58] SteffenKoehler commented on #291
I think it might be related to the service being declared private in the constructor.

Public
![basePublic](https://user-images.githubusercontent.com/9463791/69629228-64079980-104c-11ea-9907-846fbfd408f2.png)

Private
![basePrivate](https://user-images.githubusercontent.com/9463791/69629264-68cc4d80-104c-11ea-85c4-b8823a56bd19.png)

[2019-11-26 16:42] ayazhafiz commented on #457
@JonWallsten can you confirm that the example here compiles with the AOT compilation strategy (`ng build --aot` if you're using the CLI)? For me, it only compiles if I re-export the material component from the wrapper module it was imported in.

[2019-11-26 17:12] fbcarpinato opened #458 "Component not found in NgModule"
**Describe the bug**
In every component of my project, I get the error that tells me that I didn't import the component inside the NgModule, but in reality, it compiles and works.

A clear and concise description of what the bug is.
The language service don't recognize the component as registered in a NgModule.

**To Reproduce**
Update to 0.900

Steps to reproduce the behaviour:
1. Go to a compone

[2019-11-26 18:02] kyliau commented on #458
@fbcarpinato is your `NgModule` exported?
We only look for `@Component` and `@NgModule` that are exported (that could totally be a bug on our side).

[2019-11-26 18:03] kyliau commented on #457
I think this might be similar to https://github.com/angular/vscode-ng-language-service/issues/458
@JonWallsten Could you please confirm that your NgModule is exported?
We only look for @Component and @NgModule that are exported (that could totally be a bug on our side).

[2019-11-26 18:52] kyliau commented on #291
@SteffenKoehler Thank you for the clarification.
In this case, the language service is working as intended.
Private fields (whether in the current class or parent classes) are not visible in template.

[2019-11-26 18:53] kyliau commented on #291
I'll mark this issue as closed for now.

[2019-11-26 18:53] #291 closed

[2019-11-26 19:07] kyliau commented on #457
I followed the steps mentioned above, but was unable to reproduce the error.

1. import `MatButtonModule` from `@angular/material`
![app-module](https://user-images.githubusercontent.com/2941178/69664238-d2446000-103c-11ea-810d-a4505ad5a314.png)

2. Add `MatButtonModule` to `imports`

3. Use `mat-button` in template
![app-template](https://user-images.githubusercontent.com/2941178/69664280-e5efc68

[2019-11-26 19:11] kyliau commented on #458
@fbcarpinato Could you please attach a screenshot of the console output and the log file contents?
It should look like this:

![output](https://user-images.githubusercontent.com/2941178/69664544-71695780-103d-11ea-8ca0-f23c4a8b9e07.png)

[2019-11-26 19:17] Chrisssel commented on #149
**Same issue.**

f.email.errors.email.required Fails
!!f.email.errors.email.required Fails
f.email?.errors.email.required Fails
f?.email?.errors.email.required Fails
f.email.error.['required'] Fails
f.email?.error.['required'] Fails

**This worked for me:**

f['email'].errors.required

[2019-11-26 19:30] JonWallsten commented on #457
@kyliau: I'm using Webpack/AOT. When I think about it the material components are inside a ngModule called MaterialModule, which is imported in our WebLibAngular module, which is then imported in our AppModule. I actually have a skeleton repo for our project that I use for Angular bugs.
Amongst other this one: https://github.com/angular/angular/issues/34027.
Not sure it they are related though eve

[2019-11-26 19:44] ayazhafiz commented on #149
Should be fixed with https://github.com/angular/angular/pull/33884.

[2019-11-26 21:03] kyliau opened #459 "Go to definition for attribute value"
**Is your feature request related to a problem? Please describe.**

It's not a problem, just a missing feature.

**Describe the solution you'd like**

In a template, I'd like to click on a bounded attribute value, and jump to the code.

[code]

[2019-11-27 00:06] #126 closed

[2019-11-27 00:28] #149 closed

[2019-11-27 01:13] kyliau commented on #459
Actually, this is already implemented.

[2019-11-27 01:13] #459 closed

[2019-11-27 05:04] sheikalthaf opened #460 "index value is not number error in template"
**Describe the bug**

Showing error for index value from ngFor is not numeric value.
[code]
**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

A clear and concise description of what you expected to happen.

**Logs**

Please attach two logs:

1. Console output (Go to toolbar --> View --> Output, and cop

[2019-11-27 05:19] ChamaraWP commented on #460
I getting same kind of error for the *ngIf check. I didn't get this before
![Capturess](https://user-images.githubusercontent.com/21265782/69695793-93c5a880-1103-11ea-90e3-c3c2c2fb9946.PNG)

[2019-11-27 08:11] fbcarpinato commented on #458
<img width="1149" alt="Schermata 2019-11-27 alle 09 10 26" src="https://user-images.githubusercontent.com/18047094/69705416-cec0df80-10f5-11ea-8adc-5486e517be9d.png">

[2019-11-27 08:32] stefanFCB94 opened #463 "No metadata found for component"
**Describe the bug**

Since the latest version (0.900.0) I get for every component with inline template a error message.
The shown error message is displayed in the attached screenshot.

**To Reproduce**

Steps to reproduce the behavior:
1. Update to version 0.900.0
2. Create a component with an inline template
3. Error is displayed

**Expected behavior**

No error should be shown

**Logs**

Pleas

[2019-11-27 08:59] crisz opened #464 ""Initializing Angular language features" remains pending in VS Code 1.40.2"
**Describe the bug**

After the update of Visual Studio Code from 1.40.1 to 1.40.2, in the bottom left the message "Initializing Angular language features" is stuck and the language features don't get enabled.

**To Reproduce**

Steps to reproduce the behavior:
1. Install VS Code 1.40.1 and install the Angular Language Features plugin
2. Update to VS Code 1.40.2

**Expected behavior**

The plugin

[2019-11-27 09:26] dylanvdmerwe opened #465 "bug: expected the operants to be of similar type or any"
**Describe the bug**

When you have an `ngFor` that contains a `let i = index`, using the `i` variable later in the template is highlighted as an error.

For example:
![image](https://user-images.githubusercontent.com/2852839/69710273-c96c9080-1107-11ea-9c9a-66a923b4bf49.png)

"Expected the operants to be of similar type or any" if the error that is shown.

![image](https://user-images.githubuserc

[2019-11-27 15:34] ayazhafiz commented on #465
Duplicate of #460. Tracking there.

[2019-11-27 15:34] #465 closed

[2019-11-27 17:51] kyliau commented on #464
@andrius-pra, would you mind taking a look at this please?

[2019-11-27 18:55] kyliau commented on #458
I think this shares the same root cause as https://github.com/angular/vscode-ng-language-service/issues/457, I'll use that ticket for investigation for now.

[2019-11-27 20:01] kyliau commented on #457
I finally got to the bottom of this.

tldr; Language service does not support re-exports in source code.

In this case, I investigated the package `web-app-prime`.

1. When libraries are imported from `node_modules`, the language service expects that it is compiled code, not source code. This means the language service expects the presence of `metadata.json` to tell it about re-exports.
2. `web-ap

[2019-11-27 20:03] kyliau commented on #457
For comparison, `@angular/material` for example, provides `index.metadata.json`. That's why the language service is able to resolve it correctly even though it re-exports symbols from other files.
https://unpkg.com/browse/@angular/material@8.2.3/button/

[2019-11-27 20:11] andrius-pra commented on #464
This error occurred [here](https://github.com/microsoft/TypeScript/blob/25ec62f892bf6d6b383552d2294392c567727056/src/server/project.ts#L1082) because at least one template file doesn't exist in a file-system. A possible fix is [here](https://github.com/andrius-pra/angular/commit/56edbe16876a8c54ec080fe34a3d602831c0d6b6#diff-e7327c8cc47daa697efe4f4dbd50e247R189-R193).

[2019-11-27 21:38] kyliau commented on #464
I think more generally, if the language service fails to load the project, we should update the status accordingly, so that users don't think the project is still loading.

[2019-11-28 08:29] JonWallsten commented on #457
@kyliau: Cool! Thanks for looking into it. I'm locking to 0.802.3 until we're ready for IVY.

[2019-11-28 12:15] migel-wimtore commented on #460
I am getting the same error when interpolating the index variable from an `ngFor` and trying to add a number to it. For example:

[code]

I have noticed that if the keyvalue pipe is used in the ngFor declaration, the error does not appear. For example:

[code]

[2019-11-28 14:20] igabesz commented on #308
This is an important feedback regarding unit test components. The error message might contain a short info on not exporting the mock components. This message might help some of the developers.

However, there are other use-cases (like the one I've described in the original post, and probably the one mentioned by @JounQin) where this error message still should be disabled completely.

[2019-11-28 15:47] ayazhafiz commented on #308
There is an open issue tracking this: https://github.com/angular/angular/issues/32663 🙂

[2019-12-01 22:58] andrius-pra opened #469 "The Language server is crashing when templateUrl points to non-existing file"
**Describe the bug**

The Language server is restarting when templateUrl points to non-existing file.

**To Reproduce**
1. Update to version 0.900.0
2. Open any angular project
4. change template url to non-existing filename.

**Expected behavior**

Expected to get `URL does not point to a valid file` diagnostic message.

**Logs**

1. Console output:
[code]

2. Log file:
[code]

**Screenshots**

!

[2019-12-02 09:17] kombasltd commented on #460
Same error here and somehow this ist new after a VS Code update and maybe an update of "Angular Files". I was wondering because this was old code which now throws this error, but serves and builds fine.

[code]

The variable "i" in lines 2 and 3 are marked as an error "Expected a numeric type ng(0)".

[2019-12-02 13:28] p4309027 commented on #460
in my case it is saying:

`Expected a number type ng(0)`

for following code
[code]

[2019-12-02 19:11] #460 closed

[2019-12-02 19:13] #463 closed

[2019-12-02 19:20] #458 closed

[2019-12-02 22:42] kyliau opened #470 "Syntax highlighting for inline template should be disabled for comment"
**Describe the bug**

When an inline template is commented out in TypeScript, syntax highlighting still lingers.

**To Reproduce**

Comment out `template` attribute in any `@Component`.

**Expected behavior**

Syntax highlighting should be disabled and revert to normal TypeScript highlighting.

**Screenshots**

![wrong-syntax](https://user-images.githubusercontent.com/2941178/70001354-eba04d00-151

[2019-12-03 00:32] kyliau opened #473 "Proposal to remove getExternalFiles()"
Currently, when a `program` is created or updated, TypeScript not only traverses the entire source tree to look for TypeScript sources, but also asks each plugin whether there are any external files, and add those files to a `Project`.

This is done through the `getExternalFiles()` API.

When this function is called, Angular language service does its own traversal to discover all external template

[2019-12-03 00:37] ayazhafiz commented on #473
This sounds reasonable and preferable to me. My understanding is that TypeScript also does not provide global diagnostics for non-opened files. Is that correct?

[2019-12-03 10:48] DuncanFaulkner commented on #150
Any news on this issue, not really usable as every file ends up as having an error, just uninstalled 0.900.0 as it was throwing up too many of these warnings.

[2019-12-03 18:13] #15 closed

[2019-12-03 23:35] ayazhafiz commented on #150
Should we only exclude NgModule errors for abstract components? Should we exclude other errors, like missing `template`/`templateUrl` properties? What do you think @kyliau @andrius-pra?

[2019-12-04 17:02] doggy8088 opened #474 "Event binding behavior very weird in VSCode"
**Describe the bug**

Please watch this video I recorded.

https://youtu.be/QxY4O76Zl4A

**To Reproduce**

Steps to reproduce the behavior:
1. find a tag
2. add a `(click)=""` event binding
3. Unable to find right event when typing

**Expected behavior**

I expected to enter right event binding format.

**Logs**

N/A

**Screenshots**

https://youtu.be/QxY4O76Zl4A

**Additional context**

I'm using

[2019-12-04 17:27] Sampath-Lokuge commented on #474
Yes, this is not working on the latest version `v0.900.0.`. I hope we'll have a fix soon.

[2019-12-04 19:23] andrius-pra commented on #150
Is there any reason you will need to use `@Component` decorator on abstract class? I think that all components should be declared in the NgModules. The language service [should allow directives with no selector that are not in NgModules](https://github.com/angular/angular/blob/master/packages/compiler-cli/test/ngc_spec.ts#L2290-L2310) and it should not produce any error.

[2019-12-04 21:27] ayazhafiz commented on #150
Yes, `@Component` on an abstract class is not necessary. But I think we should still allow this to be used without generating diagnostics that don't apply to an abstract class, like including them in NgModule.

[2019-12-04 21:36] ayazhafiz commented on #474
@doggy8088 @Sampath-Lokuge thank you for the report! My understanding of the bug report is that when you start typing an event binding inside a parentheses, you expect a completion for that event but do not get it:

[code]

Is this correct?

[2019-12-05 02:39] doggy8088 commented on #474
@ayazhafiz Yes, that was the expected behavior.

[2019-12-05 09:53] denis-manokhin opened #645 "Angular language service doesn't see components from library built with Ivy."
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/language-service

### Description

Angular language service doesn't see components from library built with Ivy.
Application is built correctly.

## Error
<pre><code>
'lib-component' is not a known element:
1. If 'lib-component' is an Angular component, then verify that it is part of this module.
2. If 'lib-component' is a

[2019-12-05 11:14] Sampath-Lokuge commented on #474
@ayazhafiz You can see the GIF here too: https://github.com/johnpapa/vscode-angular-snippets/issues/101#issuecomment-561738202

[2019-12-05 18:06] andrius-pra commented on #473
`getExternalFiles()` might be required for additional features like [Find All References ](https://www.youtube.com/watch?v=DvQz9JMiGDM&feature=youtu.be&start=105&end=120), Rename, or code actions.

[2019-12-05 18:21] kyliau commented on #473
I think we could still do that without telling vscode what the external files are, because it is up to the language service plugin to define the implementation for those methods, and internally we do keep track of all templates.
This proposal is mainly to stop telling tsserver what the external files are every time it updates the program. I don't think it serves any meaningful purpose. If we get r

[2019-12-06 02:24] #473 closed

[2019-12-06 02:25] kyliau commented on #469
This is fixed by the PR above.

[2019-12-06 02:25] #469 closed

[2019-12-06 02:25] kyliau commented on #470
@ayazhafiz is it ok to close this?

[2019-12-06 02:26] ayazhafiz commented on #470
Yes :-)

[2019-12-06 02:26] #470 closed

[2019-12-06 04:16] iamcco commented on #474
It's weird, I use the same LSP and do not have this issue. don't know if it's vscode's issue

the LSP response the `(click)` item:

[code]

[2019-12-06 05:02] ayazhafiz commented on #474
The issue is that currently, there are two ways to complete a `(click)` binding:

[code]

[code]

In the second, I think the expectation is that a "click" completion is available, giving

[code]

[2019-12-06 09:27] dluk opened #480 "Intellisense doesn't work in HTML without TS files open"
Intellisense doesn't work

Steps to reproduce the behavior:
1. create new project using cli `ng new demo`
2. Click on 'app.component.html'
3. See error

1. Console output:
[code]
2. Log file:
[code]
extension version: `0.900.0`
package.json:
[code]

[2019-12-06 12:38] RKaczmarek opened #481 "feature: Optimize activation events"
**Is your feature request related to a problem? Please describe.**

The vscode-ng-language-service is activated if html or js files are part of the workspace. This corresponds to nearly all projects.

**Describe the solution you'd like**

Since all angular projects depend on the angular.json file, this file could be used as an activation point, and prevent starting the extension in non angular wor

[2019-12-06 18:04] prodplus commented on #152
Do *ngIf="yourForm.get('yourfield').hasError('required')"

[2019-12-07 00:43] kyliau commented on #480
This is a known problem with TypeScript 3.6
It'll be fixed once we upgrade to TypeScript 3.7, but we'll have to wait for Angular to upgrade first.

In the meantime, there's a simple solution: open a TS file first, then HTML, the problem will go away.

[2019-12-07 00:45] kyliau commented on #395
@ayazhafiz is there any remaining work to be done here?

[2019-12-07 01:11] ayazhafiz commented on #395
I think we can close this one and open a new one for syntax highlighting Angular template syntax.

[2019-12-07 01:15] ayazhafiz opened #483 "Syntax Highlighting for Angular Template Syntax"
**Is your feature request related to a problem? Please describe.**

As an extension of the new Textmate grammar provided by this extension, we should provide a grammar for the [Angular template syntax](https://angular.io/guide/template-syntax).

**Additional context**

See https://github.com/angular/vscode-ng-language-service/issues/395 for the inline template syntax highlighting discussion.

Runn

[2019-12-07 01:15] #395 closed

[2019-12-07 13:22] ivanwonder commented on #474
It's still a little different from the previous version whose range contains `()`

[code]

Or use [`filterText: "click"`](https://github.com/microsoft/vscode-languageserver-node/blob/dd78cba181136e057cfcc4bb7bc17c7c78877648/types/src/main.ts#L1494)

[2019-12-07 15:06] ayazhafiz commented on #474
Yes. The reason they differ is because the language service now explicitly tells an editor what text to replace, and in the past the editor got to make that choice. One fix is to provide more precise completions (eg only event bindings in an event binding) and/or conditionally allow the replacement span to include non-identifier characters (https://github.com/angular/angular/blob/master/packages/l

[2019-12-08 04:00] ivanwonder commented on #474
So, I think it should tell the vscode to filter the `CompletionItem` by `click`, now it uses the label `(click)`.
[code]
It's weird, in my vscode, it can't match the label `(click)`, but it's ok for `click`.

[2019-12-08 10:13] AvshT opened #484 "Component binding inputs disappeared"
**Describe the bug**

Component binding inputs disappeared.

**To Reproduce**
Take **nebular nb-alert** for example
Go back to V0.802.3
Check against V0.900.1

**Expected behavior**

All relevant binding inputs should be shown.

In V: 0.802.3
![image](https://user-images.githubusercontent.com/29532821/70387850-d6646c00-19b2-11ea-9236-d24e3b5b5ccd.png)

In V: 0.900.1- a lot of irrelevant results
![

[2019-12-09 09:49] dluk commented on #480
When I open a TS file first, there is no error anymore, but when I hit F12 on a bound property or method in a template it says `no definition found for`

[2019-12-09 09:55] Chazing opened #485 "Language service cannot resolve paths in tsconfig.app.json"
**Describe the bug**

In case of using Angular namespace with some Applications.
I use components from one Angular project (test-app), the other project (demo).
I don't want to use relative path components, so I added paths at tsconfig.app.json

[code]

And I wrote the import in this way -

[code]
Angular language service does not recognize the components in ts, nor the components tags in html.

*

[2019-12-09 11:15] shifenis commented on #484
@AvshT this issue is already opened (#474)

[2019-12-09 11:16] shifenis commented on #474
Anyone have any workaround?

[2019-12-09 15:02] ayazhafiz commented on #484
Closed to track in #474

[2019-12-09 15:02] #484 closed

[2019-12-09 20:11] kyliau commented on #480
@dluk Could you provide the logs again to help us debug the issue? Please attach both the vscode output and the log file.

[2019-12-09 20:13] kyliau commented on #485
@Chazing Thank you for the feedback. Could you please try adding the paths to `tsconfig.json` instead of `tsconfig.app.json`? TypeScript compiler does not recognize non-standard tsconfig file names.

[2019-12-09 20:17] kyliau commented on #481
@RKaczmarek Thank you for the feedback! We've thought about this before, but from my discussion with several Angular users in the past, not everyone who uses the framework also uses the CLI.
Currently, we already try to detect whether a project is Angular by looking at `@angular/core` in `node_modules`. If a project is not Angular based on this detection logic, the extension stops doing any work.

[2019-12-09 20:26] kyliau commented on #340
Possible root cause: https://github.com/angular/vscode-ng-language-service/issues/457

[2019-12-10 00:43] peterennis commented on #464
I am seeing this also with a React app.

Version: 1.40.2 (system setup)
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:54:45.096Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

![initializing-angular](https://user-images.githubusercontent.com/140737/70484908-3980fc00-1aa2-11ea-85fd-b60e1398ab51.gif)

[2019-12-10 06:02] Chazing commented on #485
It works!
I renamed the file from tsconfig.app.json to tsconfig.json, this solved the problem.
Thanks!

[2019-12-10 06:02] #485 closed

[2019-12-10 06:58] dluk commented on #480
@kyliau vscode output:
[code]
log file:
[code]

[2019-12-10 07:00] dluk commented on #480
Another one where I opened TS file first, vscode output:
[code]
log file:
[code]

[2019-12-10 19:43] kyliau commented on #480
@dluk It looks like the TS project was immediately removed once the TS file was closed.
I should clarify that you should **keep the TS file open** while opening a HTML file, this would prevent the project from going away.
Again, this'll be solved entirely once we upgrade to TS 3.7

[2019-12-11 13:49] carlosearaujo commented on #14
Add

`schemas: [ CUSTOM_ELEMENTS_SCHEMA ]`

on component module

[2019-12-11 18:01] darkpoetcc opened #498 "Frequent Crashes to TypeScript Lang Server / Angular Lang Service Since Update (v0.900.1)"
**Describe the bug**

For the past day or so, since my VSCode installation updated to ng-template version 0.900.1, I have been seeing very frequent crashes in the Angular Language Service and/or TypeScript Languge Server.  In particular, VSCode will begin consuming all available RAM (>24 GB on my machine), then eventually the TS server and/or the Angular Language Service will crash.

There is also

[2019-12-11 22:33] darkpoetcc commented on #498
This seems to be TSLint; after some time, VSCode will still crash, regardless of ng-language being installed / disabled / enabled, it is just a little longer before it occurs.

Closing and adding details to main issue on VSCode mentioned above.

[2019-12-11 22:33] #498 closed

[2019-12-13 09:08] RKaczmarek commented on #481
@kyliau

Negative, no downtime, but...

Sounds like there's an ez way to get both solutions combined.

Since the activation events are joined with an "or" it should be possible to use

[code]
Or any file you suggest as definently existing.

So, if using cli the angular.json exists and as fallback the VSC looks for the node module.

[2019-12-13 18:08] kyliau commented on #481
@RKaczmarek that sounds like a good idea. I guess the only downside is that when users open a file or a subdirectory that does not contain the `angular.json` or `@angular/core/index.d.ts` file then the extension would not be activated, which is fine, I think?

[2019-12-13 18:48] RKaczmarek commented on #481
@kyliau yes, should be.

That makes the angular project check in the angular language server obsolete.

[2019-12-16 15:00] bergerbo opened #503 "Support TypeScript requests"
**Describe the bug**

Hello team !

I am trying to get the language server working for an editor my team is working on.
We are able to launch it without problem and it serves angular specific request perfectly (ie:  textDocument hover/definition in an inlined template `@Component` annotation).

However basic typescript requests (ie: everything else) are answered with a simple `null`.

**To Reprodu

[2019-12-16 17:46] ayazhafiz commented on #503
`ProjectRootPath` being undefined may not be the issue, because it is sometimes undefined for "working" instances of the language server as well.

If I recall correctly, not responding to TypeScript queries is the expected behavior; the language server enables the Angular language service to only respond to Angular queries:

https://github.com/angular/vscode-ng-language-service/blob/d6e9fc2b1deb98

[2019-12-16 18:46] kyliau commented on #503
Yes, the Angular language service is designed specifically to support Angular projects only, not TypeScript.

This is because of many reasons:
1. The need to support non-TypeScript files (HTML for external templates)
2. Performance
3. Stability

There is one mode that supports both Angular + TypeScript, but that assumes you don't need support for HTML files. You can launch this mode simply by addi

[2019-12-16 20:46] kyliau commented on #474
This bug requires multiple PRs for a proper fix.
First PR: https://github.com/angular/angular/pull/34440
I hope to get it fixed by end of this week (December 20)

[2019-12-17 02:56] kyliau commented on #398
#34445 will fix the LHS of the binding. Another PR is needed to add suggestions for the RHS of the binding.

[2019-12-17 02:58] kyliau commented on #474
Second PR: https://github.com/angular/angular/pull/34445
This should completely fix the problem.
I'll try to get this into 9.0.0-rc.7 so that the fix can go out this week.

[2019-12-17 03:44] jpike88 commented on #483
@kyliau some useful CSS examples to cover:

![68101848-52761a80-ff02-11e9-8c07-681380946ce0](https://user-images.githubusercontent.com/9585787/70963097-16fe6c80-20ba-11ea-819b-7faf0fb78a9a.png)
![68099924-d4ad1180-fef7-11e9-8b4c-0a36e983da0b](https://user-images.githubusercontent.com/9585787/70963099-18c83000-20ba-11ea-950d-0f80dbdc6a27.png)
![Screen Shot 2019-12-17 at 10 43 49 am](https://user-im

[2019-12-17 04:20] ayazhafiz commented on #483
@jpike88 I can't seem to reproduce your CSS examples in a template or CSS file. Are they located elsewhere?

[2019-12-17 10:56] bergerbo commented on #503
I've tried using a typescript language server with the `@angular/language-service` plugin and everything works fine for our use case (we are only supporting inline templates for now).

Thanks a lot for your quick answers !

[2019-12-17 15:27] #503 closed

[2019-12-17 17:12] jpike88 commented on #483
These are inline templates, in a @component definition

[2019-12-17 17:34] ayazhafiz commented on #483
@jpike88 do you have the [angular2-inline](https://github.com/natewallace/angular2-inline) extension installed? I see what you're getting with the CSS styles, but only when that extension is enabled. If you turn off that extension but keep the language service extension enabled, you should see correct CSS highlighting in an inline template (styles in a `styles` property on a Component won't be, th

[2019-12-17 23:19] #464 closed

[2019-12-18 05:16] jpike88 commented on #483
@ayazhafiz you're right, the inline extension did modify colours. but its worse in some ways with just the angular extension. new screenshots:

![Screen Shot 2019-12-18 at 12 15 43 pm](https://user-images.githubusercontent.com/9585787/71057683-2354f900-2190-11ea-8351-1069c548153f.png)
![Screen Shot 2019-12-18 at 12 15 21 pm](https://user-images.githubusercontent.com/9585787/71057684-23ed8f80-2190-

[2019-12-18 05:18] ayazhafiz commented on #483
@joshpike can you take a look at the screenshots at #512 and let me know if that’s along the lines of what would be better?

[2019-12-18 05:27] jpike88 commented on #483
yeah way better, nice. just need more advanced solution for the inline html template now

[2019-12-18 05:38] ayazhafiz commented on #483
Great! Support for the Angular template syntax will be coming soon

[2019-12-18 06:39] jpike88 commented on #483
found weird edge case hopefully that PR solves it too
![Screen Shot 2019-12-18 at 1 38 52 pm](https://user-images.githubusercontent.com/9585787/71061901-c8c19a00-219b-11ea-8fb5-dcdb1428c05e.png)

[2019-12-18 06:46] jpike88 opened #514 "index in *ngFor not recognised as a number"
latest version of the plugin and latest angular 8.x

![Screen Shot 2019-12-18 at 1 45 43 pm](https://user-images.githubusercontent.com/9585787/71062285-b6942b80-219c-11ea-8350-ea7b2d07fbb0.png)

activeTabIndex is defined in the component:
```public activeTabIndex: number = 0;```

There is some sort of type issue here I guess

[2019-12-18 07:02] ayazhafiz commented on #514
This was fixed in https://github.com/angular/angular/pull/34089; see https://github.com/angular/vscode-ng-language-service/issues/460 for some previous discussions.

You will need version [9.0.0-rc.5](https://github.com/angular/angular/releases/tag/9.0.0-rc.5) of the language service in order to get this fix.

[2019-12-18 07:02] #514 closed

[2019-12-18 07:03] jpike88 commented on #514
sweet thanks

[2019-12-18 07:09] jpike88 commented on #514
does my project need to be above angular 8 to use this? I updated the compiler-cli, compiler and and language service to 9.0.0-rc.5 in my root folder (not in my angular project folder which is in a subfolder), and that should work right?

[2019-12-18 07:49] ayazhafiz commented on #514
Just the language service needs to be at version 9.0.0-rc.5 -- I think that should work, as extension just tries to find the language service at the open workspace. You can check the version being used by opening the VSCode terminal > Output Tab > Dropdown on the right > Angular Language Service.

[2019-12-18 17:13] #398 closed

[2019-12-18 17:13] #474 closed

[2019-12-19 08:52] feafarot commented on #143
I've also mentioned that there is no autocompletion for custom component inputs. Which may be related to this issue.

[2019-12-19 15:59] a-gerescher commented on #483
If i add an opening bracket in css like this `.style{` the whole component syntax highlight is broken.

[2019-12-19 16:13] a-gerescher opened #520 "Incorrect diagnostic span in inline template"
**Describe the bug**

A component is opened. The component has the following sourcecode:

[code]

**To Reproduce**

**Expected behavior**

Whatever code magic you are doing, to provide autocomplete, the line breaks in the multiline template literal are subtracted from the correct offset, so i get the correct autocompletion if i move my cursor to the following position -> (cursor colunm - (linebrea

[2019-12-19 16:42] doggy8088 opened #521 "event binding and property binding user experience"
**Describe the bug**

Related to https://github.com/angular/vscode-ng-language-service/issues/474

The developing experience for event binding and property binding user experience is changed in this new version `0.900.3`.

**To Reproduce**

Steps to reproduce the behavior:
1. find a tag
2. add a `(click)=""` event binding or `[accessKey]=""` property binding

**Expected behavior**

When you type `

[2019-12-19 17:28] ayazhafiz commented on #483
This likely will not be fixed unless we move to a more advanced syntax highlighting solution than the TextMate grammar one used by VSCode. This also happens in the native HTML syntax highlighting. It should be at least partly mitigated by auto-closing brackets.

[2019-12-19 17:31] ayazhafiz commented on #520
@a-gerescher are you on Windows?

[2019-12-19 17:34] ayazhafiz commented on #521
@kyliau we can probably extend the replacement span to include the closing parantheses in these cases, since we know know the kind of binding we're in before providing a completion. What do you think?

[2019-12-20 00:10] kaumikaze opened #522 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `0.900.3`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.41.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\kaumi\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-hi

[2019-12-20 02:08] kyliau commented on #522
@kaumikaze Please use the standard issue template, and attach the relevant logs from both VSCode and the extension. Please also attach any relevant screenshots. Without these info, it is almost impossible for us to debug the problem.
Closing this for now, please open a new issue with more info, thank you.

[2019-12-20 02:08] #522 closed

[2019-12-20 03:28] mhamri opened #523 "incorrect autocomplete entries"
**Describe the bug**
the autocomplete for html variable doesn't work

[code]
if I type `sideNav` and press dot, the autocomplete showing a list that is wrong
* it should't show the `sideNav` again.
* the parent class of the component has a `toggle` method but it's not being shown

![image](https://user-images.githubusercontent.com/8991783/71227557-925e5900-231a-11ea-8936-499c4c8c89fc.png)

**Logs*

[2019-12-20 09:40] a-gerescher commented on #520
Yes

[2019-12-21 05:55] ayazhafiz commented on #172
The issue of parentheses completion was fixed in angular/angular#34445 and a newer discussion about adding quotes to the completion as in the

[code]

case is hosted at #521; closing to track there.

[2019-12-21 05:55] #172 closed

[2019-12-21 05:59] ayazhafiz commented on #113
I think this is no longer the case; please open a new issue if you are experiencing this behavior.

[2019-12-21 05:59] #113 closed

[2019-12-23 13:33] jpike88 opened #526 "Weird HTML syntax highlighting issue"
Latest version of everything, see screenshot.

<img width="908" alt="Screen Shot 2019-12-23 at 8 32 03 PM" src="https://user-images.githubusercontent.com/9585787/71360755-66b1cc00-25c3-11ea-8eab-48639028ebb3.png">

[2019-12-23 15:22] ayazhafiz commented on #526
Can you provide a code listing of a minimal reproduction of this problem?

[2019-12-24 07:28] jpike88 commented on #526
1. Just declare a component, with some inline HTML.
2. Have another component with a name that DOES NOT include hyphens
3. It will be red.

<img width="655" alt="Screen Shot 2019-12-24 at 2 26 00 PM" src="https://user-images.githubusercontent.com/9585787/71400430-50eee600-2659-11ea-986f-c1b4ac5ab704.png">

In above screenshot I am referencing a component with selector 'popover'. It works fine and

[2019-12-24 16:21] ayazhafiz commented on #526
Okay, the PR above will fix this.

[2019-12-26 10:50] rash03 opened #530 "Metohd definition two times on mouse over event"
Issue Type: <b>Bug</b>

1. Cleaned editor history
2. uninstalled all extension
3. installed Angular language service
On mouse over a method I get definition twice

Extension version: 0.900.3
VS Code version: Code - Insiders 1.42.0-insider (7c0095ee2d064033fc13184127a9adc603454729, 2019-12-20T07:57:35.999Z)
OS version: Windows_NT x64 10.0.17134

[2019-12-26 12:14] ayazhafiz commented on #530
Please use the standard bug issue template to submit a new issue with screenshots and logs attached. Without this information, it’s very difficult to tell what the problem is and how to reproduce it.

[2019-12-26 12:14] #530 closed

[2019-12-26 12:55] mhamri opened #531 "intellisense for $event in the html Template doesn't work"
**Describe the bug**
$event. trigger the wrong set of suggestion for the autocomplete

![image](https://user-images.githubusercontent.com/8991783/71476679-349da580-2821-11ea-9284-271877c0d6e8.png)

based on the event that in here is (click) the $event should suggest correct `MouseEvent` items, or on (blur) should suggest `FocuseEvent` etc.

I expect to see, `stopImmediatePropagation()` and other i

[2019-12-26 13:55] ayazhafiz commented on #531
Thank you for the bug report; this has been a long standing todo. I will try to get to it today.

[2019-12-27 15:21] ghaschel commented on #483
This extension is breaking my highlighting, as it is mainly a language service, i think its highlighting should be optional.

Before activating this plugin:
![Screen Shot 2019-12-27 at 12 16 09](https://user-images.githubusercontent.com/5878866/71522382-41fb7400-28a3-11ea-9280-4fb49ea7d23f.png)

After activating:
![Screen Shot 2019-12-27 at 12 16 31](https://user-images.githubusercontent.com/58788

[2019-12-27 15:29] ayazhafiz commented on #483
Great point. We should hide behind the highlighting behind some enable/disable flag. This might not be possible, in which case maybe the syntaxes should be another extension entirely.

[2019-12-27 15:42] ghaschel commented on #483
I did manage to find a solution to this problem. Changing my scopeName from text.html.angular to template.ng.

As textmate grammar is already something tricky to train/study, I think it would be very convenient for developers to have language service and highlighting separately.

[2019-12-27 20:14] ayazhafiz commented on #483
Yeah, we shouldn't have to force anyone to change their grammar to get around ours.

[2019-12-28 08:05] jpike88 commented on #483
- @ghaschel The only different in that last one I see is the enhanced highlighting of double brackets, am I missing anything else there?
- Also, I notice the text ```ref-test``` is red in its first half, is that supposed to be the case and way?
- @ayazhafiz why not beef up the highlighting definition to take into account double brackets, and pipes? Seems like a good idea in general

P.S can't wait

[2019-12-28 08:11] jpike88 opened #533 ""Extract to method in class" in inline template doesn't behave correctly"
**Describe the bug**

"Extract to method in class" ability doesn't seem to behave correctly on a inline template function call. In below

**To Reproduce**

see GIF for clear reproduction. the inline template is missing the function ```addChildElement``` and is listed correctly. Using the autosuggested 'extract method' call in context menu removes the whole ```template``` properly and swaps it with

[2019-12-28 14:57] ayazhafiz commented on #483
@jpike88 more features are being added, see the PRs listed in the first comment - in fact, we already have support for JS syntax highlighting inside interpolations :-)

The question is whether this extension’s scope is an Angular language server or an Angular IDE. I think it’s an Angular language server, in which case we should offer a way to opt out the non-critical functionality of the extension

[2019-12-28 15:03] ayazhafiz commented on #533
Do you know if this has ever behaved correctly in the past?

[2019-12-28 15:52] ghaschel commented on #483
@jpike88 in that screenshot is only the brackets. But i ended up losing highlithing for pipes, elvis operator and a few other small things. But i fixed it. Matched this project grammar main scope name.

[2019-12-28 18:26] jpike88 commented on #533
No

[2019-12-30 05:58] ayazhafiz commented on #533
I don't think this is an issue with an extension, as it occurs with the extension uninstalled as well. VSCode pulls out the contents of the entire string into a new function and replaces the original string with that function call.

Closing because this is functionality related to VSCode's TS/JS features and outside the scope of the Angular language service extension.

[2019-12-30 05:58] #533 closed

[2019-12-30 22:02] MichaelNTU opened #534 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `0.900.3`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.41.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\mikeo\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-hi

[2019-12-30 22:37] ayazhafiz commented on #534
Same as #522, copying the closing comment from there:

Closing this for now, please open a new issue with more info, thank you.

[2019-12-30 22:37] #534 closed

[2020-01-02 18:55] initplatform commented on #306
So that would be a feature request, no? I would like to see this support pug as well.

[2020-01-02 20:02] granttw commented on #340
I am having a similar experience with a slight difference.

I created a project very similar to @arobinson.  A workspace with a library project and an application project.  I take advantage of the tsconfig.json path maps and import the library module without publishing it to npm.  If I build the library before adding the import to the application, everything works fine.  If I add a new component t

[2020-01-03 19:19] vaindil commented on #457
I'm having a similar problem but I'm not sure if it's the same. I'm on 0.900.3 of the extension, and my app is on the latest RC of Angular 9 (with Ivy). The language service can't find a single component/pipe/directive in our codebase, whether it's from an external library or something in our code itself despite building correctly.

[2020-01-06 08:03] DerZyklop commented on #236
@kyliau
I still have no language support in *.html template files in atom.
I can not tell whats the state in vscode.

[2020-01-09 00:44] #526 closed

[2020-01-09 02:02] #253 closed

[2020-01-09 04:32] #321 closed

[2020-01-09 04:32] #523 closed

[2020-01-09 05:13] iamcco commented on #302
It should also suggest `*ngif`  when type `ngi`, with latest version I have to type `*ngi`

[2020-01-09 05:16] ayazhafiz commented on #302
I think this was an intentional change with https://github.com/angular/angular/pull/34445.

[2020-01-10 05:09] jpike88 opened #538 "Enhance template syntax highlighting"
Loving the work so far, it's in a much better place than last year.

A couple of enhancement ideas:

![Screen Shot 2020-01-10 at 12 08 03 pm](https://user-images.githubusercontent.com/9585787/72127316-ddabda80-33a1-11ea-81c3-623e01dd1fd7.png)

if possible, ```itemChosen()```, ```env.isCordova```, the number 5 (cornerRadius expects a number), ```false``` for the ```round``` property (which expects

[2020-01-10 12:17] albrechtflo-hg opened #539 "let ... of parsing broken in HTML editor"
The new version v0.900.4 does no longer parse `let ... of` expressions correctly - the HTML editor syntax coloring is broken for the rest of the file. Maybe ternary expressions in the `let ... of` expression cause this, see below.

Here is an (almost) minimal HTML source reproducing this issue:

[code]

And here is how this is rendered in the editor:

![image](https://user-images.githubusercontent

[2020-01-10 15:07] ayazhafiz commented on #538
Thanks for the issue. These are known features we are planning to add, kept track in #483. Closing as a dupe of that.

[2020-01-10 15:07] #538 closed

[2020-01-10 22:26] #272 closed

[2020-01-10 23:56] kyliau commented on #520
This issue was fixed for external template, but somehow still broken in TS files with CRLF line endings. I'll take a look.

[2020-01-11 00:49] DerHerrGammler opened #541 "Template Syntax Highlighting broken"
Syntax highliting in templates is broken after a few conditions.
One Condition ist the reseved words like 'class' is used as pipe name:
![grafik](https://user-images.githubusercontent.com/30802629/72195759-5cd9f680-3414-11ea-900f-d4e922f3db61.png)
Another condition is the use of Arrays in templates
![grafik](https://user-images.githubusercontent.com/30802629/72195796-9ca0de00-3414-11ea-86c4-b99b8f

[2020-01-11 01:02] ayazhafiz commented on #541
The second will be fixed by #540.

[2020-01-11 01:13] dannymcgee commented on #483
Hey @ayazhafiz and co., I'm the author of a [standalone grammar extension](https://github.com/dannymcgee/vscode-ng-html) that adds some pretty detailed grammar scopes for Angular templates. I've been using it as a full-time Angular engineer since August and it's pretty robust. Unfortunately, I noticed today that many aspects of my extension are no longer working, and tracked the problem down to th

[2020-01-11 01:25] ayazhafiz commented on #483
re @dannymcgee Hi Danny, we’d definitely love your contribution! I’ve been working on the grammars, but they’ve been coming along slowly and are not yet the most robust. Please feel free to send PRs for any features and fixes you’d like to see.

All the info about the grammars provided by this repository should be in the syntaxes/ folder. Please reach out if there’s any help we can provide.

_____

[2020-01-11 17:24] dannymcgee commented on #483
Hey @ayazhafiz, I'm developing on Windows 10 and I'm getting this error when I try to run `yarn test:syntaxes -u`:

[code]

I tried it with git bash and PowerShell, same result in both cases. I installed the repo dependencies with `yarn install`, do I need to do anything else to configure my dev environment? Thanks for your help!

[2020-01-11 17:26] ayazhafiz commented on #483
Does this happen on master? I think running yarn should be enough.

[2020-01-11 17:55] ayazhafiz commented on #541
The first issue may not be fixable because of https://github.com/microsoft/vscode/issues/20488. Maybe this makes a grammar for property bindings a non-starter.

@DerHerrGammler what is the pipe you are using that requires the class syntax? More specifically, is it provided by any native Angular libraries?

[2020-01-11 20:19] dannymcgee commented on #483
I managed to get it working by using Windows Subsystem for Linux :)

[2020-01-12 21:30] ayazhafiz commented on #251
I don't think this is a bug. In a static analysis, the type of the context used by the embedded template (`TemplateRef`) can't be refined more than the type parameter of the `TemplateRef` used by the structural directive - in this case, since the type of the context is specified to be `Object`, the language service doesn't have a good way of knowing that the actual context used is `CounterDirectiv

[2020-01-13 07:52] #539 closed

[2020-01-13 18:32] dannymcgee commented on #541
I think a good long-term solution to this would be to define a syntax that's essentially a limited subset of JavaScript, and embed that syntax in the template bindings instead of just embedding the entire JavaScript grammar. In addition to fixing bugs like this, we could also define more accurate grammar scopes for the Angular-specific stuff like pipes and the `as value` syntax which would be a wi

[2020-01-13 20:32] #520 closed

[2020-01-13 20:35] kyliau commented on #98
Closing this, since original issue is more than two years old. If problem persists, please open a new issue with screenshot, code example, and log information. Thanks!

[2020-01-13 20:35] #98 closed

[2020-01-13 20:36] kyliau commented on #103
Closing this, since issue is more than two years old. If problem persists, please open a new issue with relevant screenshots, code example, and complete log information. Thanks!

[2020-01-13 20:36] #103 closed

[2020-01-13 23:06] kyliau commented on #483
Hi @dannymcgee! Thank you for reaching out, and I apologize for breaking your extension with the recent changes that we made to the Angular language extension.
@ayazhafiz and I had a brief discussion about this, and it is certainly not our intention to break other extensions that provide similar Angular template syntax. We are still exploring a solution that would provide both good user experience

[2020-01-13 23:56] kyliau commented on #177
This issue is more than two years old, and it is no longer relevant in the v9 extension.
In an external template, emmet autocompletion works correctly.
If problem persists, please open a new issue.

[2020-01-13 23:56] #177 closed

[2020-01-14 00:08] kyliau commented on #196
This has been fixed in Angular extension v9. Please open a new issue if problem persists.
The latest version can be downloaded from https://marketplace.visualstudio.com/items?itemName=Angular.ng-template

[2020-01-14 00:08] #196 closed

[2020-01-14 00:13] kyliau commented on #150
This is fixed in https://github.com/angular/angular/pull/34115

[2020-01-14 00:13] #150 closed

[2020-01-14 00:32] kyliau commented on #340
@granttw Based on your description, it looks like the language service is not picking up new metadata.json from the library after a new component is added.
The reason is because we are only watching for changes in `d.ts` file. When a new component is added and compiled, the new `.d.ts` file gets picked up, but not the corresponding `metadata.json`.

I can think of two possible solutions:
1. Reload

[2020-01-14 04:52] dannymcgee commented on #483
Hey @kyliau, sorry I'm just seeing this! It's really no problem at all. I think this extension is the natural place to include the grammar definitions — it's pretty typical for 1st- and 2nd-party extensions that provide language support (e.g., the C# and C++ extensions). In fact, when I first started getting into Angular development a few years ago I installed this extension and was confused and m

[2020-01-14 06:27] jpike88 commented on #483
I think making this extension as all-encompassing as possible with the ability to turn on-off certain features is the way forward

[2020-01-14 06:42] victos opened #546 "config file not found if no TS file is open"
This is my first time to use angular language server on VSCode. After installing the extension, when I try to edit something, nothing happens.

**Logs**

`
[Info  - 2:21:16 PM] Angular language server process ID: 14573
[Info  - 2:21:16 PM] Using typescript v3.6.4 from /home/jack/.vscode-oss/extensions/angular.ng-template-0.900.4/node_modules/typescript/lib/tsserverlibrary.js
[Info  - 2:21:16 PM] U

[2020-01-14 07:13] andrius-pra commented on #546
Do you have `tsconfig.json` file in `/home/jack/WorkStation/vscodeProject/my-app/` folder? Did you try first open `app.component.ts` and then open `app.component.html`?

[2020-01-14 07:21] victos commented on #546
Yes, the tsconfig.json is exists and I just tried to open the files in order, and it didn't help.

[2020-01-14 07:31] ayazhafiz commented on #546
@victos could you provide the contents of the log file mentioned in the output log as well?

[2020-01-14 07:32] ayazhafiz commented on #483
Do you all know of popular themes for Angular relying on textmate grammar scopes?

[2020-01-14 07:37] victos commented on #546
[nglangsvc.log](https://github.com/angular/vscode-ng-language-service/files/4057876/nglangsvc.log)
Here is the log.

[2020-01-14 12:22] Clemens-E commented on #546
Same Issue here. I'm using it on a repo where no config file was changed or moved for months, but it suddenly tells me that it can't find a config file.
I used it on the same repo since months, and it worked just fine, but now nothing works....

[2020-01-14 12:36] ghaschel commented on #483
@ayazhafiz I, myself, like my highlightings to be contextually colorful and distinctive, and this is where I aim with my package. But of course, this is just my taste, and it is something very personal. There are a few ones I suggest in my [my extension](https://marketplace.visualstudio.com/items?itemName=ghaschel.vscode-angular-html): [dark-plus-syntax](https://marketplace.visualstudio.com/items?

[2020-01-14 12:45] JohnnyDevNull commented on #340
@granttw you do everything right, that's the actual workflow with VSCode, only WebStorm does it a bit better, but also there I have to reload in some edge cases.

[2020-01-14 18:10] kyliau commented on #546
The TypeScript file needs to *stay open*. This can be done by double clicking the filename in vscode.
As seen in the screenshot, there is no TS files open.
We are very close to landing TS 3.7 in the main monorepo, and it'll fix this problem once and for all.

[2020-01-14 19:17] olaszakos commented on #177
Come one now you just closed the other issue #232 because this one was open and now you close it. It's clearly broken.

[2020-01-15 01:38] #546 closed

[2020-01-15 09:34] luboslav commented on #541
Syntax highlighting in latest version is also broken in angular binding (with square brackets).

![syntax-highlight](https://user-images.githubusercontent.com/7914658/72422245-5b952a80-3782-11ea-8aa0-5c30534981c2.PNG)

[2020-01-15 15:10] ayazhafiz commented on #541
@luboslav This is intentional. The content is being highlighted as inline JavaScript.

[2020-01-15 19:39] kyliau opened #556 "default version of ts and ng in extension"
https://github.com/angular/vscode-ng-language-service/pull/552 re-enabled the feature to load TypeScript (abbrv ts) and @angular/language-service (abbrv ng) from user's workspace.

This is good for consistency, but based on many issues we have seen in the past, it does not provide the best user experience.

Take for example a typical upgrade story:
1. extension is current v1 with ng v1
2. we relea

[2020-01-15 20:15] ayazhafiz commented on #556
Maybe it is enough to check the tsdk (if it exists, the user is probably using it). We could also add a UI element for selecting the TypeScript version to be used by the language service extension (VS Code's version or the workspace version, identical to the TSLS features dropdown).

I think we should also publicly document that the extension will pick up language-service versions installed in the

[2020-01-15 20:19] ayazhafiz commented on #302
cc @kyliau @andrius-pra @ivanwonder thoughts on supporting or closing this?

[2020-01-15 20:33] kyliau commented on #302
I am in favor of the approach in https://github.com/angular/angular/pull/34445.
The main reason is because the suggestion list is _overly broad_ with the original implementation.
Take the following example:
[code]
where `|` is the cursor position.
At this point, we are asking the editor, what are the possible candidates here?
The result is a long list of items (html properties/attributes/events wi

[2020-01-15 20:33] #302 closed

[2020-01-15 20:45] andrius-pra commented on #302
I'm also prefer the current behavior. It's easier to write `[`, `[(` or `(` character and choose relevant value from small list of  suggestions that valid in your context.

[2020-01-16 01:34] ivanwonder commented on #302
Agree.
and I think it's also good to provide `bind-`, `on-`, etc on `<div |></div>`.

[2020-01-16 03:03] dannymcgee commented on #483
This is the sort of thing that I really feel should be the responsibility of theme authors. There are lots of very minimal themes out there that only use one or two colors in various shades or that decline to color certain types of tokens at all so they remain the default foreground color. As long as the scopes provided by the grammar are detailed enough, theme authors have a whole lot of flexibil

[2020-01-16 03:07] dannymcgee commented on #483
I would be the wrong person to ask tbh — I've only ever used my own theme and I only even published it to streamline the process of syncing it between my personal machines and my work laptop. :P

[2020-01-16 12:11] faserg1 commented on #328
Also exluding files does not help for me. Extension lock files anyway.

[2020-01-16 15:40] simondel opened #557 "Server shutdown: TypeError: Cannot read property 'getSemanticDiagnostics' of undefined"
**Describe the bug**

The Angular Language Service crashes

**To Reproduce**

Steps to reproduce the behavior:
Exact repro steps are a bit tricky. It seems to happen about 5-10 minutes after I open Visual Studio Code. Before it crashes, I'm also unable to navigate from a html file to a component defined in the html file.

**Expected behavior**
No crash

**Logs**

Please attach two logs:

1. Consol

[2020-01-16 22:58] kyliau commented on #556
Work items here are:

1. Flip the default to prioritize bundled version over workspace version.
2. Register a new command to let users pick their workspace versions (both ts and ng), similar to TS screenshot above. The new command will be available in the editor UI.
3. Document the feature in README and CHANGELOG.

[2020-01-17 19:05] johnpapa opened #561 "Emmet support for inline templates in VS Code and other editors that support emmet today"
Emmet support for inline templates in VS Code and other editors that support emmet today

[2020-01-18 02:37] dannymcgee commented on #483
@ghaschel Sorry, I forgot to respond to this the other night — json5 looks really great for file organization, but I actually really like yaml for not needing to wrap values in quotes (and so not having to double escape everything in the regex patterns). You can also split more complicated patterns onto multiple lines which makes them easier to read. I wonder if there's any way to combine the bene

[2020-01-20 17:58] ayazhafiz commented on #480
This was fixed by #551 and should be available in the next release.

[2020-01-20 17:58] #480 closed

[2020-01-20 22:33] andrius-pra commented on #333
I have started to work on proof-of-concept of integration of [html ](https://github.com/microsoft/vscode-html-languageservice) and [css](https://github.com/microsoft/vscode-css-languageservice) language services in inline templates/css.  Autoformat is built-in function of html language service, but css language service doesn't have format functionality. @jpike88 , do you have any recommendation fo

[2020-01-21 07:12] ramanareddyc opened #565 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `0.900.4`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.41.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Ramana Reddy\Angular.ng-template-unresponsive.cpuprofile.txt
[Angular.ng-template-unresponsive.cpuprofile.txt](https://github.com/angular/vscode-ng-

[2020-01-21 10:30] tieppt commented on #541
Also broken when access object through indexes
![image](https://user-images.githubusercontent.com/7151365/72797409-a7a90900-3c73-11ea-840a-5e7804da7523.png)

[2020-01-21 13:38] yglin commented on #565
I'd like to report this issue, too.
It happened a few times in these 2 days, sometimes halt my entire OS for seconds.
The memory usage is very high in screenshot
<img width="708" alt="DeepinScreenshot_select-area_20200121212349" src="https://user-images.githubusercontent.com/5110555/72808788-4003b580-3c95-11ea-9c21-45ccde105a83.png">

System OS: Linux Mint 19.3 Tricia
Kernel: 5.3.0-26-generic x86_

[2020-01-21 15:35] ayazhafiz commented on #565
Hi! Please use the standard issue template, and attach the relevant logs from both VSCode and the extension. Please also attach any relevant screenshots. We would love to help solve this issue, and without these info, it is almost impossible for us to debug the problem.
Closing this for now, please open a new issue with more info, thank you.

[2020-01-21 15:35] #565 closed

[2020-01-22 08:55] simondel commented on #557
Removing the `coverage` folder from my project seems to solve the issue (for now)

[2020-01-22 17:11] kyliau commented on #557
@simondel Thank you for the update. May I know what's in the `coverage` folder? Are there any Angular code or `node_modules` in there?
If possible, could you please send us the log file for the project? It's located at `c:\Users\USERNAME\AppData\Roaming\Code\logs\20200116T160301\exthost1\Angular.ng-template\nglangsvc.log`
Without detailed log entries, it is almost impossible for us to investigate

[2020-01-23 04:03] dannymcgee commented on #541
@ayazhafiz I've been thinking about the issue with embedded grammars getting stuck and the potential solution I mentioned earlier in this thread, and I made a really rough proof of concept that seems promising.

The basic idea is:
- We embed our own subset of the JavaScript grammar instead of the full JS grammar, limited to just the syntax that's actually valid in Angular templates
- We have two _

[2020-01-23 04:40] ayazhafiz commented on #541
@dannymcgee thanks for taking the time to do this. I like your idea of a template syntax grammar; it's definitely the "correct" way to do it.

I'm not sure that we need two separate grammars for single and double quotes. I guess the case where this matters is if someone uses single quotes inside an attribute itself demarcated by single quotes (and symmetrically for double quotes), though I wonder

[2020-01-23 04:44] ayazhafiz opened #571 "Textmate grammar for template expressions"
__Is your feature request related to a problem? Please describe.__

The language service extension now provides a Textmate grammar for the Angular template syntax (#483), and describes template expressions via a JavaScript grammar. However, template expressions are not JavaScript, and to have an accurate grammar long-term, it would be useful to define a grammar specifically for Angular template ex

[2020-01-23 04:45] ayazhafiz commented on #483
Closing, as the template syntax grammar has been completed aside from a custom template expression grammar (#571).

If you are experiencing bugs with the existing grammar or would like another feature, please open a new issue.

[2020-01-23 04:45] #483 closed

[2020-01-23 04:48] ayazhafiz commented on #541
Closing this issue as the second bug presented in https://github.com/angular/vscode-ng-language-service/issues/541#issue-548355331 and https://github.com/angular/vscode-ng-language-service/issues/541#issuecomment-576618644 have been fixed in #542. A discussion for the first bug (leaking JavaScript grammar) will be tracked in #571.

If you are experiencing further issues with the grammar or would l

[2020-01-23 04:48] #541 closed

[2020-01-23 05:45] dannymcgee commented on #571
If we define one embeddable grammar that recognizes both double- and single-quoted strings, then in many cases what _should_ be the end quote for the attribute binding will instead be recognized as the opening quote for a new string within the template expression. A common failure point I was seeing in my PoC testing was with ternary expressions:

[code]

The JS grammar's end condition for ternary

[2020-01-23 08:01] ayazhafiz commented on #571
I agree with you, we should keep separate definition. I think that compiled
definitions would be preferred here.

On Wed, Jan 22, 2020 at 9:45 PM Danny McGee <notifications@github.com>
wrote:

[2020-01-23 13:09] ghaschel commented on #571
I have done this with my grammar, and I can confirm it reduces a lot the JS grammar itself. [Refer to angular-expressions.json5](https://github.com/ghaschel/vscode-angular-html/tree/master/src/repository/angular-expressions)

The [specs](https://html.spec.whatwg.org/multipage/syntax.html#syntax-attributes) says double quoted (attribute="value"), single quoted (attribute='value'), unquoted - if the

[2020-01-23 17:58] fdinardo opened #572 "The template context does not define a member called 'item'"
**Describe the bug**

Not sure if this issue is related to this extension, but the code does compile and work even if the language service gives me an error in the console.

In a component.html file I have this:
[code]
the `let-item="item"` piece is red highlighted and this is the description:

**To Reproduce**
Use any `*-tmp` directives along with `let-*` ones.

**Expected behavior**
No Errors sh

[2020-01-23 18:30] ayazhafiz commented on #572
Can you show the definition of the `ng-label-tmp` or `ng-option-tmp` directives? I think this may be a case of https://github.com/angular/vscode-ng-language-service/issues/251.

[2020-01-23 18:39] fdinardo commented on #572
Hi thanks for the answer. I looked at #251 and this may be that case.
I think the problem is related to the lib I am using, those definitions comes form there.

So maybe i have to update the package, but in the past this error wasn't showing up, that's why I thought it could be related to this extension (with the latest update)

[2020-01-23 18:55] fdinardo commented on #572
Anyway this is the definition:
[code]

Seems like `TemplateRef<any>` is the problem, correct?

[2020-01-24 00:29] kuncevic commented on #14
Having that on mac Catalaina 10.15.2 with angular material components that I am exporting from the custom angular material module that lives in my shared library.

VScode details:
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:57:51.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.2.0

Why would you need to

[2020-01-24 00:32] kuncevic commented on #14
Having that on mac Catalaina 10.15.2 with angular material components that I am exporting from the custom angular material module that lives in my shared library.

VScode details:
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:57:51.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.2.0

@carlosearaujo

By ad

[2020-01-24 00:34] kuncevic commented on #79
Related  https://github.com/angular/vscode-ng-language-service/issues/14#issuecomment-577942244

[2020-01-24 00:41] kuncevic commented on #340
Same here. I have a monorepo setup with angular material module living in my shared library.
So I've got that weird error withing in templates templates on each material component.

![image](https://user-images.githubusercontent.com/1283734/73036046-4e70ed80-3e9e-11ea-91da-7e8332ce2589.png)

[2020-01-24 01:19] dannymcgee commented on #571
@ghaschel If you wanted to coordinate and help open PRs to get the expression grammar in, that would be fantastic. Maybe we could split tasks between the three of us? And since you've already done the work of extracting the relevant patterns from the JS grammar, if we can refer back to your repo that would make things go much faster and smoother.

[2020-01-24 02:20] ayazhafiz commented on #571
Do either of you know if it possible (or more importantly, reasonable) to create a grammar that doesn't escape the starting/ending patterns that it is included in?

[2020-01-24 02:21] ayazhafiz commented on #571
Any help would be welcome and highly appreciated. I think we can go ahead and start with incremental addition to the JSON grammar for template expressions, or refactor to TypeScript definitions, or both.

[2020-01-24 02:40] dannymcgee commented on #571
Sorry, I'm not sure if I understand what you mean? I've only ever created outright replacement grammars, never attempted the `injectionSelector` thing we're doing here, if that's what you're referring to.

[2020-01-24 08:15] BO41 opened #575 "Template color highlighting broke"
**Describe the bug**

Tag highlighting is strange and inconsistent

**Expected behavior**

opening tags and closing tags should have the same color.
No error red should be shown if code is correct.

**Screenshots**

![image](https://user-images.githubusercontent.com/29450609/73054110-79991400-3e81-11ea-92db-389e08404ae4.png)

**Additional context**

worked in `v0.900.5`, broken in `v0.900.6`

[2020-01-24 08:41] evilstiefel commented on #572
v0.900.6 was released just as you wrote that, which seems to have fixed the problem

[Changelog on Github for v0.900.6](https://github.com/angular/vscode-ng-language-service/commit/05a46fccba1f29309ed1b0a41897c6d246790847)

[2020-01-24 09:44] smnbbrv commented on #575
In addition to the above, the comment shortcut such as `ctrl + /` / `cmd + /` produces a typescript-like comment `// ...` instead of html-like comment ``

The issue is really annoying and makes the extension instead of being helpful to absolutely unusable.

My guess: this is somehow related to custom structural directives such as e.g. angular material ones and / or `(event)` handlers.

[2020-01-24 12:19] ghaschel commented on #571
I'm not sure I understand what you mean. There is two ways to match patters. An exact match, and a starting/ending match with specific scope matching inside. Is this related to what you're thinking?

I'm down with that. I'm just not sure to what repository to commit to and what technologies would we be using... Are there any real advantages in using Typescript instead of yaml/json5?

[2020-01-24 12:40] ghaschel commented on #575
I'm using v0.900.6 here and it doesn't happen to me. Did you try to disable other extensions to rule out any conflicting extensions?

[2020-01-24 12:53] zawi99 commented on #572
I had the same problem @fdinardo and just noticed that version 0.900.6 is available which solves the problem.

[2020-01-24 13:18] BO41 commented on #575
@ghaschel you are right, it is not in every file.

I was able to narrow it down to this line causing trouble
[code]

[2020-01-24 13:21] ghaschel commented on #575
Try adding  a `; ` after `let param`

[2020-01-24 13:26] BO41 commented on #575
add `;` seems to resolve the problem.

Is there a chance to make this chance non breaking?
Angular is not doing the `;` and prettier is removing it too

[2020-01-24 13:31] ghaschel commented on #575
This is related to the angular expressions matching pattern. The ongoing discussion is here: https://github.com/angular/vscode-ng-language-service/issues/571

[2020-01-24 13:34] ghaschel commented on #571
I have had in the past in my grammar the problems described in https://github.com/angular/vscode-ng-language-service/issues/575
I think the reduced/adapted JS grammar I derived would solve this problem

[2020-01-24 13:38] smnbbrv commented on #575
Well, fixing a working project for a not announced breaking change of IDE plugin in order to make IDE highlighting the HTML templates properly doesn't sound like a solution...

However it's good that the issue is localised.

Will this be fixed?

[2020-01-24 16:02] ayazhafiz commented on #575
Yes.

[2020-01-24 16:30] ayazhafiz commented on #571
What I mean is a grammar that never matches outside the pattern that it is included in. A lot of the issues we are seeing are because JS syntax is bleeding out of the scope it was included in, trying to match a pattern past the assumed-ending match of its parent, because the grammar tries to finish matching JS first before closing the parent. This is my understanding, anyway -- please correct me i

[2020-01-24 18:35] simondel commented on #557
In my case, the `coverage` folder contains a tree of my folders, but with no files inside. I believe there are files inside sometimes. It's simply the coverage folder generated by running the unit tests (I believe this is part of the default Angular CLI config).

I have sent you the logging :)

[2020-01-24 19:43] dannymcgee commented on #571
Ahh, okay. Yeah, for better or worse this is the default behavior for embedded TextMate grammars. It's essentially the parent grammar's responsibility to define the end condition for the embedded pattern. The problem as I understand it is that if the embedded grammar enters into its own multi-line state (i.e. one demarcated by "begin"/"end" patterns instead of a simple pattern match), the grammar

[2020-01-24 20:10] ghaschel commented on #571
That's precisely what I've done with my grammars. That and adding some extra matches like optional chaining support.

JSON5 doesn't provide scripting like that, it's basically a more permissive JSON. The only advantages over plain JSON would be having multiple repositories divided by folders/subfolders and files that would be merged into a single json per main folder. As far I could understand we

[2020-01-24 21:11] kyliau commented on #572
When diagnostics are performed in the language service, the context for the embedded view is assumed to be the context of the structural directive that is applied to `ng-template`.
This assumption is incorrect, according to the [docs](https://angular.io/api/common/NgForOf) in angular.io:
[code]

[2020-01-24 23:12] dannymcgee commented on #571
Yep, that would be the plan. I should be able to go ahead and open a PR tonight to refactor the existing grammars to use that system, and from there we can start adding the custom template expression grammar.

[2020-01-25 09:45] jabby opened #579 "Debug enabled when NG_DEBUG env variable is set to false"
**Describe the bug**

I worked on Wild Web Developer and we integrated the angular-language-server to provide support of Angular in Eclipse. One of our user ask us why we run angular language server into debug mode. I ding into this issue and found a problem in our code. In fact, we always add NG_DEBUG='true' to our process env.

I set the env variable to false but when I checked the result for th

[2020-01-25 17:27] ayazhafiz commented on #579
Thank you for this report. The PR linked above should fix this

[2020-01-25 17:36] ayazhafiz commented on #575
With the template

[code]

I am seeing the error with the JS syntax in the `*matCellDef` binding, but not with the `*matHeaderCellDef`. @BO41 is there something I am missing?

<img width="968" alt="Screen Shot 2020-01-25 at 9 33 41 AM" src="https://user-images.githubusercontent.com/20735482/73124918-d108b400-3f55-11ea-8737-e332be734cb3.png">

[2020-01-25 17:38] ayazhafiz commented on #571
Do you two mind if I use your existing grammars to start on the template expression grammar?

[2020-01-25 17:42] #251 closed

[2020-01-25 17:58] dannymcgee commented on #571
I don't mind, but you'll definitely want to use @ghaschel's version as mine is wrong :)

[2020-01-25 21:13] CsabaMarko opened #582 "The TypeScript extension crashed"
Issue Type: <b>Bug</b>

Not sure. It happened randomly.

Extension version: 0.900.7
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_st

[2020-01-25 21:36] ayazhafiz commented on #582
Hi, thanks for the report. Unfortunately, with the amount of information provided, it is very difficult to investigate the cause of this issue. Please open another issue following the standard issue template provided by this repository, including logs from the Angular extension.

[2020-01-25 21:36] #582 closed

[2020-01-26 03:03] dannymcgee commented on #575
My guess is that the breaking piece of syntax is actually further up the file, not in the screenshot. The opening `ng-container` is the wrong color for an HTML tag in the OP screenshot, but less noticeable than the red structural directive and the SNAFU that follows.

[2020-01-26 11:11] BO41 commented on #575
That's correct. At the time of opening the issue I didn't know the cause.
Once the syntax is broken once, it doesn't recover for the rest of the file.

@ayazhafiz if you copy the same code again below, it probably looks like my screenshot

[2020-01-26 18:52] ayazhafiz commented on #575
@BO41 what code are you referring to?

[2020-01-26 18:56] BO41 commented on #575
this one. But any new opening tag should be messed up

[2020-01-26 19:03] ayazhafiz commented on #575
Okay. Can you verify that the sole cause is the missing semicolon in the `let param` expression?

[2020-01-27 07:21] BO41 commented on #575
how? anything I can test?
- the code is from angular.io
- it works in .5
- it breaks by upgrading to .6 or .7 even with all other extensions disabled
- you and other people can reproduce it with different angular versions

[2020-01-27 07:35] ayazhafiz commented on #575
What I mean is, can you confirm that the error in the highlighting for the issue you have reported on the `ng-container` tag and after the `*matCellDef` definition is caused by a missing semicolon.

[2020-01-27 08:07] BO41 commented on #575
As @ghaschel suggested

or

But the semicolon isn't missing, as it shouldn't be necessary.

[2020-01-27 12:05] ghaschel commented on #571
I can make a PR with my grammar as soon as #581 is merged. =]

[2020-01-27 13:07] masterlavidobrasil commented on #460
No meu caso usei conversão via pipe {{ (index | number) + 1 }} e parou o problema

[2020-01-27 13:11] wesleyxavier commented on #460
No meu caso usei conversão via pipe {{ (index | number) + 1 }} e parou o problema

[2020-01-27 13:47] JochemWarmenhoven commented on #575
I am having the same issue with the *ngFor directive and can confirm that adding `;` to the end of `*ngFor="let p of navItems` fixes the rest of the formatting.

[2020-01-27 15:26] qmarquez commented on #575
![image](https://user-images.githubusercontent.com/18141238/73187444-2bde0f00-4100-11ea-857a-b7e97f0efb99.png)
Append another example

[2020-01-27 16:00] ayazhafiz commented on #575
Okay, we're on it. If there are other bugs independent of this one, please feel free to open a new issue. If possible, please include a minimal code sample we can copy/paste into an editor.

[2020-01-27 18:44] #579 closed

[2020-01-27 20:20] qmarquez commented on #575
![image](https://user-images.githubusercontent.com/18141238/73210530-42e52700-4129-11ea-92c5-9e357ee3b71d.png)
`
<div>
  <ng-template #event>
    <ng-container *ngIf="!false">some code</ng-container>
  </ng-template>
</div>
`

![image](https://user-images.githubusercontent.com/18141238/73210502-306aed80-4129-11ea-8c94-688d273455a8.png)
`
<ng-container *ngFor="let hour of hoursToRender, let f = fir

[2020-01-27 20:25] qmarquez commented on #575
Sometimes ng-containger is properly colored, sometimes not:
![image](https://user-images.githubusercontent.com/18141238/73210919-00701a00-412a-11ea-84af-cf3eed4b72bb.png)

<div class="container">
    <div class="hoursHeaderColumn">
        <ng-container *ngFor="let n of hoursToRender, let f = first, let i = index, let e = even">
            <div class="hoursHeader"
                 [class.dayHeade

[2020-01-28 04:12] dannymcgee commented on #575
@qmarquez The failure point in your examples is the `let <var> = <value>` statements. If you cap those with a semicolon, I suspect you'll see consistent syntax highlighting again. (That's not to say this isn't a bug, but that it is consistently reproducible under those circumstances.)

The correct color for an HTML tag with the default Dark+ theme is dark blue. It's getting the green color because

[2020-01-28 07:58] thesaadmirza opened #588 "Error on Sub Component "Not a Known Element""
On Sub Components, if you try to add a child component in the parent component, it will give you an error that this is not a know Element even if you defined those in-app module declarations.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a Component
2. Create its 1st Child Component
3. Now Create Another child under 1st Child Component, naming it as 1.1st Child.
4. Now try to add 1

[2020-01-28 09:23] tabinnorway commented on #572
Is there anything we can do to help fix this? There's been a couple of patches since 900.5, and this is still an issue.

[2020-01-28 11:22] BO41 commented on #588
Does it transpile?

What is the definition of `RecipeListComponent`?
Do you have an attribute selector on it?
`selector: 'app-recipe-list[someAttribute]',`

[2020-01-28 11:49] thesaadmirza commented on #588
![Screenshot 2020-01-28 16 48 34](https://user-images.githubusercontent.com/14211943/73261573-2f4fc400-41ee-11ea-82fc-4395af2bcb97.png)
![Screenshot 2020-01-28 16 49 27](https://user-images.githubusercontent.com/14211943/73261574-2fe85a80-41ee-11ea-83c5-c647a9939d26.png)

[2020-01-28 14:01] qmarquez commented on #575
Yeah, that's it, it fixed it. I thought it was separated by ','

It's all perfect! really thnks a lot! <3

[2020-01-28 14:53] lincolnthree commented on #572
Here is a directive that reproduces the issue for me:

[code]

[2020-01-28 17:55] ayazhafiz commented on #572
@lincolnthree your example is a case of #251. If you refine the type of `_template` in `NgSubscribeDirective`'s constructor to be `TemplateRef<SubscribeContext>`, the diagnostic message will resolve.

@fdinardo Are you able to provide the definitions of the directives you are using that are causing this issue? Without that information, I have been unable to reproduce the error message aside as it

[2020-01-28 18:45] BenjaminB64 opened #589 "Truthy value check, but red highlighting for undefined"
**Describe the bug**

If you check a variable in HTML has a truthy value (not null, not undefined, ...) and call then a method on it, I get an error with unknown method because VSCode believes object can be undefined.

Example:

`{{ foo && foo.bar() }}`

In my example, I consider `foo : Type | undefined;`

**To Reproduce**

Just implement a similar simple `foo` attribute in an Angular component an

[2020-01-28 18:57] ayazhafiz commented on #589
Can you show us the definition of `ModelInstance`? I tried reproducing this with `public name?: string;` and `{{ name && name.toUpperCase }}` but could not get the error to appear.

[2020-01-28 19:01] andrius-pra commented on #589
you can use this example:
[code]

[2020-01-28 20:24] lincolnthree commented on #572
@ayazhafiz Thank you, that did indeed resolve the issue! Updating the rest now :)

[2020-01-28 22:41] JeroenRombouts commented on #572
I have the error too. And it only recently appears in our Kendo Grids. Does that mean it's a problem on their side?

[2020-01-28 22:58] ayazhafiz commented on #572
I’m not familiar with what Kendo Grids are. As mentioned previously, without seeing the definition of the directive it is difficult to say. If the template context is typed relatively loosely, for example as `any` or `object`, then there is not much the language service can do but provide a suggestion to more strongly type the context (#251).

________________________________
От: Jeroen Rombouts <

[2020-01-29 04:51] tabinnorway commented on #572
This seems to be a problem with the language service. See @kyliau comment above.

[2020-01-29 08:11] BenjaminB64 commented on #589
That's it !

[2020-01-29 09:12] sanket-bhalerao opened #591 "HTML comments don't look like comments anymore."
Issue Type: <b>Bug</b>

the comments in the html in an angular project do not look like comments.
it looks like plain code.

![image](https://user-images.githubusercontent.com/9264813/73342930-98464300-42a5-11ea-92d2-d841cb4c56ad.png)

Extension version: 0.900.7
VS Code version: Code - Insiders 1.42.0-insider (be9c72410acc677070685a616773b122f4c5e141, 2020-01-29T05:39:07.145Z)
OS version: Windows_

[2020-01-29 09:15] sanket-bhalerao commented on #575
comments do not look like comments anymore.
is anyone else observed this behaviour?
#591

[2020-01-29 09:17] smnbbrv commented on #575
[yes](https://github.com/angular/vscode-ng-language-service/issues/575#issuecomment-578060309)

[2020-01-29 09:29] sandervanteinde commented on #557
Hi @kyliau , I am a team member of Simon and am also experiencing this issue. Would it be helpful for you if I also send you the logs of my machine?

[2020-01-29 13:29] ghaschel commented on #571
I started working on porting my grammar to the format @dannymcgee introduced in #581.

[2020-01-29 14:47] areknow commented on #575
So just to recap, adding the semicolon fixes it. Will this behavior be updated in a future patch? Or should we just be adding semicolons from now on to get proper syntax highlighting? Thank you for all your hard work!

[2020-01-29 15:25] ayazhafiz commented on #575
We are working on fixing this in a future patch!

________________________________
От: Arnaud Crowther <notifications@github.com>
Отправлено: среда, января 29, 2020 6:47 AM
Кому: angular/vscode-ng-language-service
Копия: hafiz; Mention
Тема: Re: [angular/vscode-ng-language-service] Template color highlighting broke (#575)

So just to recap, adding the semicolon fixes it. Will this behavior be upda

[2020-01-29 15:27] ayazhafiz commented on #571
Okay cool. I decided to hold off since your comment. Excited to see it; let me know if we can help.

________________________________
От: Guilherme Haschel <notifications@github.com>
Отправлено: среда, января 29, 2020 5:29 AM
Кому: angular/vscode-ng-language-service
Копия: hafiz; Mention
Тема: Re: [angular/vscode-ng-language-service] Textmate grammar for template expressions (#571)

I started work

[2020-01-29 15:58] ayazhafiz commented on #591
Can you provide a minimal reproduction of this? I am unable to see this with the template

[code]

In either an inline or external template. If there are other highlighting errors in the template, they may be impacting this.

[2020-01-29 16:02] ayazhafiz commented on #589
Sorry for the delayed response. I just tried this and am unable to see the error. What version of the language service and TypeScript are you using when this is observed? (This can be found by going to View > Output > Angular Language Service on the dropdown and copy/pasting the contents of that log).

[2020-01-29 16:06] BenjaminB64 commented on #589
@ayazhafiz
Here it is :
[code]

[2020-01-29 16:06] BenjaminB64 commented on #589
@ayazhafiz
[code]

[2020-01-29 16:13] ayazhafiz commented on #589
Strange. Can you confirm that the example @andrius-pra posted above reproduces the issue for you?

[2020-01-29 16:23] fdinardo commented on #572
@ayazhafiz The definition of those directives comes from a third party package.
Here is the definition for `ng-option-tmp`:
[code]
So, this package uses `TemplateRef<any>` which regards the case #251 .

I just don't get why this diagnostic message doesn't come up with `v9.000.4` and previous versions!
This is actually a problem, in this case I can make PR to that package to fix this, but sometime

[2020-01-29 17:28] ayazhafiz commented on #572
I agree, this is a strange. Recently there has been a lot of development on the language service, especially with respect to template bindings and variables. I think this is just one case we didn't catch correctly before.

As far as I'm aware, the Angular compiler does not perform a check on the members made available by the template context; for me, AOT compilation with `TemplateRef<null>` seemed

[2020-01-29 17:51] fdinardo commented on #572
What I meant with my last comment is that the diagnostic message comes up in the console -> problems, and make the file in the structure view "red" in vscode. When I look at it I think:
"Hey what is wrong with this file?" and I have to figure out that this is not a "real" not compiling error.

Another strange behavior is that the diagnostic error (with the file highlighting in red) is not recogniz

[2020-01-29 18:15] ghaschel commented on #571
![image](https://user-images.githubusercontent.com/5878866/73384265-af872f80-42a9-11ea-9957-781a801d786c.png)

Its going fine... There are a few regexes I'll have to rewrite because it seems that the tsc compiler doesn't see them as valid.

I think we can expect the expressions to be fully functional by friday at most.

[2020-01-29 18:25] ayazhafiz commented on #572
@fdinardo okay, the PR above (https://github.com/angular/angular/pull/35036) will make this a warning 🙂

[2020-01-29 18:28] ayazhafiz commented on #571
Great to hear! Feel free to submit incremental PRs as you go, if you'd like.

[2020-01-29 20:10] fdinardo commented on #572
I saw the PR right now!
Your solution is perfect, it's a warning but not a big one! it tells us that something is potentially wrong, but could not be blocking!

Thanks... I am Very happy with this PR :)

I think we can close this.

[2020-01-29 20:55] #572 closed

[2020-01-29 21:35] kyliau commented on #572
The fix will be included in v0.900.8 scheduled to be published on Thursday Jan 30 (PST)

[2020-01-29 21:57] kyliau commented on #589
I was also unable to reproduce the error with the example that @andrius-pra showed.
Here's my screenshot:

![Screenshot from 2020-01-29 13-56-38](https://user-images.githubusercontent.com/2941178/73401065-4995aa80-429f-11ea-8cb0-405a0fde3f0b.png)

[2020-01-29 22:00] kyliau commented on #589
@BenjaminB64 When you hover over `startModelInstance`, what does the hover tooltip show?
Specifically, does it show the type of the symbol? If so, what is it?

[2020-01-29 22:13] andrius-pra commented on #589
Use strict mode in tsconfig:
[code]

[2020-01-30 01:19] blubberbo opened #593 "Max call stack size exceeded in StaticSymbolResolver.resolveModule"
I am getting the `The Angular Language Service server crashed 5 times in the last 3 minutes. The server will not be restarted.` message in my vscode.

The output is the following:
[code]

[2020-01-30 02:27] ayazhafiz commented on #593
Can you provide us with the log file? It’s the fourth line on the console output.

[2020-01-30 02:33] dannymcgee commented on #571
Oof, that's a pain, sorry about that! In those cases it might honestly be easier to just keep the patterns in string format instead of reformatting to a regex literal, unless there's a way we can update the build function to handle them. What's the specific issue you're seeing?

[2020-01-30 03:08] blubberbo commented on #593
sure, see the following: [nglangsvc.log](https://github.com/angular/vscode-ng-language-service/files/4131986/nglangsvc.log)

[2020-01-30 06:47] ayazhafiz commented on #589
To fix this, a couple options are to either perform true template type checking in the language service or disable strict null checks when performing diagnostics in the `&&` context. I think the second definitely is not preferable, and in the current state the first would either be a very large change or a patch just for this use case. I know we are pushing a lot of things post-Ivy, and I think th

[2020-01-30 07:28] sanket-bhalerao commented on #591
it seems I am not able to replicate this now.
however, yesterday (while raising this) I tried to cross out all the other cases like,
1. reloading vscode.
2. restarting vscode
3. disabling other extensions to find the extn causing this.
4. creating a new project and trying the same thing in it.
and it had the issue at all the places.
it's not today.

[2020-01-30 10:04] ikilinc opened #594 "language service loaded from workspace instead of extension"
language service has works fine util 0.900.4. After 0.900.4 i noticed getting errors like this.

My Package.json:

  "dependencies": {
    "@angular/animations": "~8.2.14",
    "@angular/cdk": "~8.2.3",
    "@angular/common": "~8.2.14",
    "@angular/compiler": "~8.2.14",
    "@angular/core": "~8.2.14",
    "@angular/forms": "~8.2.14",
    "@angular/material": "^8.2.3",
    "@angular/platform-brow

[2020-01-30 10:17] andrius-pra commented on #594
Do you have any typescript plugin defined in tsconfig.json? ex:
[code]

[2020-01-30 10:42] sanket-bhalerao commented on #575
not sure if this is related to this extension or something else but the *ngFor is expecting to end with a ";"
`*ngFor="let range of day.ranges; let whichIndex = index;"`
without the ";" in the end,  the comment does not appear proper, attribute and their values change color.
without ";" ->
![image](https://user-images.githubusercontent.com/9264813/73442650-39eb9400-437b-11ea-90ee-c9cdbef2c6df.png)

[2020-01-30 10:43] sanket-bhalerao commented on #591
@ayazhafiz
found something regarding the bug
the *ngFor is expecting to end with a ";"
`*ngFor="let range of day.ranges; let whichIndex = index;"`
without the ";" in the end,  the comment does not appear proper, attribute and their values change color.
without ";" ->
![image](https://user-images.githubusercontent.com/9264813/73442650-39eb9400-437b-11ea-90ee-c9cdbef2c6df.png)

with ";" ->
![image](

[2020-01-30 10:54] jsangmeister commented on #591
Having the exact same problem right now: If a structural directive contains a ';' but doesn't end with one, the syntax highlighting breaks and, whats even more annoying, VS Code seems to think that the HTML after that ist still javascript so it will insert '//' when commenting code out.

[2020-01-30 11:03] ikilinc commented on #594
my tsconfig.json file

{
  "compileOnSave": false,
  "compilerOptions": {
    "baseUrl": "./",
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "module": "esnext",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "importHelpers": true,
    "target": "es2015",
    "typeRoots": [
      "node_modules/@types"

[2020-01-30 11:14] ikilinc commented on #594
i thought the error comes from the ts version 3.7.5, normaly i have to use version below 3.7, due to angular cli have dependency on < 3.7, but older version of language server ( 0.900.4.) and ts 3.7.5 works too.

[2020-01-30 13:15] julioelifas opened #595 "Red Highlighted greater sign on the right syntax"
![Desktop Screenshot 2020 01 30 - 21 12 32 46](https://user-images.githubusercontent.com/60472725/73452813-a9767900-43a5-11ea-968a-ad0b79bafd41.png)
**Describe the bug**

A clear and concise description of what the bug is.

If the bug is caused or experienced by a particular source code, please provide a minimal
reproduction of that source code.

**To Reproduce**

Steps to reproduce the behavior:

[2020-01-30 14:16] sanket-bhalerao commented on #591
if you have linting enabled with eslint it removes the ";" every time 🤣

[2020-01-30 16:29] ayazhafiz commented on #595
This appears to be the same as #575. Marking as a duplicate.

[2020-01-30 16:29] #595 closed

[2020-01-30 16:30] ayazhafiz commented on #591
In this case it seems like the issue is the same as #575. Marking as duplicate to track there. If you find a bug with another root cause, feel free to open a new issue.

[2020-01-30 16:30] #591 closed

[2020-01-30 16:32] ayazhafiz commented on #594
Could you post a link to the entire contents of your log file?

[2020-01-30 16:35] ayazhafiz commented on #593
Strange, the log looks okay. Did you ever observe this error before the latest version of the extension? This might be related to #594.

[2020-01-30 18:09] andrius-pra commented on #594
@ikilinc, Could you try to use `9.0.0-rc.11` version of @angular/language-service:
[code]

@ayazhafiz, there is a bug in the language server. It uses local typescript and @angular/language-service packages when using `"typescript.tsdk": "node_modules\\typescript\\lib"` setting.
![image](https://user-images.githubusercontent.com/17968027/73474032-711b6e80-4396-11ea-9f9c-ad1b34aedf59.png)

[2020-01-30 18:17] ayazhafiz commented on #594
I believe this is intentional; the language service prioritizes the version specified by `typescript.tsdk`:

https://github.com/angular/vscode-ng-language-service/blob/564edb8a63c367daadaa342bfaeb0d1fdd275bb7/client/src/extension.ts#L89-L103

The language service version is the one bundled by the extension, which is also prioritized. Maybe there is a TS version mismatch.

[2020-01-30 18:29] ayazhafiz commented on #333
@andrius-pra perhaps [prettier](https://github.com/prettier/prettier) would work well?

[2020-01-30 18:40] andrius-pra commented on #594
The extension has `@angular/language-service@9.0.0-rc.11` and the workspace has `@angular/language-service@8.2.14`. Angular language server tries to load 9.0.0-rc.11 version because version `8.2.14`[ is too low](https://github.com/angular/vscode-ng-language-service/blob/master/server/src/version_provider.ts#L10). This is expected behavior.

But typescript actually loads `8.2.14` version from works

[2020-01-30 18:58] cpboyd opened #596 "HTML comment issue: // and /* */"
**Describe the bug**

This plugin currently replaces VS Code comments for Angular HTML template files with `//` for line comments and `/* */` for block comments.

Neither of these actually seem to remove an element from the layout.

Additionally and probably related, standard HTML comments `` don't get appropriate highlighting.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to an Angula

[2020-01-30 18:59] cpboyd commented on #596
Ah. Duplicate of #575

[2020-01-30 18:59] #596 closed

[2020-01-30 19:03] cpboyd commented on #575
Just to add: Prettier automatically removes a semicolon from `<div *ngIf="data.status as status;">` which results in this issue.

[2020-01-30 19:10] ayazhafiz commented on #594
I see what you are saying. What is the version of TS being used? If it is above the one in microsoft/TypeScript#34616, the bundled (>9.0.0) version of the language service should be found by tsserver anyway.

[2020-01-30 19:36] andrius-pra commented on #594
I'm using typescript 3.7.5 but the search logic changed in [v3.8-beta](https://github.com/microsoft/TypeScript/commit/f689982c9f2081bc90d2192eee96b404f75c4705)

[2020-01-30 19:37] kyliau commented on #531
This is fixed by https://github.com/angular/angular/pull/34570

[2020-01-30 19:42] kyliau commented on #589
I agree with @ayazhafiz, the long term solution is to wait for Ivy compiler to be integrated into language service and make a proper fix.
Meanwhile, as a short term fix, we could disable strict check in the language service (regardless of the value in user's tsconfig.json).

[2020-01-30 20:03] kyliau commented on #594
Thank you @andrius-pra for confirming that the change landed only in v3.8.
So in short, either uninstall `@angular/language-service` from the project (recommended), or update the version to the latest beta.

[2020-01-30 20:39] kyliau commented on #593
@blubberbo Do you mind turning on verbose logging and capture the log file again?
It'd allow us to see all dependencies of your project.
If that's ok with you, it can be activated by going to
File > Preferences > Settings > Search 'angular.log' > Pick verbose
Then restart the Angular language service by searching for the command "Restart Angular language server"
Thank you

[2020-01-30 21:26] BenjaminB64 commented on #589
It was `ModelInstance | undefined`

I think it's a nice temporary solution :)

[2020-01-30 21:30] andrius-pra commented on #593
I got similar error:
![bug](https://user-images.githubusercontent.com/17968027/73491636-bac88100-43b7-11ea-8ead-7463c1c11d3b.gif)

[code]

[2020-01-31 02:27] victos opened #599 "There's nothing happens after I install the extensions."
**Describe the bug**

After installing the extension, when I try to edit something, nothing happens.

**Logs**

Please attach two logs:

1. Console output (Go to toolbar --> View --> Output, and copy the contents)
[Info  - 10:17:18 AM] Angular language server process ID: 6437
[Info  - 10:17:18 AM] Using typescript v3.7.4 from /home/jack/.vscode-oss/extensions/angular.ng-template-0.900.8/node_modul

[2020-01-31 03:22] blubberbo commented on #593
[Info  - 7:20:22 PM] Angular language server process ID: 787
[Info  - 7:20:22 PM] Using typescript v3.7.4 from /Users/iblubberbo/.vscode/extensions/angular.ng-template-0.900.8/node_modules/typescript/lib/tsserverlibrary.js
[Info  - 7:20:22 PM] Using @angular/language-service v9.0.0-rc.12 from /Users/iblubberbo/.vscode/extensions/angular.ng-template-0.900.8/server/node_modules/@angular/language-ser

[2020-01-31 03:57] kyliau commented on #593
Thank you @andrius-pra for the repro. I was able to replicate the crash on my machine. It looks like it was trying to recursively resolve the symbols from the same file.

[2020-01-31 07:48] ikilinc commented on #594
Thanks you @kyliau  @andrius-pra  @ayazhafiz .

I have updated `@angular/language-service` to the latest version rc12 and after `npm install` and restart vscode `> reload window`. It works like a charm.

But this behavior can be little confusing because angular cli generates package.json with @angular/language-service with a specific version. Thats means all project with angular8 and ts below < 3.

[2020-01-31 09:41] jpike88 commented on #333
I have this plugin installed which handles my CSS formatting, interesting I don't even use it for that, just for the SCSS formatting for managing my Angular Material theme file. Would recommend aligning to this plugin however it's appropriate.

https://github.com/sibiraj-s/vscode-scss-formatter

[2020-01-31 19:14] kepicorp opened #602 "Memory usage too high"
Issue Type: <b>Bug</b>

The extension keep crashing because of memory ussage
[code]
[ 1170.629476] [   5507]  1000  5507   173857        0   626688     3153             0 io.elementary.t
[ 1170.629478] [   5515]  1000  5515    12893        1   106496     1222             0 bash
[ 1170.629480] [   5914]  1000  5914   674593     1507  1196032    10626             0 Web Content
[ 1170.629482] [   597

[2020-01-31 21:35] itanex commented on #575
@cpboyd Any tool that lints and cleans code is going to recreate the issue if you are using the work around of the semicolon. As the presence of the semicolon is not the syntax for Angular. Once the fix has been released, and hopefully some unit tests cover it, we shouldn't have to use the work around or encounter this issue.

Except when the issue regresses :(

[2020-01-31 22:20] dannymcgee commented on #575
We are snapshot testing the grammars here, and once the fix is I'm sure we'll be adding test cases to cover this issue. I really don't foresee any regressions once this has been fixed. :)

[2020-02-01 19:43] ayazhafiz commented on #594
Yes, projects with a dependency on `angular/language-service` that is less than the most recent version or using TS below 3.8 will have this issue.

[2020-02-01 20:18] ayazhafiz commented on #602
Hi! Please use the standard issue template, and attach the relevant logs from both VSCode and the extension. We would love to help solve this issue, and without these info, it is almost impossible for us to debug the problem.
Closing this for now, please open a new issue with more info, thank you.

[2020-02-01 20:18] #602 closed

[2020-02-01 20:22] ayazhafiz commented on #599
What do you expect to happen? It looks like the language service is recommending `ng-container`.

[2020-02-02 09:48] victos commented on #599
the ngIf should be there right ?

[2020-02-02 14:03] ikilinc commented on #594
i will close this issue than, but i would like to see a warning maybe in README.txt to pointing out this issue.

[2020-02-02 14:03] #594 closed

[2020-02-02 16:48] ayazhafiz commented on #599
No. Only if you do `*ng..`.

________________________________
От: victos <notifications@github.com>
Отправлено: воскресенье, февраля 2, 2020 1:48 AM
Кому: angular/vscode-ng-language-service
Копия: hafiz; Comment
Тема: Re: [angular/vscode-ng-language-service] There's nothing happens after I install the extensions. (#599)

the ngIf should be there right ?

—
You are receiving this because you commen

[2020-02-02 20:48] ayazhafiz commented on #531
Not quite done; we are missing typings for DOM events. Please see the attached PR; we may decide to actually not support DOM event typing.

[2020-02-02 21:02] ayazhafiz commented on #588
Can you copy/paste code snippets for the NgModules all of these components/directives are defined in?

[2020-02-02 21:17] ayazhafiz commented on #571
@ghaschel how is it going? Can we help in any way?

[2020-02-02 21:17] ayazhafiz commented on #143
relevant, probably blocking: https://github.com/Microsoft/TypeScript/issues/9879

[2020-02-03 01:24] victos commented on #599
![no-ngif](https://user-images.githubusercontent.com/3107600/73619137-de652300-4666-11ea-92ba-3b5f58af4743.png)

[2020-02-03 01:50] ayazhafiz commented on #599
Can you provide more information? It is difficult to diagnose what the problem here is by only showing the template. What component does the template belong to, and what module is the template declared in? For example, the `ngIf` directive may not be loaded if your module does not import `CommonModule` from `@angular/core`.

If you are able to provide a minimal code snippet and an explanation of t