[2020-12-17 17:29] kyliau opened #1036 "v0.1100.1 fails to resolve ngcc"
@Arkthur This is my angularCompilerOptions：

[code]
---

Also, If you use vscode-ng-language-service v0.1100.1 or v0.1100.3, please reinstall v0.1100.0. It seems that vscode-ng-language-service v0.1100.1 has *serious bugs* and ivy language service will not work.

_Originally posted by @xiaoxiangmoe in https://github.com/angular/vscode-ng-language-service/issues/335#issuecomment-734043569_

[2020-12-17 17:29] kyliau commented on #1036
Duplicate of #1032

[2020-12-17 17:29] #1036 closed

[2020-12-18 14:09] KostblLb commented on #457
I also experience troubles with library imports: I have a library built NOT with ivy (enableIvy was set to false in tsconfig) with this bundle index:
[code]

when I import something from this bundle in my code, the language service breaks immediately, and restores once I remove the imports

[2020-12-18 19:29] yjaaidi opened #1039 "ngcc crash with monorepo / multi-project config - Ivy Native LS"
**Describe the bug**

The VSCode extension crashes on repositories with multiple tsconfigs.

It seems to try to `ngcc` the `node_modules` folder next to every tsconfig.

**To Reproduce**

1. Enable the extension on a repo like this one https://github.com/jscutlery/convoyr
2. Open the `app.component.ts`

**Expected behavior**

It should not crash.

**Logs**

[code]

[2020-12-19 17:45] davidroeca opened #1040 "Support node 14 in @angular/language-server"
**Describe the bug**

The engines check fails on `yarn install @angular/language-server` while using node 14:

With `npm@6.14.9` this is a warning:
[code]

With `yarn@1.22.5` this fails:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1.  Make sure `node --version` is >=14.
2. Try `yarn install @angular/language-server`

**Expected behavior**

Successful installation. Node 14 is conside

[2020-12-21 17:37] kyliau opened #1041 "Do not disable language service if ngcc fails"
Currently if ngcc fails, we keep the language service disabled permanently. This is probably not ideal, because even after users run ngcc manually, they still can't use the extension.

We should print out a warning, let users run ngcc on their own, and re-enable the language service.

[2020-12-21 17:38] kyliau commented on #1039
Thanks for the link to the repo, it's very helpful.

Looks like ngcc does not handle the case where cwd is manually set to the directory of the `tsconfig.json`, as opposed to the directory where `node_modules` is.

https://github.com/angular/vscode-ng-language-service/blob/132b2051c44de5504bc77776430c066ecc5fa88a/server/src/ngcc.ts#L36-L44

When I run ngcc from `convoyr/apps/sandbox`, I saw the sa

[2020-12-21 18:02] kyliau commented on #1035
@lincolnthree could you please show me the `extends` field in your `tsconfig.json`?

[2020-12-21 21:08] lincolnthree commented on #1035
@kyliau
[code]

[2020-12-22 10:56] yjaaidi commented on #1039
Happy to help!

Should we open an issue on github.com/angular/angular?

[2020-12-22 17:28] atscott commented on #1039
@yjaaidi The issue here is sufficient - no need to open one on angular/angular! We haven't decided yet how/if we want to consolidate language service reports between the two repos so for now we're just keeping an eye on both.

Keen and I paired on this yesterday and were able to track down the root cause for 4 separate issues using the linked repository. We should have fixes merged and ready for t

[2020-12-22 22:26] yjaaidi commented on #1039
That was quick. Great job!
Let me know if I can help.

[2020-12-22 22:48] #1039 closed

[2020-12-22 22:49] #1041 closed

[2020-12-23 06:19] nischi commented on #750
Is there any workaround, its super annoying if the refactor is need to be done by hand.

[2020-12-29 05:41] Hamcker commented on #341
still seeing this, any solutions?

[2021-01-01 01:01] miladfm commented on #148
any update on this feature?

[2021-01-05 15:07] mhartington opened #1048 "Provide `bin` in @angular/language-server for external tools"
**Is your feature request related to a problem? Please describe.**

When trying to provide support for editors other than vscode, in order to use  run `@angular/language server`, it must be installed in each project and a direct path must be provided to the `index.js`.

**Describe the solution you'd like**

Provide a bin command so that the language server could be installed globally or locally, b

[2021-01-06 18:54] #1035 closed

[2021-01-06 21:14] #1048 closed

[2021-01-06 21:44] #1030 closed

[2021-01-07 21:54] kyliau opened #1053 "Prompt users to enable strictTemplates"
Ivy language service works best when `fullTemplateTypeCheck` is enabled. This flag could be provided in `angularCompilerOptions` in `tsconfig.json`.

If the flag is not on, some features (go to definition, hover, etc) might not work in certain situations, because the necessary type information is not present in the typecheck files.

This could be confusing or even misleading for users because they

[2021-01-08 15:54] lincolnthree opened #1054 ""Go to definition" sometimes does not work for variables and template references"
**Describe the bug**

A clear and concise description of what the bug is.

If the bug is caused or experienced by a particular source code, please provide a minimal
reproduction of that source code.

**To Reproduce**

Steps to reproduce the behavior:

[code]

1. Create a dynamic `<ng-template #name>` within a .html template.
2. Reference using `<ng-container *ngTemplateOutlet="name"></ng-container

[2021-01-08 16:56] lincolnthree commented on #1002
This now appears to be working better as of the latest pre-release `v0.1101.0-next.2
`. Our project is detected and IVY language service appears to be activated, but possibly a bit slow and some features appear to be missing compared to View LS. Filing issue reports as I notice gaps.

[2021-01-08 16:57] lincolnthree commented on #1035
Confirmed this is now working with the default angular generated tsconfig.app/base/.ts structure.

[2021-01-09 07:40] nick-lvov-dev opened #1055 "Angular Language Service does not recognize absolute urls"
**Description**

Component's `templateUrl` is marked as `URL does not point to a valid file` when using an absolute path

**To Reproduce**

Steps to reproduce the behavior:
1. Create a brand new angular project
2. Change the `app.component` `templateUrl` to the absolute url

**Expected behavior**

App works after `npm start`
No error should be displayed

**Actual behavior**

App works after `npm s

[2021-01-11 17:38] atscott commented on #1054
@lincolnthree - thanks for the report. I think this is an issue that I had discovered the other day that has to do with the way we handle changes to the templates in our incremental build/compile. The issue is that the definition _is_ found, but we have incorrectly stored the template file name as simply `'override.html'`, which then can't be resolved to a location. If you restart the Angular lang

[2021-01-11 17:49] lincolnthree commented on #1054
Interesting. I just double checked this. It seems to be working from what I can tell - though I can't verify that a restart of the LS is what got it to do so. I'll keep an eye on this and see if/when it stops working again. Since I haven't really changed anything except do a full build of the app since filing the issue.

[2021-01-11 18:27] kyliau commented on #216
Duplicate of #80

[2021-01-11 18:27] #216 closed

[2021-01-15 06:39] nick-lvov-dev opened #1063 "0.1100.3 template inspection not working"
**Describe the bug**

Basically the title, the template inspection doesn't work, you can't navigate to a variable, errors aren't shown etc.
When I reverted back to 0.1100.2 it started working again

**To Reproduce**

Steps to reproduce the behavior:
1. Create new angular project
2. Add an object property
3. Try to access a non-existent property of that object from the template

**Expected behavior

[2021-01-15 06:45] Max-Xtremeapp commented on #1063
I have a same problem.

[2021-01-15 06:52] bubliq commented on #1063
Same problem with 0.1100.3
Downgrade to version v0.1100.2 helped

[2021-01-15 07:31] gn131131 commented on #1063
reinstall vscode and extentions not working, 2h wasted
thankyou

[2021-01-15 08:33] sanket-bhalerao opened #1064 "ctrl + click in the template is not working."
Issue Type: <b>Bug</b>

ctrl + click in the template is not working.
angular version: 8.x
extension version: 0.1100.3

Extension version: 0.1100.3
VS Code version: Code - Insiders 1.53.0-insider (1a6eef3170be2a11751ee50d450328d458f7bfac, 2021-01-15T05:15:40.826Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8265U

[2021-01-15 10:20] keatkeat87 commented on #1064
same problem here, after update to latest v0.1100.3.

[2021-01-15 10:32] sanket-bhalerao commented on #1064
I downgraded to `v0.1100.2`, it's working fine with `v0.1100.2`.

[2021-01-15 12:58] bubliq commented on #1064
[Duplicate?](https://github.com/angular/vscode-ng-language-service/issues/1063)

[2021-01-15 12:59] bubliq commented on #1063
![image](https://user-images.githubusercontent.com/5256688/104730188-a4434300-574a-11eb-82e1-6a69e0c77acb.png)

[2021-01-15 13:14] Ruud-cb commented on #1063
2 hours wasted? It literally takes up to 1 minute to install another version like bubliq is already showing.
Thanks for the hint, worked for me as well!

[2021-01-15 15:42] crclz commented on #1063
I haven't write angular apps for 7 month and today I'm about to work on a new project, angular extension gave me this surprise.

Downgrading to v0.1100.2 solves the problem.

[2021-01-15 16:25] gw-casco commented on #1063
Same issue. Downgrading helps.
Fix 🙏.

[2021-01-15 21:29] kyliau commented on #1063
Thanks for submitting the report. Since there is [no way to roll back](https://github.com/microsoft/vscode-vsce/issues/176) the release, I'll republish 0.1100.2 as the latest version while we investigate the issue.

On the other hand, looking at the change log, I've narrowed the issue down to two commits:

1. https://github.com/angular/angular/pull/39898
2. https://github.com/angular/angular/pull/

[2021-01-15 21:41] kyliau commented on #1064
Duplicate of #1063

[2021-01-15 21:41] #1064 closed

[2021-01-20 05:51] #1054 closed

[2021-01-20 19:07] #1040 closed

[2021-01-20 21:41] kyliau commented on #1063
Fixed in v11.1.0, published to the marketplace
https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0

[2021-01-20 21:41] #1063 closed

[2021-01-20 21:50] kyliau commented on #335
It's been a long time in the making, but today Ivy-native language service is finally available to try in v11.1.0!
Ivy-native LS fixes many fundamental issues that were impossible to fix in View Engine:
- incremental performance,
- more robust type-checking,
- same diagnostics as compiler, etc,

It also introduces some new features like find references for variables in templates.

Please download

[2021-01-21 07:35] bubliq commented on #1063
Worked for me, thanks, @kyliau

[2021-01-21 13:01] renovate[bot] opened #1074 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:18] #1074 closed

[2021-01-21 23:00] kyliau commented on #80
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).

[2021-01-21 23:00] #80 closed

[2021-01-21 23:01] kyliau commented on #856
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).

[2021-01-21 23:01] #856 closed

[2021-01-21 23:01] kyliau commented on #380
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).

[2021-01-21 23:02] kyliau commented on #457
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).

[2021-01-21 23:02] #457 closed

[2021-01-21 23:03] kyliau commented on #645
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).

[2021-01-21 23:03] #645 closed

[2021-01-21 23:04] kyliau commented on #443
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0). It's an opt-in for now, please give it a try and let us know if you have any feedback.

[2021-01-21 23:04] #443 closed

[2021-01-21 23:05] #380 closed

[2021-01-21 23:14] kyliau commented on #737
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
Please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemplates) enabled in `angularCompil

[2021-01-21 23:14] #737 closed

[2021-01-21 23:16] kyliau commented on #341
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
Please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemplates) enabled in `angularCompil

[2021-01-21 23:16] #341 closed

[2021-01-21 23:26] kyliau commented on #1010
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
Please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemplates) enabled in `angularCompil

[2021-01-21 23:26] #1010 closed

[2021-01-21 23:28] kyliau commented on #1002
The new Ivy-native language service has been released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemplates) enabled

[2021-01-21 23:28] #1002 closed

[2021-01-21 23:31] kyliau commented on #651
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
Please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemplates) enabled in `angularCompil

[2021-01-21 23:31] #651 closed

[2021-01-21 23:32] kyliau commented on #665
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:32] #665 closed

[2021-01-21 23:32] kyliau commented on #887
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:32] #887 closed

[2021-01-21 23:33] kyliau commented on #340
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:33] #340 closed

[2021-01-21 23:34] kyliau commented on #531
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:34] #531 closed

[2021-01-21 23:35] kyliau commented on #143
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:35] #143 closed

[2021-01-21 23:35] kyliau commented on #725
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:35] #725 closed

[2021-01-21 23:36] kyliau commented on #1021
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:36] #1021 closed

[2021-01-21 23:36] kyliau commented on #762
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:36] #762 closed

[2021-01-21 23:37] kyliau commented on #893
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:37] #893 closed

[2021-01-21 23:37] kyliau commented on #929
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-21 23:37] #929 closed

[2021-01-21 23:39] kyliau commented on #862
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-22 06:56] JonWallsten commented on #645
Awesome work, @kyliau!
I see lot's of new errors in the template when it comes to strict null check and such that we've missed, really nice!

[2021-01-22 18:10] atscott commented on #880
As Ayaz mentioned, this is resolved in the new Language Service which has been released in v11.1 as an opt-in. You can enable it in the extension settings:
![image](https://user-images.githubusercontent.com/479713/105528631-13182300-5c9a-11eb-9050-c37211c95b3e.png)

[2021-01-22 18:10] #880 closed

[2021-01-22 18:13] atscott commented on #862
Closing as resolved, see Keen's comment above https://github.com/angular/vscode-ng-language-service/issues/862#issuecomment-765010735

[2021-01-22 18:13] #862 closed

[2021-01-22 18:18] atscott commented on #29
This has been fixed by the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
It's an opt-in feature for now, please give it a try and let us know if you have any feedback.
For the best editor experience, please make sure your project has [`strictTemplates`](https://angular.io/guide/angular-compiler-options#stricttemp

[2021-01-22 18:18] #29 closed

[2021-01-22 18:41] kyliau commented on #429
This has been fixed by https://github.com/angular/vscode-ng-language-service/pull/1057.
When tracing is enabled, the log will show how long each request takes.

[2021-01-22 18:41] #429 closed

[2021-01-22 18:55] kyliau commented on #148
The new Ivy-native language service released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0) no longer has built-in assumption for `templateUrl`. The suffix of the filename does not affect template resolution in any way. Please try it out and if you run into similar problem, please open a new issue. I'll close this for now.

[2021-01-22 18:55] #148 closed

[2021-01-22 19:00] kyliau commented on #712
We have significantly improved incremental compilation performance in the new Ivy-native language service, released in [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
Please try it out the new version. If you run into similar problem, please open a new issue. I'll close this for now.

[2021-01-22 19:00] #712 closed

[2021-01-23 14:01] andrius-pra opened #1077 "Ivy LS: Completions in empty interpolation overrides other content."
**Describe the bug**

Completions in empty interpolation overrides over content.

**To Reproduce**

Steps to reproduce the behavior:
1. Generate new angular app: `ng new ivy-app`
2. Enable the Ivy language service.
3. Change `app.component.html` content :
[code]
4. move cursor to empty interpolation and ask ide for completions (ctrl+space)
5. Chose `title` from completions

**Actual behavior**
fil

[2021-01-23 14:20] andrius-pra opened #1078 "Ivy LS: Missing completions in empty interpolation"
**Describe the bug**

Most of time ivy ls does not provide completions in empty interpolation.

**To Reproduce**
1. Generate new angular app: `ng new ivy-app`
2. Enable the Ivy language service.
3. Change `app.component.html` content :
[code]
4. move cursor to empty interpolation and ask ide for completions (ctrl+space)

**Actual behavior**
Completions list is empty

**Expected behavior**
Completi

[2021-01-24 14:30] andrius-pra opened #1079 "Ivy LS: The Language server is crashing when templateUrl points to non-existing file"
The Language server is restarting when `templateUrl` is empty or points to non-existing file.

**To Reproduce**

Steps to reproduce the behavior:
1. Enable ivy ls
2. open any component
3. Change templateUrl to empty string:
[code]
**Actual behavior**

The Language server is restarting

**Expected behavior**

I Expected to get a diagnostic message.

**Logs**

1. Console output
[code]

2. Log file:

[2021-01-24 20:47] AndreThompson-Atlow opened #1080 "Angular Language Service and Emmet conflict mildly in component.html files"
If you open up any component.html file and use emmet to autocomplete a tag, say `<h2>` what you will get is

`<h2></h2>`

Now, if you want to use double brackets {{}} to put some kind of variable inside, Angular Language Service is supposed to automatically do the second set of brackets for you-- and in some cases it will. For example

`<h2> {{}} </h2>`

That will autocomplete. However, if you sta

[2021-01-25 07:53] Airblader commented on #335
@kyliau That's great news! (How) can we use the experimental Ivy support in WebStorm / IntelliJ? Do we need to wait for an update to the plugin? Has this been triggered somewhere already¹?

¹ Just wondering since WebStorm is mentioned in the LS docs on angular.io.

[2021-01-25 19:38] kyliau opened #1081 "Navigate from external template to component"
From a component, user can click `go to definition` on `templateUrl` and navigate to the file.
Provide a way to navigate from external template back to the component.

[2021-01-25 20:04] andrius-pra opened #1082 "Ivy LS: CRLF line endings breaks sourcemap positions - LS features get provided as if CRLF is 1 character when it is 2"
**Describe the bug**

Angular language service does not return completions in interpolations when using CRLF line endings.

**To Reproduce**

1. Generate new angular app: ng new ivy-app
2. Enable the Ivy language service.
3. Change app.component.html content :
[code]
4. change file line endings from LF to CRLF
5. move cursor to empty interpolation and ask ide for completions (ctrl+space)

Actual b

[2021-01-25 21:51] arobinson opened #1083 "Directives and pipes are not recognized from a library"
**Describe the bug**
Using a local Ivy library in a mono-repo style project setup, the Angular Language Service does not recognize the pipe nor the directive.

**To Reproduce**
1. Clone https://github.com/arobinson/ALSDirectivePipeIssue
2. `cd ALSDirectivePipeIssue/ExampleApp`
3. `npm i`
4. `ng b`
5. `code ..` (open VS code to the root folder of the workspace)
6. Open `app.component.html` in VS co

[2021-01-25 23:59] TheColorRed commented on #1010
@kyliau I have seemed to have lost the ability to <kbd>Ctrl+Click</kbd> on a template element and having it go to the component.

[2021-01-26 00:04] kyliau commented on #1010
@TheColorRed Could you please open a new issue? It's probably unrelated to this one.
Please check the logs. Also make sure you ran `ngcc` first.

[2021-01-26 00:06] TheColorRed commented on #1010
@kyliau yeah `ngcc` ran, I will open a new issue though. Thanks.

[2021-01-26 17:35] kyliau commented on #1082
Sounds like a repeat of this bug: https://github.com/angular/angular/pull/33241

[2021-01-26 19:36] kyliau commented on #550
Implemented in Ivy-native LS [v11.1.0](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).

[2021-01-26 19:36] #550 closed

[2021-01-27 00:11] kyliau commented on #1083
Stack trace:
[code]

[2021-01-27 17:26] kyliau commented on #1083
I forgot to implement `realpath()` in the language service adapter, and as a result symlinks cannot be resolved properly. Hoping to get a fix merged and released today! Thanks a lot for the repro, appreciate it.

[2021-01-27 17:52] atscott commented on #1080
Hi @AndreThompson-Atlow, thanks for the report. After investigation, it seems to be an issue in vscode rather than the Angular extension. We don't provide any auto-closing behavior for the braces so there wouldn't be a conflict with the built in extensions there - you can test this out by disabling the Angular Language Service extension and you'll see the same issue. This is also the case for othe

[2021-01-27 17:52] #1080 closed

[2021-01-27 19:07] atscott commented on #753
Closing as unable to reproduce. Please update to the latest version of the extension and submit a new issue if this still happens.

[2021-01-27 19:07] #753 closed

[2021-01-27 20:02] atscott commented on #973
Hi @adurmus - the new Angular Language Service that's available as experimental in the 11.1 release no longer adds parenthesis for autocompleting methods. This is aligned with what the native TypeScript Language Service so we don't intend to add the auto-parens feature back.

[2021-01-27 20:02] #973 closed

[2021-01-27 21:17] #1083 closed

[2021-01-27 22:43] kyliau commented on #1083
Fix released in [v11.1.1](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.1).

[2021-01-28 03:18] arobinson commented on #1083
Thank you!

[2021-01-28 17:06] #1077 closed

[2021-01-28 17:06] #1078 closed

[2021-01-29 00:02] zhuweid opened #1086 "Cannot read property 'name' of undefined"
my angular language service keeps crashing in the last few days.

The language service initializes successfully, but crashed after several minutes.

I am using

@angular-devkit/build-angular": "0.1000.4",
    "@angular/cli": "10.0.0",
    "@angular/compiler-cli": "10.0.0",
    "@angular/language-service": "10.0.0",
"typescript": "3.9.5"

and the latest vs code extension - v11.1.1

this is the log

[2021-01-29 04:23] kyliau commented on #1086
@zhuweid could you please provide a minimal reproduction or show us the template you were working on when the crash occurred?
Another alternative is to switch to Ivy mode, since View Engine (the one you're using above) language service will be going away soon.
See the release notes of [v11.1.1](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0) on how to enable Ivy.

[2021-01-29 05:03] zhuweid commented on #1086
thanks, it does fix the issue after i enabled Ivy mode.

[2021-01-29 10:36] MakePixelsWork opened #1087 "Extension issue - Unresponsive, Performance Issue, constantly keeps loading"
For many months, my Angular Language Service (11.1.0) keeps loading, but does nothing, except maybe influence the other Extensions. I've since moved its message to not show, and now decided to open an issue. I did search for alternate reports, but some seem closed? Its however still an issue, I like to see resolved.

The information provided to me by my Visual Studio Code:

- Issue Type: `Bug`
- E

[2021-01-29 13:38] andrius-pra commented on #1087
Could you please provide us two logs:
1. Console output (Go to toolbar --> View --> Output, and copy the contents)
2. Log file (Path is printed to the console output at startup)

[2021-01-29 15:40] MakePixelsWork commented on #1087
Steps to solve
- I have disabled the extension, restarted VS Code... then enabled and restarted VS Code
- Somehow it has been (auto) updated to 11.1.1  (versus 11.1.0 when I posted the issue)
- There are NO messages in the Output window
- There is NO log file, nor path printed in Output at startup

Steps to retrieve old logs
- Searched Google for info
- Found C:\Users\Victor\AppData\Roaming\Code\l

[2021-01-29 16:56] kyliau commented on #1086
Thanks for the confirmation, I'll mark this as resolved.

[2021-01-29 16:56] #1086 closed

[2021-01-30 00:55] ic3guy commented on #29
Should we be seeing the correct # of references via CodeLens too? Because Ctrl-Click / Find all References does work, but codelens references and a click on it does not show template refs. I'm assuming that CodeLens pulls these refs from somewhere else, or am I missing a config flag somewhere?

[2021-01-30 17:15] lincolnthree commented on #1087
I believe this is the same issue I've been experiencing. The performance of the NGLS has been slower and slower over the past few months. It's gotten quite burdensome to use:

[code]

I can provide the nglangsvc.log privately on request.

[2021-02-01 17:23] kyliau commented on #1087
@MakePixelsWork thanks for the report, could you please clarify whether you are using View Engine or Ivy?
I see that the Angular extension was activated when a HTML file was opened. Could you please try to open a TS file instead? This might help you get around the issue of "no messages in Output panel or log file".
@lincolnthree I will move your comment to a new issue so we can investigate separat

[2021-02-01 17:25] kyliau opened #1090 "Ivy compiler throws error due to missing typecheck files"
I believe this is the same issue I've been experiencing. The performance of the NGLS has been slower and slower over the past few months. It's gotten quite burdensome to use:

[code]

I can provide the nglangsvc.log privately on request.

_Originally posted by @lincolnthree in https://github.com/angular/vscode-ng-language-service/issues/1087#issuecomment-770246095_

[2021-02-01 18:04] MakePixelsWork commented on #1087
@kyliau : My screendump was just to show the Extensions tab and I had two other files open. There is no issue on the SCSS, nor the HTML file. One is pinned, the other was just open.

The Extension plugin starts and never stopped (past tense, see below) loading whenever I opened a TS file.

FYI... I also stated the Extension was updated from 11.1.0 to 11.1.1 and no longer stops loading. But I just

[2021-02-01 18:12] atscott commented on #29
Great question! It looks like there's [additional configuration](https://code.visualstudio.com/api/language-extensions/programmatic-language-features#codelens-show-actionable-context-information-within-source-code) needed on our end for integrating with CodeLens. Could you open a new issue for this?

[2021-02-01 23:18] kyliau commented on #1087
@MakePixelsWork If you have not changed your preferences, then you should be using View Engine (old) implementation. Were you working on Angular project when the extension was "doing nothing"?
We intentionally disable the language service if you are working on TypeScript but non-Angular project.
If you are indeed working on an Angular project, could you please try switching to Ivy (new) implementa

[2021-02-02 02:36] atscott commented on #162
Re-opening since "find all references" is different from CodeLens. Note that the references CodeLens is provided by the built in typescript extension: https://github.com/microsoft/vscode/blob/d99c218e9b2da6935d467a7566a3de49c406ce90/extensions/typescript-language-features/src/languageFeatures/codeLens/referencesCodeLens.ts#L43-L52

We can't "edit" or add template references to those results, but w

[2021-02-02 10:57] magnusbakken opened #1092 "Language service restarts from scratch if no Angular HTML templates are open"
**Describe the bug**

It seems like the extension restarts the language service every time you open an HTML file, if no file is "permanently opened" in VS Code. By permanently open I mean that the tab doesn't automatically close when you navigate away from it, as indicated by the filename being in regular type instead of in italics. One way to permanently open a file is by double clicking it in th

[2021-02-02 13:26] MakePixelsWork commented on #1087
I think I may need to clarify. Since I upgraded the Extension from 11.1.0 to 11.1.1 this issue is gone.

BUT... it still loads long intervals, depending on which TS file is loaded. My PC acts differently than my laptop. I just mass-upgraded the latter to have all the latest Visual Studio and Extension upgrades, and it seems to work. Attached a screendump, per request, but from my laptop.

I tried

[2021-02-02 17:40] rodro75 commented on #645
@kyliau Hmmmm... that's weird. I was having the very same problem with a directive declared in a library and I solved it by following the suggestion of building the library with the --prod switch. **The thing is that I am already on ALS 11.1.1**, so theoretically this would not have to be an issue anymore, right?
The project is a regular CLI multi-project, with some libs and an app.
Not sure about

[2021-02-02 20:32] atscott commented on #1082
Fixed by https://github.com/angular/angular/pull/40597

[2021-02-02 20:32] #1082 closed

[2021-02-02 21:24] #1092 closed

[2021-02-02 22:11] kyliau opened #1094 "auto-apply optional chaining on nullable symbol"
In TypeScript, TSLS automatically inserts the optional chaining operator (`?.`) when property access (`.`) is done on a nullable symbol.
Implement a similar feature in Angular language service.
This will help avoid bugs, promote better code pattern (otherwise users might resort to non-null assertion operator `!`), and improve user experience.

[2021-02-02 23:47] atscott opened #1095 "Add notification to prompt users to enable Ivy experimental LS"
As an extra nudge to opt in to the new language service, provide a prompt for users to enable it.

[2021-02-03 16:42] atscott opened #1096 "Autocomplete string literal union types in templates"
The native TS language service has the ability to provide autocompletions for string literal union types. For example, `let pet: 'cat'|'dog' = '|'"` will provide `'cat'` and `'dog'` as autocomplete results ([playground example](https://www.typescriptlang.org/play?#code/FAGwpgLgBADpBcUDkBjAhhJAfJATA9gOZJQC8ySQA)).

This feature request is for Angular to do the same in templates. The Angular Languag

[2021-02-03 19:16] #252 closed

[2021-02-03 19:23] #1053 closed

[2021-02-06 00:11] #1095 closed

[2021-02-09 13:00] Blackfaded commented on #645
I have the same issue. I build my lib with the `--prod` flag, so that ivy is disabled.
Linked the library dist folder, linked the package to my app and imported the libmodule. But still getting this error, that it is not a known angular element.
The component in the lib is in the `declarations` and in the `exports` array.

The component gets displayed, but still getting this error in vscode. teste

[2021-02-09 14:02] vicatcu commented on #645
I agree, this probably shouldn't be closed @kyliau... I have a minimal reproducible example that I made for another problem that might serve to demonstrate this one as well. Have a look at this: https://github.com/vicatcu/monorepo-example-error (originally posted in connecction with [this SO post](https://stackoverflow.com/questions/66110717/with-an-angular-monorepo-cant-bind-to-ngif-since-it-isnt

[2021-02-09 16:40] vicatcu commented on #645
I'll go a step further, if I add the `"enableIvy": false` option under the `angularCompilerOptions` in the `tsconfig.lib.json` apropos [this comment](https://github.com/angular/angular/issues/35663#issuecomment-610917316), as I have done on [this branch](https://github.com/vicatcu/monorepo-example-error/tree/disable-ivy-in-libs) of my example repo, my errors vanish in vscode (granted my example pr

[2021-02-09 17:53] kyliau commented on #645
Just to clarify, being on `v11.1.x` is not enough, you have to enable Ivy mode by following the instructions [here](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.1.0).
You should not have to change your `tsconfig.*.json`.
The fact that `... is not a known angular element` showed up means you are not in Ivy mode.
To determine which mode you're on, go to the `Output` panel a

[2021-02-09 18:10] vicatcu commented on #645
@kyliau thanks I, for one, had certainly missed that.

[2021-02-10 12:45] objt-mni opened #1104 "Ivy LS makes some features in TS context unusably slow"
Some features, like autocomplete and 'Navigate to element' become unusably slow when the experimental Ivy language service is enabled.

Demo:

![recording](https://user-images.githubusercontent.com/72925943/107511673-153d1580-6ba6-11eb-87cd-65e2d1a75a62.gif)

Note: this performance regression can only be observed when the experimental Ivy language service is enabled

Angular Language Service versi

[2021-02-10 18:48] #1079 closed

[2021-02-11 06:49] rene-leanix opened #1106 "Issues with solution-style tsconfig.json and Ivy language service"
#### Describe the bug

With Ivy language service enabled and a solution-style `tsconfig.json` that includes a `tsconfig.spec.json`, the language service is not _at first_ aware of any custom components and displays `'...' is not a known element` errors. (If any of the tsconfig files is saved again (even without actual changes), the issue is resolved for a while.)

#### To Reproduce

**tsconfig.jso

[2021-02-12 20:29] IamKayrox opened #1108 "Ivy language service doesn't respect workspace settings"
Ivy language service gets initialized when Ivy is disabled in the workspace settings

**To Reproduce**

Steps to reproduce the behavior:
1. Go to extension settings
2. Disable Experimental-ivy in Workspace settings
3. Enable Experimental-ivy in user settings
4. See error

**Expected behavior**

Ivy language service not running

[2021-02-13 19:01] devhus opened #1109 "ivy-native issue with the component variables in the templates"
After enabling the ivy-native feature my project got bugged where the templates(.html) couldn't recognize the component variables or methods at all nor showing any error when writing an undefined variable. the image below is when clicking on the ``go to definition`` option of the variable.

![image](https://user-images.githubusercontent.com/58523735/107858701-2d2ec680-6e3e-11eb-9c8a-719e35abe4ec.p

[2021-02-13 22:08] MatthewS2077 commented on #1109
I'm also having issues with the Ivy preview... it just doesn't work... created a new project `ng new` to test and I get `No config file for c:/temp/temp/src/app/app.component.html` in the output window for Angular Language Service.

[2021-02-14 00:59] tonivj5 commented on #1109
Same issue than @MatthewS2077, but I'm on Linux. Language service with preview enabled doesn't work at all, same log with every component file

[2021-02-14 09:36] admir86 commented on #1109
same error:

[code]

[code]

[2021-02-14 21:25] MatthewS2077 commented on #1109
So looking forward to this being fixed and being able to apply rename refactoring to templates 💪

[2021-02-15 13:08] ivanwonder commented on #1109
I downgrade the version of ts to 4.1.3 in the extensions. It works again. Maybe this is the problem.
https://github.com/angular/vscode-ng-language-service/blob/18291b87d82ef848521236ddcfc9082d4f65a6b5/client/src/client.ts#L277

[2021-02-15 13:48] CaselIT commented on #1104
I have the same issue, setting `"angular.experimental-ivy": false` in the configuration fixes the issue even without reloading vscode so I would think that the slowdown is due to the ivy being enabled.

[2021-02-15 13:50] 255kb commented on #1109
For me extension in v11.1.3 is working well. Updating to 11.2.0 breaks everything

[2021-02-15 14:13] jtsom commented on #1109
Am seeing the same issue in the html file, with errors in the console every time I hover something:

<img width="1045" alt="image" src="https://user-images.githubusercontent.com/13488/107956915-e04a0d80-6f6d-11eb-9d26-21e59b0f32e9.png">

Also seeing double when hovering over variables, etc. in the component file:

<img width="452" alt="image" src="https://user-images.githubusercontent.com/13488/10

[2021-02-15 14:26] essana3 commented on #1108
Same problem!

[2021-02-15 14:42] AaronDovTurkel commented on #1109
How do you turn off Ivy? tried downgrading the extension but still having the issue described...

[2021-02-15 14:46] 255kb commented on #1109
@AaronDovTurkel add `"angular.experimental-ivy": false` in your VSCode settings

[2021-02-15 14:53] ivanwonder commented on #1109
https://github.com/microsoft/TypeScript/pull/42713
I think this pr break the plugin. `@angular/language-service/bundles/ivy` is disabled.

[2021-02-15 15:54] MakePixelsWork commented on #1087
My previous solution (upgrading to newer version) no longer works. The buggy loading is back... and the whole extension became unresponsive again. VS Code even warns me about it:

![image](https://user-images.githubusercontent.com/56885246/107968176-51111a00-6fae-11eb-90b3-8f86d5916d5b.png)

This is still an open issue to be resolved. Hopefully this is picked up by the team.

[2021-02-15 16:02] lincolnthree commented on #1087
Same issues here, still sporadically. But overall everything is super slow.

[2021-02-15 18:19] yiqu commented on #1109
Turning it off. Everything is doubled and in template it doesnt actually work.

[2021-02-15 19:26] kukjevov commented on #29
@atscott @ic3guy Guys am I missing something, or is there something weird with configuration of project :)? Because i tried it in my own project and it does not work, I even tried latest version of Angular cli, generated new project, there is `title` property, but if i use find all references, reference from template is not displayed? Am I missing something :D ?

Thx

[2021-02-15 19:39] Memeplexx opened #1110 "Ivy LS: duplicate results for autocomplete, quick info, etc outside of templates"
**Describe the bug**

The latest version, v11.2.0, seems to have added 2 regression bugs:
1) One that prevents autocompletion of class variables in templates
2) Another which causes duplicate auto-complete options outside templates
I'm including both bug reports here as I feel they may be related.

**To Reproduce**

Steps to reproduce the behavior:
1. Upgrade to the latest version of Angular-CLI
2

[2021-02-16 05:32] ivanwonder commented on #1110
duplicate #1109

[2021-02-16 09:24] Bernoulli-IT opened #1112 "No config file for & No definition found for 😢"
**Describe the bug**

The Angular Language Service stopped working correctly since most recent update (3 days ago). It show these kind of messages:

**To Reproduce**

1. Install latest version 11.2.0
2. Go to any HTML template inside the src folder
3. Hover over a code reference to the underlying typescript file
4. Check error in tooltip and see log results which report "No config file"

**Expecte

[2021-02-16 09:50] Kevin-ESDM opened #1113 "the tooltip suggestions and references were being duplicated"
Issue Type: <b>Bug</b>

add angular language services extension
(also enabled are TSLint, LiveServer, Code Runner and Bracket Pair Colorizer)
Extension version: 11.2.0
VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4702M

[2021-02-16 10:37] roycastro commented on #1112
I also saw the same behavior from the Angular Language Service and the downgrading to 11.1.3 seems to solve the issue.

- VSCode 1.54.0-insider
- Angular 11.1.5
- Typescript 4.0.3

[2021-02-16 10:43] ikilinc commented on #1112
I have the same issue, downgrading to version 11.1.3 helps.

[2021-02-16 10:59] kukjevov commented on #29
@atscott hmmm i looked at it and i found out, that it needs to be turned on, but if i turn it on, it keeps crashing and restarting, should i open new *issue* or paste it here :) ?

[2021-02-16 12:55] magnusbakken commented on #1112
I have it as well, but downgrading the extension to 11.1.3 does not fix the issue for me, without also downgrading the language service dependency to 11.1. I also already saw problems before upgrading the extension to 11.2.0, so I think there are multiple issues.

[2021-02-16 14:00] DirkStorck commented on #1112
I have created a new project and added
    "@angular/language-server": "^11.1.3",
    "@angular/language-service": "^11.1.1",
in my package.json

But I still get
Error - 14:27:20] No config file for d:/REWE/Angular/test/src/app/app.component.html

[2021-02-16 14:13] SuneRadich commented on #1113
I see the same. The double entry disappears if I turn off 'Experimental-ivy' in the preferences. Seems VS Code has some built in logic that does the same thing?

[2021-02-16 14:22] Kevin-ESDM commented on #1113
"The double entry disappears if I turn off 'Experimental-ivy' in the preferences" - this also fixed the problem for me. I think this is related to other issues too.

[2021-02-16 14:34] Stas1967 opened #1114 "Angular Language Service Crashed"
Issue Type: <b>Bug</b>

Angular Language Service
 On update to v 11.2.0 this service not work

Extension version: 11.2.0
VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4720HQ CPU @ 2.60GHz (8 x 2594)|
|GPU Status|2d_ca

[2021-02-16 15:46] Eventyret commented on #1109
Just to add to @jtsom I had the same issue now, turned ivy off with `"angular.experimental-ivy": false` and it works like a charm.
Thanks for the hard work people are doing on this btw.

[2021-02-16 16:06] vaindil commented on #1114
I am having presumably the same issue. I was prompted to update to using the Ivy-based language service, I did, and VS Code is now informing me that it's crashing so much that it won't restart anymore. The console shows this error:

[code]

[2021-02-16 16:12] atscott commented on #29
@kukjevov yes, please submit a new issue for this.

[2021-02-16 16:29] roycastro commented on #1112
Did you also change the VSCode extension to version 11.1.3?

[2021-02-16 16:54] DirkStorck commented on #1112
Additionally I installed this version:
https://github.com/angular/vscode-ng-language-service/tree/11.1.x
using " in Visual Studio code, go to the extensions tab. Click on the "..." menu...."

this didn't work for me
"code --install-extension /path/to/ngls.vsix"

Now it works for me again :)

[2021-02-16 19:26] atscott commented on #1108
Hi, this happens because unchecking the box in VSCode removes the option from the `settings.json`. It's really confusing, but the effect of unchecking the box isn't an opt-out, but more specifically "not choosing to opting in". So the unset value in the workspace settings cannot override a set value in the user settings. In order to specifically disable the Ivy LS for a workspace when it's enabled

[2021-02-16 19:30] #1108 closed

[2021-02-16 20:20] atscott commented on #1113
Duplicate of #1110

[2021-02-16 20:20] #1113 closed

[2021-02-16 20:21] atscott commented on #1110
The cause of this is indeed a duplicate of #1109, but I'm also leaving this one open because we can address the duplicate results issue by adding a safeguard when our language service plugin fails to register.

[2021-02-16 20:22] atscott commented on #1112
Duplicate of #1109

[2021-02-16 20:22] #1112 closed

[2021-02-16 20:54] #1109 closed

[2021-02-16 20:54] #1114 closed

[2021-02-16 21:24] kyliau opened #1120 "v11.2.0 post-mortem"
# What happened?
v11.2.0 released on Friday February 12, 2021 [broke](https://github.com/angular/vscode-ng-language-service/issues/1109) users who are using the Ivy-native language service.

# Who was affected?
This affected users who are using the extension in Ivy mode.

# How long was the incident?
We received user reports over the weekend, but since Monday Feb 15 was holiday, the issue was not

[2021-02-16 21:30] kyliau commented on #1109
Hello everyone, this issue has been fixed in v11.2.1, and it has been released to the vscode marketplace.
We are sorry for the inconvenience.
This is a mistake that's totally preventable, and as a result I've written a [post-mortem](https://github.com/angular/vscode-ng-language-service/issues/1120) to explain what happened, and what we will do to ensure a higher engineering standard to prevent thi

[2021-02-16 21:42] MatthewS2077 commented on #1109
Fixed, and thanks!  👍
Is, rename refactoring meant to work for templates? It doesn't seem too... 🤔

[2021-02-16 22:05] houcemlaw opened #1227 "Angular Language Service throws "no config file for" html template while activating experimental-ivy under VSCode"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/language-service

### Is this a regression?

 This is a new behaviour. Occurs while working with language-service with experimental-ivy option activated

### Description

 Vs Code Angular Language Service is throwing "no config file for" html template when trying to jump to html template definition in a multi project an

[2021-02-16 22:14] kunajs commented on #1109
Hi, seems that duplicities still occur within "Find all references" results, even with v11.2.1 😕

[2021-02-16 22:30] kyliau commented on #1109
@kunaja could you please open a new issue and attach a repro / screenshot so that we can take a closer look? Thank you.

[2021-02-17 05:30] kyliau opened #1123 "replace rollup-plugin-commonjs with @rollup/plugin-commonjs"
rollup-plugin-commonjs@10.1.0: This package has been deprecated and is no longer maintained. Please use @rollup/plugin-commonjs.

[2021-02-17 06:48] kunajs opened #1124 "ivy-native issue - duplicated "Find all references" results"
**Describe the bug**
After enabling the ivy-native feature, "Find all references" returns duplicated occurences of references (even with v11.2.1).

![image](https://user-images.githubusercontent.com/39991506/108166324-4fea0500-70f4-11eb-9f4e-6e5f1cf04af2.png)

![image](https://user-images.githubusercontent.com/39991506/108166072-ecf86e00-70f3-11eb-89ee-1c961e366529.png)

With unchecked "Experiment

[2021-02-17 06:51] kunajs commented on #1109
https://github.com/angular/vscode-ng-language-service/issues/1124

[2021-02-17 08:20] ivanwonder commented on #1124
I think it's not related to that issue. my guess is that one result comes from vscode ts server, another comes from Angular LS.

[2021-02-17 19:06] #1110 closed

[2021-02-18 07:12] JounQin opened #1126 "support extending `angularCompilerOptions` in tsconfig just like cli"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/8336744/108317654-92493a00-71f9-11eb-8524-0a8d9931a744.png)

**Describe the solution you'd like**

I have a base tsconfig with correct `angularCompilerOptions`, but this plugin is still reporting missing `strictTemplates` option.

**Describe alternatives you've considered**

As ti

[2021-02-18 10:55] magnusbakken opened #1127 "Tab-completion is much slower with Ivy enabled"
**Describe the bug**

In my project, IntelliSense is significantly slower when Ivy is enabled.

**To Reproduce**

I can go to any TS-file, start typing something, and wait for the suggestion box to pop up. Without Ivy enabled this happens almost instantaneously, after an initial loading time the first time you do it. With Ivy enabled it takes almost 10 seconds, every time.

**Expected behavior**

[2021-02-18 17:04] andrius-pra commented on #1127
I have same problem. Extension works fine in external template, but not usable in typescript files. CPU profile files:
[IVY in ts file.cpuprofile.zip](https://github.com/angular/vscode-ng-language-service/files/6004571/IVY.in.ts.file.cpuprofile.zip)
[NON-IVY in ts file.cpuprofile.zip](https://github.com/angular/vscode-ng-language-service/files/6004572/NON-IVY.in.ts.file.cpuprofile.zip)

[2021-02-18 20:39] blogcraft commented on #750
still no solution... 😔

[2021-02-18 21:56] rogerfar commented on #1127
Here it usually starts completely failing after an hour or so, tab completion is unbearably slow up to the point where it simply refuses. Only a vscode restart works.

[2021-02-18 22:07] andrius-pra commented on #750
Angular language service use [non-pooling directory watchers](https://github.com/angular/vscode-ng-language-service/blob/dfedf3cbb05a8bfbf98df820addbd77c2d6e5eb9/client/src/client.ts#L285-L289) and it does not allow to rename directories. Currently, it's not possible to change this behavior by `.vscode\settings.json` or [tsconfig.json](https://www.typescriptlang.org/docs/handbook/configuring-watch

[2021-02-19 00:39] kyliau commented on #750
The non-polling watchers are used to improve performance, but now that there's [built-in option](https://www.typescriptlang.org/docs/handbook/configuring-watch.html) to configure watch mode, we should remove the environment variable.

[2021-02-19 06:38] Valera1980 opened #1130 "Extension (v11.2.2) failed with error on angular 11.2.0"
Extension failed on angular 11.2.0

![image](https://user-images.githubusercontent.com/12474311/108467298-a6d71200-728d-11eb-888c-11a2795513dd.png)

![image](https://user-images.githubusercontent.com/12474311/108467138-66779400-728d-11eb-8f7d-181411067fb7.png)

******* output ************
[Info  - 8:33:57 AM] Angular language server process ID: 17001
[Info  - 8:33:57 AM] Using typescript/lib/tsser

[2021-02-19 10:37] objt-mni commented on #1127
#1104

[2021-02-19 16:06] vaindil opened #1132 "VE language service restarting nonstop when running ng serve"
**Describe the bug**

I reverted back to the VE language service because the Ivy one crashes quite frequently, but now on 11.2.2 the VE language service restarts basically nonstop when running `ng serve`. It restarts for no reason somewhat frequently when not running `ng serve` (which never/very rarely happened before 11.2.0), but now it's happening constantly with `ng serve`.

**To Reproduce**

I

[2021-02-19 17:51] atscott commented on #1127
duplicate of #1104

[2021-02-19 17:51] #1127 closed

[2021-02-19 17:51] atscott commented on #1104
Copied from #1127:

**Describe the bug**

In my project, IntelliSense is significantly slower when Ivy is enabled.

**To Reproduce**

I can go to any TS-file, start typing something, and wait for the suggestion box to pop up. Without Ivy enabled this happens almost instantaneously, after an initial loading time the first time you do it. With Ivy enabled it takes almost 10 seconds, every time.

**E

[2021-02-19 17:53] atscott commented on #1124
@kunajs - What version of the extension are you using? v11.2.1 is known to have problems.

[2021-02-19 17:55] JoostK commented on #1130
It appears you are using `angularx-social-login` at some `1.x` version, which is incompatible with the version of Angular you're using. There is a `3.x` version of this package available, which hopefully does work (v1.x contains all of `@angular/common` which is definitely an issue of that library that can't be addressed from Angular's side)

[2021-02-19 17:57] atscott commented on #1124
@kunajs My mistake, I didn't realize there was another release. Do you have a project that you can share so we can reproduce the issue? I have not been able to reproduce this locally.

[2021-02-19 18:09] atscott commented on #1124
@kunajs - I am able to reproduce this locally now. It appears VSCode may have a different internal implementation of "find all references" and "go to references". It was assumed that VSCode de-duplicated these results in both places but they may only be doing that for their `gotoSymbol`:

https://github.com/microsoft/vscode/blob/ea4d99921cc790d49194e897021faee02a1847f7/src/vs/editor/contrib/gotoSy

[2021-02-19 18:12] Valera1980 commented on #1130
Hi.Thanks for answer.I'll try upgrade the package

[2021-02-19 19:54] atscott commented on #1130
Closing per Joost's comment here: https://github.com/angular/vscode-ng-language-service/issues/1130#issuecomment-782236963

[2021-02-19 19:54] #1130 closed

[2021-02-19 21:02] atscott commented on #1124
The "Find all references" command is provided by the [Reference Search View](https://marketplace.visualstudio.com/items?itemName=ms-vscode.references-view) extension. It doesn't appear as though they have the same de-duplication logic there:https://github.com/microsoft/vscode-references-view/blob/f1b526b39c97981c81d52a98d6e66f8f699dc38a/src/references/model.ts#L63-L74
I'll see about submitting an

[2021-02-19 21:54] atscott commented on #1124
PR to fix in the extension: https://github.com/microsoft/vscode-references-view/pull/66
Issue in vscode repo: https://github.com/microsoft/vscode/issues/117095

[2021-02-20 01:39] snebjorn opened #1136 "Template variables (let-) in <ng-template> are not inferred"
**Describe the bug**

The types from `TemplateRef<C>` are not inferred in `<ng-template>`.

_Experimental-ivy is enabled_

**To Reproduce**
Given
[code]
Then `implicit`, `foo` and `bar` are all any
[code]

**Expected behavior**

As `TemplateRef<{ $implicit: string; foo: boolean; bar: number }>;` have the types defined I was expecting

[code]

**Screenshots**
![image](https://user-images.githubuser

[2021-02-20 02:14] snebjorn opened #1137 "ngTemplateContextGuard infers incorrect type when using AsyncPipe and strict equality"
**Describe the bug**

Given that `isLoading$: Observable<boolean>`.
Then `isLoading` in the below html is inferred as type `false | true | null`.

[code]
![image](https://user-images.githubusercontent.com/1266245/108492982-12c57480-72a6-11eb-854f-e4084b023923.png)

But it can never be `null`. As it's comparing `boolean | undefined | null` from the AsyncPipe to `=== true`. This assures the type is

[2021-02-20 17:18] kenyodarz opened #1138 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `11.2.2`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.53.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-02-20 17:19] #1138 closed

[2021-02-21 14:34] reed-lawrence commented on #1104
I can also confirm that the intellisense issues as documented above are present in HTML templates. Imported Angular components are not suggesed by intellisense. Linting, and symbol navigation still work as expected.

Angular CLI: 11.2.1
Angular Language Services: 11.2.2
VS Code: 1.53.2

[2021-02-21 19:54] Airblader commented on #1136
I don't think the template's context type should be inferred from it being passed to some other place. This makes the type definition very "non-local", and its semantically incorrect. Rather, the template should somehow define the type that it needs and then you get an error when you pass it to `app-test` because the type does not match the type of the input. See the related issue.

[2021-02-21 20:09] Airblader commented on #1136
This problem can be nicely translated into a language such as TypeScript. Inferring the type like this is basically saying that

[code]

should infer the function argument `x` to be `number`. This is problematic for many reasons. For example, should it be `number` or `42`? What if there's another `fn('test')`, should it now be inferred to be `number | string` resp. `42 | 'test'`? Basically the way

[2021-02-21 23:00] snebjorn commented on #1136
That would make sense.
Essentially what I'm after is type safety in `<ng-template>`.

Also if we started defining the context type on `<ng-template>` via something like `[ngTemplateContextType]` then we could probably also get rid of the rather confusing `let-` syntax.

[2021-02-22 06:55] Airblader commented on #1136
You still need a way to actually define the template-local variables, and keep in mind thst structural directives require this to desugar, plus of course compatibility; I don't think that'd go anywhere, or would even have to.

All we need is be able to type template contexts, and for Angular to type-check this where reasonably possible.

But this really isn't a language service issue. The core fra

[2021-02-22 09:24] erqk opened #1139 "HTML tag can't be renamed."
**Describe the bug**
Cannot simply rename tag in HTML when F2 button is pressed.

**To Reproduce**

Steps to reproduce the behavior:
1. Open any HTML docs
2. select any tag
3. Press F2 or Rename Symbol on right click menu
4. Error message get.

**Expected behavior**

Should be able to rename the tag when F2 button is pressed.

**Screenshots**

![image](https://user-images.githubusercontent.com/648

[2021-02-22 12:10] moridianmess commented on #1106
I can confirm I get this error in the latest version too. If I downgrade to 11.2.0 the error goes away.

[2021-02-22 15:50] cyrilletuzi opened #1140 "No more completion for components / HTML tags in Ivy mode"
**Describe the bug**

When enabling the Ivy language service, there is no more components / HTML tags completion/suggestions at all.

**To Reproduce**

Steps to reproduce the behavior:
1. `npm i @angular/cli -g`
2. `ng new demo --inline-template` (and say "Yes" to strict mode)
3. `cd demo`
4. `code .`
5. Enable extension's Ivy mode when proposed
5. Try writing any HTML tag in `AppComponent` templa

[2021-02-22 16:21] atscott commented on #1137
This is an issue with the `ngxAlias` directive. The language service is showing what the compiler already sees. Quick tip: You can right click in your template and select "View Template Type Check Block" to see the code that's generated to typecheck the template file.

https://angular.io/guide/structural-directives#make-in-template-type-requirements-more-specific-with-template-guards

Even with th

[2021-02-22 16:21] #1137 closed

[2021-02-22 16:25] atscott commented on #1136
@Airblader is correct, this isn't an issue with the language service but a limitation in the compiler. As noted, this is related to https://github.com/angular/angular/issues/28731

[2021-02-22 16:25] #1136 closed

[2021-02-22 16:35] Airblader commented on #1137
@atscott

The type of the directive is shown as `declare (property) NgxAliasDirective<boolean>.ngxAlias: boolean`, but the type of the variable is still shown as `boolean | null`. I'm sorry if I'm missing something, but how can that be explained? It seems that this is indeed a language service issue to me?

[2021-02-22 16:40] Airblader commented on #1137
Note that this isn't the goal. The expected type is `boolean`, since `false` is of course a valid value. The problem is rather that the actual type is `boolean | null` when the type in the template context already (correctly) is just `boolean`, so the language service seems to add a `| null` somewhere.

[2021-02-22 16:46] atscott commented on #1137
@Airblader - the `NgxAliasContext` `ngxAlias` and `$implicit` both have types of `T|null`. https://github.com/TNG/ngx-structurals/blob/master/projects/ngx-structurals/src/lib/ngx-alias/ngx-alias.directive.ts#L16-L23
In contrast, `ngIf` cheats a little and uses `$impliciit: T = null!`

[2021-02-22 16:56] Airblader commented on #1137
d'oh. Thanks for pointing it out, that was a big blind spot.

[2021-02-22 17:54] kyliau commented on #1104
I updated the title of the issue to emphasize that this bug affects autocompletion in **TypeScript** context.
Both TS extension and Angular extension register themselves as provider for autocompletion, but Angular is holding vscode back from returning TS results immediately in a context where Angular does not provide additional results.

[2021-02-22 19:25] reed-lawrence commented on #1140
+ 1.

I have the same issue. As a quick fix, disabling the experimental Ivy features in VS Code settings, the completion returns to expected behavior.

[2021-02-22 20:41] doncid commented on #636
Same issue here.

[2021-02-22 21:19] #1104 closed

[2021-02-22 21:35] atscott commented on #1104
FYI - we plan to do a release today that will include a fix for this.

[2021-02-23 03:09] Muromi-Rikka commented on #1126
are you use nx-workspace?

[2021-02-23 03:16] JounQin commented on #1126
Sorry, but what is nx-workspace?

[2021-02-23 05:38] lincolnthree opened #1144 "[v11.2.3] Angular language service terminally crashes on startup."
**Describe the bug**

Angular language service crashing on startup due to ngcc failure. I believe this has been happening for a few versions, but haven't had time to report till now.

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. `ng new` (example, css)
2. `cd example`
3. `npm i @rx-angular/template`
4. Add rx-angular PushModule to app.module.ts
5. Restart vscode
6. boom

**Expecte

[2021-02-23 05:39] lincolnthree commented on #1144
Uploaded sample project:

[example.zip](https://github.com/angular/vscode-ng-language-service/files/6026961/example.zip)

[2021-02-23 11:20] JounQin opened #1147 "error on string enum input when `strictTemplates` is enabled, but `ng build` works fine"
**Describe the bug**

![image](https://user-images.githubusercontent.com/8336744/108836024-49cfb900-760b-11eb-9381-23d50973086b.png)

`ButtonType` is an enum:

[code]

And also it is too strict when using an empty value attribute:

![image](https://user-images.githubusercontent.com/8336744/108836262-9915e980-760b-11eb-9b42-4869bc23fd24.png)

Maybe an option to ignore this usage is needed.

**Expec

[2021-02-23 13:41] moridianmess commented on #1106
The 11.2.3 update seems to have solved this for me.

[2021-02-23 15:47] rene-leanix commented on #1106
Yes, great, this seems to be fixed now!

[2021-02-23 15:47] #1106 closed

[2021-02-23 18:14] atscott commented on #1147
@JounQin  -  `ng build` produces an error for me. This is also the correct error and you can see the same one in the [typescript playground](https://www.typescriptlang.org/play?#code/KYOwrgtgBAsgngUXNA3gKCpqBDKBeKAcm0LQF80BjAexAGcAXHALlkWXyJIG4g).

Closing, as this is the correct error and I'm also unable to reproduce it.

[2021-02-23 18:14] #1147 closed

[2021-02-23 18:26] atscott commented on #1144
This is actually an issue with the `@angular-rx/template` library, but the failure mode in ngcc is not ideal.

Updated reproduction:
1. `ng new example`
2. `cd example`
3. `npm i @rx-angular/template`
4. `./node_modules/.bin/ngcc package.json - This produces the error`

The `main` property points to a non-existent file: https://unpkg.com/browse/@rx-angular/template@1.0.0-beta.22/package.json

[2021-02-23 22:06] AlissonRS commented on #1104
Thanks @atscott . I posted an [answer in SO](https://stackoverflow.com/a/66327083/2263507) suggesting to temporarily disable this option, but once this release comes up I'll update my answer suggesting people to just update the extension.

[2021-02-23 22:10] atscott commented on #1104
Hi @AlissonRS, this fix was included in the [11.2.3 release](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.2.3) yesterday. Sorry for not providing an update here. Please let us know if you're still experiencing issues.

[2021-02-23 22:14] atscott commented on #1087
Closing since I believe this should have been addressed in the 11.2.3 release yesterday which updated our extension to exit early in TS files when we know the position is outside a template string.
If you are still experiencing issues, please file a new report (if there isn't already a related issue for it)

[2021-02-23 22:14] #1087 closed

[2021-02-23 22:17] AlissonRS commented on #1104
Thanks @atscott , that was fast. I re-enabled Ivy and will do some tests, if everything goes well I'll update [the answer in SO](https://stackoverflow.com/a/66327083/2263507). The original question is unrelated, but some people with this issue ended up there (including me).

[2021-02-23 22:20] atscott commented on #1104
@AlissonRS - Thanks. We've also identified room for improvement in the ngcc performance (which is more directly related to that SO question): https://github.com/angular/angular/issues/40969. That will likely land either this week or next.

[2021-02-24 03:58] JounQin commented on #1126
related https://github.com/angular/angular/issues/36715

[2021-02-24 09:34] Stas1967 opened #1149 "Update ALS to V11.2.3 stop working service"
Issue Type: <b>Bug</b>

Cada vez lo mismo , a parte que se actuliza sin mi contesimiento, provoca retrasos en mi trabajo, este servicio es para ayudar o no?

Extension version: 11.2.3
VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2021-02-24 14:45] CthulhuOfStars commented on #1140
Same behavior + always crash

Thanks

[2021-02-24 18:28] lsbbd opened #1152 ""find all references" has redundant results"
Issue Type: <b>Bug</b>

1. for any variable, right click `find all references`
2. view the `REFERENCE` view
3. the reference in the same position in the search results appears twice

Extension version: 11.2.3
VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:45:54.515Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2021-02-24 19:09] prabh-62 commented on #1152
VSCode shows double results for `*.ts` files
<img width="751" alt="double_references" src="https://user-images.githubusercontent.com/13006107/109052307-75a17c00-76a9-11eb-9213-a77834df2ca5.png">

`Ivy` enabled
<img width="1092" alt="ivy_enabled_vscode" src="https://user-images.githubusercontent.com/13006107/109052598-cadd8d80-76a9-11eb-8a40-b164d2c531a1.png">

[2021-02-24 22:10] atscott commented on #1152
Duplicate of #1124. TL;DR this is an issue in vscode, the fix is here https://github.com/microsoft/vscode/pull/117424

[2021-02-24 22:10] #1152 closed

[2021-02-24 22:11] atscott commented on #1149
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2021-02-24 22:11] #1149 closed

[2021-02-24 23:22] AlissonRS commented on #1104
@atscott just came back to say everything looks ok since v11.2.3, I didn't face any performance issues so far. I updated my answer in SO as well. Thank you very much,

[2021-02-25 08:47] jpike88 commented on #1140
Same problem, enabling the ivy engine makes it no longer recognise component tags, something is broken

[2021-02-25 11:05] tnastula commented on #1140
Same problem. @reed-lawrence suggested good temporary solution.

[2021-02-25 22:29] kyliau commented on #1126
This has been fixed in Angular upstream, but only in version 12, so will only be available around May 2021.

[2021-02-26 09:38] smnbbrv opened #1154 "This component requires inline template type-checking, which is not supported by the current environment."
**Describe the bug**

If a component / directive has a generic type, the following error is shown.

The error is also shown in the places where this component is used:

This leads

- the file with this component
- the html templates that use this component
- the .ts component files that relate to the html templates that use this component

to be all red.

Removing the generic type "solves" the iss

[2021-02-26 10:27] BlindDespair opened #1155 "Variables created in the template always have type any"
**Describe the bug**
With the latest version of angular language service we lost the type safety in the template when using techniques that create new variables, e.g. when using `*ngFor` or `*ngIf="something as some"`.
I experienced this in all my projects while working from different machines. Here is an example:
![image](https://user-images.githubusercontent.com/15785773/109287347-bcb37c80-7823-

[2021-02-26 14:52] JounQin commented on #1126
@kyliau Another question here, does this plugin read `angular.json` to get the correct `tsconfig.json` used or it just read `<project dir>/tsconfig.json`?

[2021-02-26 17:06] majellin24 opened #1158 "Typechecking of context doesn't work with custom directives"
I'm not sure if this is appropriate but this is basically just a duplicate of https://github.com/angular/vscode-ng-language-service/issues/650

Discussion within that issue seemed to suggest that the issue would be resolved using the ivy language service, however, I cant seem to get that to work and I'm just wondering about the status of the work toward resolving that issue or if there are additio

[2021-02-26 17:58] kyliau commented on #1126
@JounQin The Angular extension reads tsconfig.json from project dir. You can open the log file by running the vscode command `Open Angular server log` to see which tsconfig.json is loaded.

[2021-02-27 05:13] JounQin commented on #1126
What's your meaning by `project dir`? Is it read from `angular.json`? As I can tell, it doesn't read `angular.json` correctly to me.

[2021-02-27 11:40] tonivj5 commented on #1154
Rel in Angular's repo https://github.com/angular/angular/issues/40857

[2021-03-01 09:31] anurag2pirad commented on #1155
I found a workaround.

Try disabling ```Angular: Experimental-ivy``` in the extension settings. It doesn't show the type on hover but at least autocomplete works.

[2021-03-01 13:38] erosostolato commented on #29
Hey guys, I couldn't get it to work. What do I need to do? Do I need to enable any option?

[2021-03-01 13:45] kukjevov commented on #29
@erosostolato if you have installed language server and vscode extensions for angular then in user preferences you can find Angular: Experimental-ivy, if you enable it it should start working, in my case it is crashing, i need to create new issue for it

[2021-03-01 14:44] erosostolato commented on #29
@kukjevov

The only thing that I can do is renaming a template variable like this:
![image](https://user-images.githubusercontent.com/75269233/109512641-0fd73a80-7a83-11eb-9a65-4d1da0aa8946.png)

But if I try to rename it directly in the interface, it doesn't work... it doesn't even show the reference count
![image](https://user-images.githubusercontent.com/75269233/109512896-50cf4f00-7a83-11eb-84

[2021-03-01 14:47] kukjevov commented on #29
If i saw it correctly, what should be working so far is only getting correct number of references in templates :), renaming is feature that i saw in Angular 12 beta.0 so it is not working, because it is still not there :), but it should be soon :).

[2021-03-01 14:49] kukjevov commented on #29
Codelens also needs some work, so only find all references should be working, but still there is some problem in my project because if i turn it on, it crashes :).

[2021-03-01 14:53] atscott commented on #29
FYI - renaming for Angular is only available in external templates. There is now way to ensure that the Angular extension is used in TypeScript files so we opted to disable it there. See https://github.com/microsoft/vscode/issues/115354. If you would like this feature, it could be worth upvoting the vscode issue so it gets prioritized sooner.

[2021-03-01 14:55] erosostolato commented on #29
@kukjevov you're right, I saw it working for find all references.

@atscott got it! I already upvoted

[2021-03-01 14:56] atscott commented on #29
In reference to Codelens, there is no way to augment those results with ours. We can consider providing our own, separate lens in addition to the typescript one that could say something like “# references in templates” but we can’t include our results in the same one that’s already there.

[2021-03-01 15:03] erosostolato commented on #29
I liked the idea of having “# references in templates”

[2021-03-01 16:43] CaselIT commented on #1104
I'm still facing some slowdown.
It's definitely better than before, but it's still a quite noticeable ~ 1-2s

[2021-03-01 17:14] #1090 closed

[2021-03-01 18:57] atscott commented on #1155
The types shown by Angular Language Service reflect what you've configured the compiler to interpret. Have you turned on `strictTemplates` or `fullTemplateTypeCheck` at the very least in the [angular compiler options](https://angular.io/guide/angular-compiler-options)? If not, Angular does not type check the bodies of templates.

[2021-03-01 18:59] atscott commented on #1158
The types shown by Angular Language Service with Ivy reflect what you've configured the compiler to interpret. Have you turned on `strictTemplates` or `fullTemplateTypeCheck` at the very least in the [angular compiler options](https://angular.io/guide/angular-compiler-options)? If not, Angular does not type check the bodies of templates.

[2021-03-01 19:05] atscott commented on #1154
Same issue in the Angular repo https://github.com/angular/angular/issues/40963. I've discussed this with @alxhub, and while the information provided in the error is correct, we should convert it to an informational diagnostic rather than an error and provide clearer information about what's going on here. In short, the compiler is unable to determine the correct types for the component without mak

[2021-03-01 19:12] majellin24 commented on #1158
Yes, `fullTemplateTypeCheck` is true

[2021-03-01 19:13] atscott commented on #1158
@majellin24 - Can you provide a reproduction in a GitHub repository so I can investigate?

[2021-03-01 19:17] majellin24 commented on #1158
@atscott sure, I'll work on that.  One more thing which might be relevant is that when I have "Experimental-ivy" checked in vscode's extension settings, I am also experiencing what is mentioned in https://github.com/angular/vscode-ng-language-service/issues/1155

I'm wondering if this might be a configuration issue for me.  This might be a dumb question but I looked for the answer and could not fi

[2021-03-01 19:20] Jin-K commented on #1155
this is the content of our tsconfig.json, and we have the issue since a couple of days:
[code]

[2021-03-01 19:23] atscott commented on #1158
@majellin24 You don't need to install the `@angular/language-service` package. This is bundled with the extension.

[2021-03-01 19:25] kyliau commented on #1158
@majellin24 If you could provide the logs it'll give us better insight into your config / project setup. The `angularCompilerOptions` are logged there.

[2021-03-01 19:36] atscott commented on #1155
Ah, I see what's happening. `fullTemplateTypeCheck` is not enough to apply the template context guards: https://github.com/angular/angular/blob/e12d9dec64bc3d02e58f8f85a65a939394fb9531/packages/compiler-cli/src/ngtsc/core/src/compiler.ts#L667
If your project isn't quite ready to turn on `strictTemplates`, the next step to get this working is to add `"strictInputTypes": true`: https://github.com/an

[2021-03-01 19:38] atscott commented on #1158
Closing as duplicate of #1155.

@majellin24 please add `"strictInputTypes": true` to your compiler options at a minimum to get this working. We recommend `"strictTemplates": true` for the most complete compiler information but understand that projects have to go through some internal cleanup to make this happen.

[2021-03-01 19:43] #1158 closed

[2021-03-01 19:52] majellin24 commented on #1158
@atscott I'm comfortable with this being closed as a duplicate, although I will try to get a minimal reproduction and add the language service logs from that.

I just want to clarify that you would expect https://github.com/angular/vscode-ng-language-service/issues/650 to work properly now if I get my https://github.com/angular/vscode-ng-language-service/issues/1155 type issue resolved?

Thanks

[2021-03-01 20:01] atscott commented on #1158
@majellin24 Yes, with the Ivy Language Service enabled, #650 will work. The fix for #1155 is to have either `"strictTemplates": true` in the `angularCompilerOptions` or both `"fullTemplateTypeCheck": true` and `"strictInputTypes": true`.

[2021-03-01 20:01] atscott commented on #1158
@majellin24 Also, don't worry about the reproduction and logs. I think we've identified the root cause. Of course, do feel free to provide them if the provided solution doesn't work for you.

[2021-03-01 20:02] majellin24 commented on #1158
@atscott sorry to keep commenting but actually just setting `"strictInputTypes": true` solved both issues for me (#650 and #1155) so I wanted to let you know.  Thanks a bunch!

[2021-03-01 20:39] #1120 closed

[2021-03-01 21:56] atscott commented on #1155
Just a heads up, we're planning to add an informational diagnostic that would show up on structural directives when the compiler options are preventing the guard from being applied.

[2021-03-01 22:53] kyliau commented on #1126
The Angular extension will traverse up the directory tree to look for `tsconfig.json`. If it finds one, and if the `tsconfig.json` includes the source file, then it will use the `tsconfig.json` to create a project.
`angular.json` is purely an Angular CLI thing, the extension does not read it in any way nor is it aware of the file.

[2021-03-01 22:54] kyliau commented on #1126
Update: fix has been cherry picked to v11.2.x, will be released this week
https://github.com/angular/angular/pull/41036

[2021-03-01 23:00] kyliau commented on #827
Closing this, since there is a workaround and this is a View Engine-only issue.

[2021-03-01 23:00] #827 closed

[2021-03-02 03:57] chavesdaniel commented on #1104
Hi !
I'm still facing some slowdown... but it is not always, it seems to be intermittent :(
I'm using the version 11.2.3

[2021-03-02 04:06] kyliau commented on #1104
@CaselIT @chavesdaniel Could you please open a new issue and let us know when did the slowness occur?
- Were you typing in TS source code, or Angular template?
- If Angular template, was it an inline template or external file?
- Were you expecting Angular results, or TypeScript results?
- How big is your project?
- Please consider uploading the logs to help us understand your setup.

[2021-03-02 04:59] chavesdaniel commented on #1104
@kyliau I've just disabled the plugin option "Angular: Experimental-Ivy" and it seems to be resolved (Ctrl + click on angular html components).
I've tested some autocomplete (Ctrl + spacebar at ts files) and seems fast too.
Where can I check the logs to see if the problems is definitively resolved ?
Thanks for your fast reply

[2021-03-02 05:18] kyliau commented on #1104
@chavesdaniel Yeah, `experimental-ivy` is the new thing we are rolling out, and in a couple months we'll switch over. It'll help us tremendously if you could give us some insight into what went poorly when you were using `experimental-ivy`. To get the logs, open the command palette (Cmd + Shift + P on Mac, Ctrl + Shift + P on Windows I believe), and search for "Open Angular Server log". Once you g

[2021-03-02 05:47] chavesdaniel commented on #1104
@kyliau I set the "angular.enable-experimental-ivy-prompt" to true, than I went to one of my component template file (.html), then tried to Ctrl+click on a custom componente inside it:

See if this piece of log helps you:

Info 62   [2:39:53.668] -----------------------------------------------
Info 63   [2:39:54.511] Before ensureProjectForOpenFiles:
Info 64   [2:39:54.511] After ensureProjectForO

[2021-03-02 08:59] CaselIT commented on #1104
Sorry forgot yo mention. This was in a typescript file (with no components or service, but it does not seem to matter), so I was expecting typescript result. I tried an a simple variable `const foo: string[] = []` so nothing complex regarding types.

Regarding how bit is the project, not sure how to quantify. I count ~140 `@Component` and ~70 `@Injectable`.

I'll try to find some time to investiga

[2021-03-02 18:51] kyliau commented on #1132
@vaindil it looks like you are using vscode insider. Does the same behavior occur when you switch to the stable build?
Please send us the log file: c:\Users\<snip>\AppData\Roaming\Code - Insiders\logs\20210219T093903\exthost1\Angular.ng-template\nglangsvc.log
Without the logs, it is hard for us to debug. I tried to run `ng serve` in a new project, but I could not reproduce the bug. It looks like s

[2021-03-02 18:53] vaindil commented on #1132
I'm happy to send the log file, but it's too much for me to censor. Do you have somewhere I can share it privately?

[2021-03-02 19:23] kyliau commented on #1132
@vaindil You can send it to kyliau@angular.io thank you very much!

[2021-03-02 20:23] kyliau commented on #1132
@vaindil Thanks for the log file! It looks like some process is editing your `tsconfig.json`, which triggers a project reload via the file watcher. I don't see any changes before and after though.
I see six log lines similar to the following:
[code]

I don't think this is caused by `ng serve`. In order to eliminate it as a potential cause, could you please open the project in vscode without runnin

[2021-03-02 22:16] chavesdaniel opened #1168 "Ivy LS makes some features in TS context and Jump to Template unusably slow"
Some features, like autocomplete and 'Navigate to element' become unusably slow when the experimental Ivy language service is enabled.

Copied from #1104 :

**Describe the bug**

In my project, autocomplete and Navigate to element is significantly slower when Ivy is enabled.

To Reproduce

I can go to any TS-file, start typing something, and wait for the suggestion box to pop up.
Go to any templat

[2021-03-02 22:17] chavesdaniel commented on #1104
Did it, #1168

[2021-03-02 23:33] alxhub commented on #1168
Hi @chavesdaniel,

Can you attach the entire log file here for us to take a look at?

[2021-03-02 23:39] pauldaustin opened #1169 "Problems panel, deleted files or out of sync with code"
I do a lot of refactoring of code, which in effect results in the old files being "deleted" when the files are moved.

The problems pane still shows errors for those deleted files and prompts to "create the missing file" which is about 1% chance of the action that is needed. 99% of the time it should just remove those errors from the problems pane.

Also a lot of times there are errors showing up

[2021-03-03 05:02] kyliau commented on #1169
For point no 1 - we do show the source of the error, it's `ngtsc`

<img width="1792" alt="Screen Shot 2021-03-02 at 8 58 35 PM" src="https://user-images.githubusercontent.com/2941178/109755061-1a382800-7b9a-11eb-8381-60ff4f2dc3b1.png">

For point no 4 - There's the restart Angular server command.

<img width="1792" alt="Screen Shot 2021-03-02 at 8 54 32 PM" src="https://user-images.githubuserconte

[2021-03-03 09:16] Dozorengel commented on #1106
Is it a fix to disable ivy support? It also works for me but I don't think it's a proper solution as angular 11 does use ivy under the hood.

[2021-03-03 14:06] chavesdaniel commented on #1168
Hi @alxhub!
Today I'm trying to reproduce the lag, but without success.... is so bad when the problem is intermittent.
I'm still trying

[2021-03-03 14:12] chavesdaniel commented on #1168
@alxhub , I found a log from 2021-02-03:

Info 0    [0:51:2.890] Format host information updated
Info 1    [0:51:2.891] reload projects.
Info 2    [0:51:2.892] Before ensureProjectForOpenFiles:
Info 3    [0:51:2.892] After ensureProjectForOpenFiles:
Info 4    [0:51:2.892] Host file extension mappings updated
Info 5    [0:51:2.895] Angular language server process ID: 13660
Info 6    [0:51:2.896] Us

[2021-03-03 14:55] chavesdaniel commented on #1168
@alxhub , I forgot to turn on the option "Angular: Experimental-ivy" at the "extension settings"....
I was able to reproduce, but reading the logs I didn´t find de exact amount of the delay when I Ctrl+Click on a template or try to autocomplete a service file, per example....
Anyway, here is the log:

Info 0    [11:25:45.492] Format host information updated
Info 1    [11:25:45.496] reload projects

[2021-03-03 17:39] #1124 closed

[2021-03-03 21:14] #1140 closed

[2021-03-04 20:54] hinok opened #1176 "When Ivy is enabled, TypeScript code is super slow"
**Describe the bug**

TypeScript autocompletion and navigation is super slow to a point where normal work is not anymore possible.
`Loading...` tooltips and broken autocompletion complicates working with TypeScript so much that at some point day-to-day work is exhausting.

**To Reproduce**

Steps to reproduce the behavior:

1. Have a "big angular" project...
2. Create a very simple file that expor

[2021-03-05 15:26] atscott commented on #1168
Keen and I investigated the slowness yesterday and seem to have isolated the issue to the same root cause. Diagnostics take a while to return because it requires analysis of the Angular program. The diagnostics generation blocks other requests from being processed even though they are essentially no-ops.

Closing this one, just for consolidating with #1176.

[2021-03-05 15:26] #1168 closed

[2021-03-08 21:15] atscott commented on #561
This does seem to be possible with [request forwarding for embedded languages](https://code.visualstudio.com/api/language-extensions/embedded-languages#request-forwarding). The summary is that our client implementation would:

1.  intercept the request for completion
2. find that the location is inside an inline template
3. create a virtual document with just the html contents
4. forward the compl

[2021-03-09 12:41] suisoku opened #1184 "Go To Definition not working in template on component tags with the directive *ngfor"
**Describe the bug**

Go To Definition not working in template on component tags with the directive *ngfor in VSCode using the lastest ALS

**To Reproduce**

Steps to reproduce the behavior:

F12 on <component-name *ngFor=".."> in VSCode with the latest ALS version
I have "No definition found for component-name"

**Expected behavior**

It should get me to the ts file

**Logs**

ALS log doesn't sho

[2021-03-09 16:10] vaindil commented on #1132
I haven't been able to reproduce this again, it was happening all the time and it seems to have stopped now. I do occasionally see it even with the Ivy language service, but I'll try to see what's editing the file and report back. You can probably close this card if you want. Thank you, and sorry!

[2021-03-09 20:23] kyliau commented on #1126
Fix released in v11.2.5

[2021-03-09 20:23] #1126 closed

[2021-03-10 04:32] bhaireshm opened #1187 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `11.2.5`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.54.1`

[code]

[2021-03-10 23:00] ehavener opened #1191 "Allow users to hide strictTemplates prompt"
Referencing **#1053 Prompt users to enable strictTemplates**

When an Angular project contains many `.tsconfig` project roots that extend a 'base' `.tsconfig`, this prompt appears every time one of them is loaded. When working in an [@nrwl/nx](https://github.com/nrwl/nx) workspace, with separate projects defined for every module, these notifications appear constantly.

This is because the language

[2021-03-11 00:44] kyliau commented on #1191
I wonder if vscode has built in capability to permanently hide a notification instead of us handling it in the extension.
I've seen screenshots like this (from https://github.com/microsoft/vscode/issues/94923):
![image](https://user-images.githubusercontent.com/2941178/110718216-651bf600-81bf-11eb-9bb1-da6bb0eedf09.png)
Does clicking on the cog wheel icon present the "Do not show this again" optio

[2021-03-11 00:52] ehavener commented on #1191
It does:
![Screen Shot 2021-03-10 at 4 48 03 PM](https://user-images.githubusercontent.com/18430808/110718741-6e599280-81c0-11eb-874c-449b15eccc4d.png)
however I've only seen the "Do not show this again" option on alerts direct from vscode. I don't think there's an API for it.

If we want to avoid a setting, we could use one of these methods to store meta to hide it
https://code.visualstudio.com/a

[2021-03-11 03:56] ahsansoftengineer opened #1194 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `11.2.5`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.54.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-03-11 03:56] ahsansoftengineer opened #1195 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `11.2.5`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.54.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-03-11 04:25] Sindhuja-Muddasani opened #1196 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `11.2.6`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.54.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-03-11 04:27] #1196 closed

[2021-03-11 11:43] dcrouch79 opened #1198 "Fix extension activation"
Version 11.2.6 of extension fails to activate.

Version 11.2.5 working ok.

**Environment**
- Windows 10 + WLS2
- VS Code 1.54.1
- Angular 10

**Logs**
<details>
  <summary>VS Code Console Logs</summary>

[code]

</details>

[2021-03-11 13:13] vitale232 commented on #1198
I'm seeing something similar in my Win 10 + WSL2 (Ubuntu 20.04) setup using VS Code 1.54.1

When upgrading to v11.2.6 of the VS Code extension, the language service fails to load in my remote VS Code session.

If I run the `Angular: Restart Angular Language server` command from the command palette, I get a notification with the following error message:

`Command 'Angular: Restart Angular Language

[2021-03-11 19:24] kyliau commented on #1195
Duplicate of #1194

[2021-03-11 19:24] #1195 closed

[2021-03-11 19:26] kyliau commented on #1194
@ahsansoftengineer could you please provide more information, along with logs and screenshots?
It is impossible for us to debug without additional info. Until then, I'll keep this issue closed.

[2021-03-11 19:26] #1194 closed

[2021-03-11 19:41] kyliau commented on #1198
We've rolled back some changes in v11.2.6, and published [v11.2.7](https://github.com/angular/vscode-ng-language-service/releases/tag/v11.2.7) while we investigate this issue.

[2021-03-12 16:24] AmandavZ commented on #1154
@atscott - Could you please elaborate on the last part? What is the correct way of extending generics on a class if it is not a bug but informational diagnostics? Is there a workaround other than disable Ivy or removing the extended type?

[2021-03-13 20:18] Brandinga commented on #1154
looks like this gets adressed here: [41043](https://github.com/angular/angular/pull/41043)

[2021-03-14 21:16] w0rp opened #1205 "ALE now supports the Angular language server"
Hello. There's no easy way to send messages to people through GitHub, and I wish there was. I would just like to let you know that I just added support for `@angular/language-server` to [ALE](https://github.com/dense-analysis/ale), so anyone who has it installed with ALE enabled will see type checking and can use some basic IDE features in Angular HTML templates. Enjoy!

[2021-03-14 21:16] #1205 closed

[2021-03-15 16:23] atscott commented on #1154
@AmandavZ - As @Brandinga mentioned, this is being addressed in [#41043](https://github.com/angular/angular/pull/41043). There's not an "incorrect" way to write the generic. The compiler generates files for type-checking a component/directive. If it finds that there isn't a reliable way to import they types used in the generic, it instead has to make an in-line edit to the directive's file to expo

[2021-03-15 17:01] earshinov commented on #636
Same issue for me.

[code]

This command always eats up one CPU core for me, no matter how long I keep VS Code running (even a day). I've been observing this issue for a week now.

Also, "Go to Definition" is incredibly slow for me, taking from 10-20 seconds to forever, similarly to #1176 which is assumed to be fixed.

I am using the latest version of the extension (v11.2.7).

[2021-03-15 17:07] atscott commented on #1176
Re-opening since the commit which fixed this was reverted. We should be able to get this back in to a release this week.

[2021-03-15 18:05] AmandavZ commented on #1154
@atscott  thank you for the explanation

[2021-03-15 20:06] atscott commented on #1184
@suisoku - Could you provide some more information about you project setup? Uploading the Angular Language Server logs would be a good start.

[2021-03-15 21:55] #1198 closed

[2021-03-15 22:15] #1176 closed

[2021-03-16 12:39] earshinov commented on #636
Same issue with v11.2.8.

Issue tags say `need-repro`. Can I perhaps be of any help with this? I observe this issue as reliably as it could be - CPU usage gets high as soon as I open the workspace and never stops.

[2021-03-16 17:27] kyliau commented on #1191
Fixed by https://github.com/angular/vscode-ng-language-service/pull/1193

[2021-03-16 17:27] #1191 closed

[2021-03-17 15:21] tonyholt commented on #636
This is happening for me as well.  Once I disabled it, the CPU usage returned to normal.

[2021-03-17 15:58] atscott commented on #1184
Closing since there's not enough information to reproduce or debug the issue.

If the problem still exists in your application, please open a new issue and provide enough information for us to reproduce it.

[2021-03-17 15:58] #1184 closed

[2021-03-17 18:50] kvart714 commented on #625
Hello everybody,

I’ve updated Angular to 11 version and have faced with the issue.

The standard typescript problem matcher of VS Code ($tsc) cannot parse ng build errors anymore.

I have reviewed VS Code source code and have found a regular expression which parses errors from tsc ([link](https://github.com/microsoft/vscode/blob/149a8b71c534df0554c17b05cf1a925e9139c47f/extensions/typescript-langu

[2021-03-18 16:07] kohashi opened #1216 "Autocomplete doesn't work `as` keyword"
**Describe the bug**

When the library uses `as` in `*ngIf`, the type inference doesn't work and it inference  as `any`.
I faced this when using async pipes, but it seems async pipes are not required.

Simply.
[code]

async, I actually faced.
[code]

Almost same as #255.

**To Reproduce**

Just install VSCode and Angular Language Service.
And copy above.

**Expected behavior**

The type is retaine

[2021-03-19 16:14] #561 closed

[2021-03-19 17:58] atscott commented on #1216
duplicate of #1155

[2021-03-19 17:58] #1216 closed

[2021-03-19 17:59] atscott commented on #1154
Fixed by https://github.com/angular/angular/commit/09aefd29045db77689f4dc16a6abae09a79cfb81. This will be included in next week's release.

[2021-03-19 17:59] #1154 closed

[2021-03-20 19:43] suisoku opened #1219 "Go To Definition not working in template on component tags with a directive"
Hello, I reopened the issue because I am still struggling with this bug, this time with more details and reproducibility :

Describe the bug

Go To Definition not working in template on component tags with the directive *ngfor (or any other directives in VSCode using the latest ALS vs code extension

To Reproduce

Using the latest environment:

- Angular CLI: 11.2.5
- Node: 15.11.0
- OS: linux x64

[2021-03-22 06:13] samdruster opened #1220 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `11.2.8`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.54.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-03-22 06:20] ganshiqingyuan commented on #1219
i have the same problem

[2021-03-22 15:29] atscott commented on #1220
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem still exists in your application, please

[2021-03-22 15:37] atscott commented on #1219
I believe we will likely close this as working as intended. It sounds like an issue with the options you've set for `angularCompilerOptions`. Unlike the old version of the language service, we aim to provide the exact information used when your program compiles. This means that if you tell the compiler to ignore template bodies, you do not get information or diagnostics in the language service ins

[2021-03-22 15:44] #1081 closed

[2021-03-22 19:52] suisoku commented on #1219
While executing the command `ng new testproject` the CLI asks you if you want strict mode applied to your project. I didn't set manually any option in tsconfig or angular.json and still didn't work, but here is the difference between the 2 modes (see comments with // strict mode:

[code]
Unless Angular plans to remove the option to select strict mode off, I believe ALS should work out of the box w

[2021-03-22 20:04] atscott commented on #1219
@suisoku Thanks for the additional context. Angular CLI is making `strictTemplates` the default in v12; this is also when the "experimental Ivy" LS will become the default. Closing as this is working as expected.

[2021-03-22 20:04] #1219 closed

[2021-03-23 16:39] #1155 closed

[2021-03-23 22:05] atscott commented on #1132
@vaindil - Thanks for the info. Let's close this for now, but please feel free to open a new ticket if something new comes up.

[2021-03-23 22:05] #1132 closed

[2021-03-24 08:56] loic49 commented on #636
For me, the problem appear with version 11.2.4. Before this version no problem.

[2021-03-25 05:38] JounQin commented on #1126
@kyliau @alan-agius4 I tried the latest version `"@angular/core": "^11.2.7"`, but it's not working still

![image](https://user-images.githubusercontent.com/8336744/112424421-544ab300-8d6f-11eb-9ae4-36eb0675d5e7.png)

My tsconfig is:

[code]

[2021-03-25 08:56] Danebrouwer97 commented on #815
I see that the Angular CLI discussion has been closed as responsibility has shifted here.
Just wanted to follow up and find out if there's been any movement on this feature request?

[2021-03-25 22:19] atscott commented on #1227
After further investigation, this is happening because `ngcc` is running. While that is happening, the language service is in a disabled state. Once `ngcc` finishes, the language service is re-enabled and all the language service features will be available. Closing as working as expected.

[2021-03-25 22:19] #1227 closed

[2021-03-25 23:07] kyliau commented on #1227
Currently, you have `MyModuleModule` imported via a relative path:
[code]
but I think what you really want is
[code]
It would still work with absolute import, but you have to build the library first via `ng build`, because `my-lib` in `tsconfig.json` is a path mapping to the `dist` directory.
[code]
One thing to keep in mind is that you need to rebuild the library every time `my-lib` changes.

[2021-03-27 12:35] houcemlaw commented on #1227
@kyliau this is because the whole project is a simple reproduction template.
A typical set up would rather include a symlink to the lib along with a build watch.

[2021-03-29 08:07] stagefright5 opened #1232 "`ngcc` Job Infinite Loop and Unnecessary Restarts Of The The Extension [Log Attached]"
**Describe the bug**

### 1. Unnecessary Restarts (Initializing Angular Language Features)

**To Reproduce**

1. Open VS Code Settings
2. Change ANY of the settings
3. Now, in the status bar, you can see `Initializing Angular Language Features`
4. Repeating step 2 causes step 3

### 2. `Angular: Running ngcc for ${project}` inifinite loop (Has been running for almost 20mins)

**Logs**
[nglangsvc.l

[2021-03-30 18:01] #1232 closed

[2021-03-30 23:28] atscott opened #1237 "Implement way for language server to communicate to client that Angular is not in workspace"
We currently have middleware in the client side that tokenizes typescript files to determine if the position is within an inline template before forwarding the request to the server. This is done for performance reasons and allows us to prevent the server from being a bottleneck for typescript files in these cases. However, this tokenization is done for all typescript files, even in non-Angular pr

[2021-03-31 17:18] #1123 closed

[2021-03-31 20:12] atscott opened #1241 "Be more tolerant of missing resources"
Currently, we throw a `FatalDiagnosticError` when we fail to load a resource (`templateUrl` or `styleUrl`) at various stages in the compiler. This prevents analysis of the component from completing. This will result in in users not being able to get any information in the component template when there is a missing `styleUrl`, for example. Instead, we should simply track the diagnostic, mark the co

[2021-03-31 20:43] kyliau commented on #636
@earshinov Could you please set `tracing` to `messages` (see screenshot below), and help us identify which request is taking the most time? Answering the following questions would really help us understand the root cause:

1. Which OS are you using?
2. What's your vscode version?
3. When did you encounter slowness? (when typing in external template / when working on TS source file, etc)
4. Did you

[2021-03-31 21:40] kevinmallinsonflynn opened #1243 "Filter diagnostics of certain error codes"
In our project, we use `require` to load all components. This works, and the app runs fine.

Our app uses string interpolation for some reason - however it is valid code and does compile properly. As a result, we shouldn't receive this error. We also receive this error if we remove the string interpolation.

Here is an example:

[code]

Thus, we get this error:

![image](https://user-images.github

[2021-04-01 13:31] kevinmallinsonflynn commented on #1243
@kyliau No, I'm not.

I have enabled it, and now get a different error:

![image](https://user-images.githubusercontent.com/73043930/113301447-041ea400-92cd-11eb-9f83-6b2339eee0ac.png)

[2021-04-01 15:04] kyliau commented on #1243
@kevinmallinsonflynn Thanks for checking both View Engine and Ivy implementation.
This is expected, because it is almost impossible for the compiler to statically analyze the expression **at build time**. For example, users could concatenate multiple strings, call functions, etc to form the template url.
It also makes source mapping incredibly hard. Source mapping is used by the compiler to highli

[2021-04-01 16:10] kevinmallinsonflynn commented on #1243
@kyliau I am new to this app, but i've been told it was done this way to facilitate the migration from AngularJS to Angular2+
We are currently running a hybrid app with mixed components from AngularJS and 2+.

I understand this is non-standard how we are currently specifying `template` - in that case, is there any way there could be a setting which would allow us to disable this rule?

[2021-04-02 11:44] glebmachine opened #1251 "Disable ngcc background compilation"
**Is your feature request related to a problem? Please describe.**
One of my project is at angular 8, and every time i start my vscode language service started ngcc and compile all dependencies
I would like to disable this feature. For now i should uninstall language service : /

**Describe the solution you'd like**
add configuration `enableBackgroundIvyCompilation` flag

[2021-04-02 14:17] earshinov commented on #636
@kyliau

My VS Code user settings:

[code]

Version information:

[code]

No

Ivy

[ ] Angular template
[x] TypeScript source

Where should I look for this information? The `nglangsvc.log` file doesn't contain any logs for the past 2 hours, but the process

[code]

is still consuming 1 CPU core. Also, what I see in the log file doesn't seem very useful for identifying bottlenecks:

[code]

[2021-04-02 16:24] kyliau commented on #1251
Hi @glebmachine, thanks for the suggestion. Ivy language service requires the `.d.ts` files produced by ngcc to function properly. In your situation, would you rather run ngcc yourself prior to launching vscode?
We can definitely provide such flag, but it'll put the burden on users to run ngcc whenever a dependency is changed. Otherwise, it'll lead to unexpected errors. I'd consider this an "exper

[2021-04-02 17:56] kyliau opened #1253 "CodeLens show !!MISSING: command!! on startup"
<img width="1335" alt="Screen Shot 2021-03-31 at 3 45 46 PM" src="https://user-images.githubusercontent.com/2941178/113440856-0dc60b80-93a2-11eb-850b-7eebcc9f4682.png">

I don't remember how to reproduce this exactly, but I saw it on startup. It fixes itself after a while:

<img width="1335" alt="Screen Shot 2021-03-31 at 3 45 53 PM" src="https://user-images.githubusercontent.com/2941178/113440894

[2021-04-02 18:10] kyliau opened #1255 "Syntax highlighting for inline styles other than CSS"
Angular extension provides syntax highlighting for inline styles:

<img width="1335" alt="Screen Shot 2021-04-02 at 10 47 32 AM" src="https://user-images.githubusercontent.com/2941178/113441884-e112f380-93a3-11eb-8efb-858a2c449759.png">

Currently, the extension assumes that inline style is always CSS:

https://github.com/angular/vscode-ng-language-service/blob/e82a418bf6f1b72009d1c2faeb93a7720dad

[2021-04-03 08:37] glebmachine commented on #1251
So what angular 8 users should do?
It broke dependencies after compilation, and i should disable it to work with angular < 9 projects (without language service at all)

May plugin check angular version first, before compilation?

[2021-04-05 23:36] #1253 closed

[2021-04-06 16:34] atscott opened #1263 "Filter out missing resource diagnostic when able to find uncompiled style with same name"
When a component uses a style url that points to the compiled source (`styleUrls: ['abc.css']`), the language service should filter out the `COMPONENT_RESOURCE_NOT_FOUND` diagnostics produced by the compiler when the uncompiled file is available (i.e. `abc.scss`). Generally this diagnostic is specific to the language service and would not result in actual compile-time errors because compilation wo

[2021-04-07 14:35] bhaireshm opened #1265 "Unresponsive: Performance Issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `11.2.9`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.55.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2021-04-07 16:32] kdaniel21 commented on #1251
I'm having the same problem and right after starting VSCode (and Angular Language Features start to run) my Angular 8 project immediately breaks with the following error message. (I'm adding it so that others might be able to find this issue easier).
`Uncaught TypeError: can't access property "id", ngModuleType.ngModuleDef is undefined`

Would something like rollbacking to a previous version of th

[2021-04-07 16:42] #1241 closed

[2021-04-07 18:21] kyliau commented on #1251
@glebmachine @kdaniel21 Could you help me understand your project setup, please? This is what I gathered so far:
1. You are using Ivy language service
2. Your project is presumably using View Engine
3. Where did you see the error? Could you please copy and paste the entire error message?
4. When you say "ngcc broke dependencies after compilation", what does that mean? In what way are your dependen

[2021-04-08 18:07] atscott commented on #1265
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-04-08 18:07] #1265 closed

[2021-04-09 18:20] #1237 closed

[2021-04-12 14:11] Rafael-Rezende commented on #636
Same issue here.

[2021-04-12 20:38] akaufmann opened #1278 "Component type is lost due to input binding with expression"
When you add an input binding with an expression the component is then of type `HTMLElement` instead of `FooComponent`.

![bug](https://user-images.githubusercontent.com/288499/114454030-70a57700-9bda-11eb-8afd-9a4b60665ea2.gif)

**Additional context**

Angular Language Server: 11.2.10
Angular CLI: 12.0.0-next.8
Node: 12.18.0
OS: darwin x64

Angular: 12.0.0-next.8
... animations, cli, common, comp

[2021-04-13 06:58] sanket-bhalerao opened #1280 "ctrl + click on template variable not working."
Issue Type: <b>Bug</b>

ctrl + click on template variable not working.

create angular project
use a ts variable in template, try to ctrl + click on the variable, nothing happens.

Extension version: 11.2.10
VS Code version: Code - Insiders 1.56.0-insider (48387dfc3d691558404cff1ea2582e3862a40080, 2021-04-13T05:15:20.350Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summ

[2021-04-13 15:55] atscott commented on #1280
Hi @sanket-bhalerao  - I wasn't able to reproduce this issue. Please ensure that your [Angular compiler options](https://angular.io/guide/angular-compiler-options) are appropriately configured. Ideally, set `"strictTemplates": true` in the `tsconfig` and enable the experimental Ivy version in the settings.

[2021-04-13 15:55] #1280 closed

[2021-04-14 01:24] #1278 closed

[2021-04-14 16:15] #1263 closed

[2021-04-15 03:29] vinaynasha opened #1285 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `11.2.10`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.55.1`

:warning: Angular Language Service Unresponsive Performance Issue :warning:

[2021-04-15 03:31] vinaynasha commented on #1285
Also from the same angular service i am also getting this info every time i open vs code

Some language features are not available. To access all features, enable [strictTemplates] in [angularCompilerOptions].

[2021-04-15 12:19] keshavp opened #1287 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `11.2.10`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.55.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-04-15 15:16] atscott commented on #1287
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-04-15 15:16] #1287 closed

[2021-04-15 15:23] kfeinUI commented on #636
Very much an issue for me. Typically eats up to 50-70% of my hefty CPU. This is with it just idling. Hopped back in to an Angular project recently after some time way, so I'm afraid I can't pinpoint when the problem was introduced.

VS Code Process Explorer Entry:

**59** <=== CPU
25
33288

Win 7, Node 12, Angular 11.2.6, latest of the production VS Code + extension.

[2021-04-15 15:24] atscott commented on #1285
Closing as duplicate of #636. There's not enough information here for me to tell if this is a separate issue.

As for the strict templates prompt, we recommend updating your `angularCompilerOptions` to set `strictTemplates` to `true`. You can disable this prompt by clicking the "do not show again for this workspace" button.

[2021-04-15 15:24] #1285 closed

[2021-04-16 18:19] #636 closed

[2021-04-17 09:51] shadoowz97 opened #1290 "angular language service doesn't run correctly"
one week ago,my angular language service doesn't run correctly.
all third-part directive will show an error like pic below

<img width="451" alt="screenshoot" src="https://user-images.githubusercontent.com/33770265/115108634-23435400-9fa4-11eb-9114-efebccafab81.png">
I'm pretty sure I've added all the dependencies to myproject ,<b>because the whole project works correctly</b> the log shows that

w

[2021-04-19 09:01] pedrammsafari opened #1292 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `11.2.11`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.55.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\Pedram\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explai

[2021-04-20 10:09] Agoni1 commented on #1251
@kyliau I had the same problem. I have an old Angular8 project that worked fine before. But now when I open it with VSCode, I get the above error.

[2021-04-20 14:15] kfeinUI commented on #1292
It's been a problem for me. Hammers my system to the point that it got the company IT's attention. A possible fix just made it in a few days ago, so hoping the next release fixes it.

https://github.com/angular/vscode-ng-language-service/pull/1288

[2021-04-20 16:50] kyliau commented on #1251
@Agoni1 We've determined that the new Ivy language service cannot support Angular version 8 and below. This is because the `ngcc` support is incomplete in version 8.
Since version 8 is no longer under [LTS support](https://angular.io/guide/releases#support-policy-and-schedule), we will fix the extension to automatically fallback to View Engine language service.

[2021-04-21 06:56] n9niwas commented on #1251
I would also like to see a setting that disables ngcc or doesn't run it again if it was already executed externally.

Our packages rarely change and ngcc is executed as part of `ng serve` anyways.

Besides, we currently experience an issue with how it's executed from extension.
Ngcc is failing on a particular package via command `ngcc --tsconfig <tsconfig>`  but is working fine from `ng serve` or

[2021-04-22 17:10] kyliau commented on #1292
This has been fixed in https://github.com/angular/vscode-ng-language-service/releases/tag/v11.2.12

[2021-04-22 17:10] #1292 closed

[2021-04-22 21:32] cbejensen opened #1302 "Type checking of context doesn't work with custom directives"
**Describe the bug**

See #650. I am still seeing a custom directive's context value typed as `any`, but the aforementioned issue has been locked.

When using `ngIf`, the context type is correct. If you create your own directive exactly life `ngIf`, though, the type will always be `any`.

In my case, I am using a `let` directive that works like `ngIf`, except it will always render its template, ev

[2021-04-23 16:40] atscott commented on #1302
@cbejensen - what `angularCompilerOptions` are you using? Please ensure you have `strictTemplates` enabled. I was not able to reproduce this issue. The correct type is being shown for me when I use the directive in your example:
![image](https://user-images.githubusercontent.com/479713/115902968-e0580500-a417-11eb-805a-affa43241091.png)

[2021-04-23 16:43] atscott commented on #1290
@shadoowz97 - Could you please provide some more information? There's not enough here for us to determine what's going on in your project. Are you able to provide an example github repository that we can use to reproduce this issue?

[2021-04-23 20:24] AlejandroQR23 opened #1305 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `11.2.12`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.55.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\alqr2\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain

[2021-04-23 23:04] atscott commented on #1305
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new?assignees=&labels=bug&template=bug_report.md&title=) and follow the instructions in the issue template. Attaching the cpu profi

[2021-04-23 23:04] #1305 closed

[2021-04-26 22:12] #1251 closed

[2021-04-27 16:22] atscott commented on #1302
Closing - this appears to be working as intended. I was unable to reproduce the issue.

[2021-04-27 16:22] #1302 closed

[2021-04-27 17:57] AdamTeodoro opened #1308 ":c 🌵"
# 🐞 bug report

### Is this a regression?

Not

### Description

The atualization have created an bug in the autocomplete, my autocomplete is'not work

If the bug is caused or experienced by a particular source code, please provide a minimal
reproduction of that source code.

## Bug Type
What does this bug affect

- [ X] Angular Language Service VSCode extension
- [ ] Angular Language Service serv

[2021-04-27 20:18] FDIM opened #1310 "Angular language service performance issue"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/language-service

### Is this a regression?

v10 did not seem to have this issue, but it may have been introduced as part of vscode extension in v11

### Description

Looks like angular language service started using 1 of my cpu cores non-stop. Sometimes I end up having multiple editors open for the same project (differ

[2021-04-27 22:00] atscott commented on #1308
@AdamTeodoro Can you provide the logs by running the "Angular: Open Angular Server log" command?

[2021-04-27 22:51] AdamTeodoro commented on #1308
My logs

[](https://stackblitz.com/edit/angular-ivy-oxg4cu?file=src/app/myLogs.log)

My **tsconfig.json**
[code]

Other peoples with the problem:

[](https://stackoverflow.com/questions/65688608/angular-language-service-in-vscode-does-not-work-because-it-is-not-an-angular-pr)

[2021-04-27 22:58] atscott commented on #1308
@AdamTeodoro - The logs show that you do not have the experimental ivy language service enabled. Can you enable it in the settings?
![image](https://user-images.githubusercontent.com/479713/115903225-2f059f00-a418-11eb-8bf3-f507d7614dc2.png)

[2021-04-28 14:17] digeomel commented on #1310
I'm seeing a similar behaviour. Even while idle in the editor, the extension is consuming CPU constantly.

[2021-04-28 14:24] AdamTeodoro commented on #1308
logs updated: https://stackblitz.com/edit/angular-ivy-g1lff3?file=src/app/myLogs.log

The problem is also involved with the Experimental-ivy-prompt

[2021-04-29 16:49] atscott commented on #1310
@FDIM @digeomel - Can you try installing the `v11.2.2` release? We had previously identified https://github.com/angular/vscode-ng-language-service/pull/1129 as potentially causing this issue. The change was released in `11.2.3`. We thought this particular issue was fixed by https://github.com/angular/vscode-ng-language-service/pull/1288 which was included in `11.2.12` (though I see @FDIM is still

[2021-04-29 18:34] atscott commented on #1308
@AdamTeodoro Thanks for the additional logs. Are you able to share an example project with this issue? We need to look at the actual TS code for the component of the template.

[2021-04-29 21:12] kfeinUI commented on #1310
Same high usage for me while idling continues. I'm trying the recommended downgrade to 11.2.2. Will put some time in with it tomorrow and report back. First few minutes with it are looking positive.

[2021-04-30 02:03] ivanwonder commented on #1310
Looks like the `ProjectService` and `Project` use the different `watchOptions`.
https://github.com/microsoft/TypeScript/blob/38da7c600c83e7b31193a62495239a0fe478cb67/src/server/editorServices.ts#L2972
https://github.com/microsoft/TypeScript/blob/38da7c600c83e7b31193a62495239a0fe478cb67/src/server/editorServices.ts#L2138
I found the project files are watched triggered by the `watchClosedScriptInfo`

[2021-04-30 12:34] AdamTeodoro commented on #1308
I dont cant the share all code, but i can share one part of code with you, what code part you have preference?

[2021-04-30 15:35] digeomel commented on #1310
@atscott installed and testing, will let you know how it goes.

[2021-04-30 15:37] digeomel commented on #1310
Not sure if this is because of the extension or vscode, but I'm also getting an extremely slow intellisense support:

![image](https://user-images.githubusercontent.com/3295889/116718861-b8017500-a9da-11eb-81aa-b1964dff4a4b.png)

That "Loading..." indicator can stay there for minutes.

[2021-04-30 15:56] stefan-schweiger opened #1315 "VS Code extension getting config errors for VS Code resources"
# 🐞 bug report

### Is this a regression?

I don't know

### Description

The extension is scanning VS Code resources every 20 seconds and getting errors because it can't find a config file for them.

## Bug Type
What does this bug affect

- [x] Angular Language Service VSCode extension
- [ ] Angular Language Service server

## Reproduction

1. Open a new Angular Project (I just downloaded a fresh

[2021-04-30 16:18] AdamTeodoro commented on #1308
não, não entendi como, mas apareceu um espaço na div olha na foto com está ou estava no template:
![image](https://user-images.githubusercontent.com/66885644/116723840-47e0f800-a9b6-11eb-96ff-971e61654e57.png)

[2021-04-30 16:24] atscott commented on #1308
@AdamTeodoro - It looks like things are working in your screenshot. Are you able to create a small example project where you can reproduce this issue? It doesn't have to be the project you are working on. If you create a new project, do you see the same issue?

[2021-04-30 16:28] atscott commented on #1310
@digeomel - yes, that's an old issue that we resolved after `11.2.2`. But are you able to confirm that the high CPU usage even when idle isn't present in that version? I think @ivanwonder may have identified the issue with `watchOptions` above.

[2021-04-30 17:15] kfeinUI commented on #1310
@atscott So far the CPU usage is much better under 11.2.2. It idles in the low single-digits and doesn't thrash my machine. Of course this comes at the expense of the intellisense taking a long time to load.

[2021-04-30 18:52] atscott commented on #750
Re-opening since we have to revert commit 17708d4 to address #1310

[2021-04-30 19:31] atscott commented on #1310
We've reverted the commit that caused this issue and will be included in next week's release. We will also investigate a fix-forward for #750 in the future.

[2021-05-01 18:33] AdamTeodoro opened #1318 "😡"
The bug exists, I will never contribute to the project anymore.

[2021-05-03 09:38] FDIM commented on #1310
@atscott I can confirm that 11.2.2 does not hog the CPU, thank you for the workaround and the effort!

Aside of this I do unfortunately bump into the other issue you referenced as well, especially when changing branches that have bigger diff. Lately I did not experience that issue, so now it all makes sense.

I understand that there may not be an easy fix for both problems, so maybe a user setting

[2021-05-03 15:51] atscott commented on #1318
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-05-03 15:51] #1318 closed

[2021-05-03 15:52] atscott commented on #1290
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-05-03 15:52] #1290 closed

[2021-05-03 15:57] atscott opened #1319 "Rename capability should be provided for inline templates"
https://github.com/angular/vscode-ng-language-service/pull/1065 Added renaming capability to external templates and specifically excluded all `ts` files, including inline templates for renaming because of an issue in vscode  microsoft/vscode#115354. However, we have the ability to provide renaming for inline templates by introducing middleware on the client side to first ensure that the position i

[2021-05-03 16:03] atscott commented on #1310
@FDIM - @kyliau and I will be working on investigating a solution today that fixes #750 and does not introduce the CPU hogging. I don't think we'll need a user setting to configure this since there shouldn't be a tradeoff. @ivanwonder is correct in https://github.com/angular/vscode-ng-language-service/issues/1310#issuecomment-829744536 and we just need to configure the correct defaults for file wa

[2021-05-03 17:25] SAElizondoR opened #1320 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension
Name: `ng-template`
- Extension Version: `11.2.13`
- OS Version: `Linux x64 5.4.0-72-generic`
- VS Code version: `1.55.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/tmp/Angular.ng-template-unresponsive.cpuprofile.txt`
[Angular.ng-template-unresponsive.cpuprofile.txt](https://github.com/angular/vscode-ng-language-servi

[2021-05-03 19:24] atscott commented on #1310
@FDIM Can you confirm if `11.2.13` resolves the CPU usage issue?

[2021-05-03 19:34] atscott commented on #1320
@SAElizondoR Can you provide some additional information about your project and the high CPU load? Is it an ongoing issue? We would expect high CPU load while compiling the application. Since your profile is only appears to be 5 seconds, I'm not sure this is out of the ordinary.

[2021-05-03 20:40] FDIM commented on #1310
@atscott Yep, looks like the issue is gone now. Thanks! Feel free to ping me if I should test some other version or in some way help to debug. You can find me on discord in angular community

[2021-05-03 21:42] SAElizondoR commented on #1320
The project was stuck, but I already found out that the problem was my on machine, not in VSC. Thanks for the reply.

[2021-05-03 21:42] #1320 closed

[2021-05-04 12:55] digeomel commented on #1310
@atscott I can also confirm that 11.2.13 seems to solve the issue and is much, much snappier! Thank you! 👍🏼

[2021-05-04 13:26] CorrM opened #1321 "Wired error in Problems window"
Issue Type: <b>Bug</b>

file: 'plugin-item.component.ts' was there but i renamed it
but the error still there.

![image](https://user-images.githubusercontent.com/5868825/116875954-081b4a00-ac1c-11eb-8491-abe70761bb64.png)

VS Code version: Code 1.55.2 (3c4e3df9e89829dce27b7b5c24508306b151f30d, 2021-04-13T09:35:57.887Z)
OS version: Windows_NT x64 10.0.19042

[2021-05-04 16:04] kpaxton commented on #876
I'm having this same issue with an NX 12 workspace and Angular 11.2+. The Language service does not pick up configured paths in the `tsconfig.base.json`.
NX is aware of the issue and doesn't believe they have the ability to fix this problem. https://github.com/nrwl/nx/issues/3342

Is there something that the language service can be given a glob or file pointer to include for suggestions?

[2021-05-04 16:08] kpaxton commented on #335
Having issues CTRL+clicking on a component's tag in the html template and navigating to it. Is this known to be an issue with the Ivy language service?

[2021-05-04 16:57] lszomoru opened #1322 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-04 17:45] atscott opened #1324 "Allow configuring watch options like the TS language service"
#1323 introduced default watch options for providing to the project service. We could consider developers to configure these watch options in the vscode settings like the native [TS language features extension](https://github.com/microsoft/vscode/blob/ede914800c6c32401a527ac79471b04d49ea2a3c/extensions/typescript-language-features/package.json#L894-L956).

This feature request is mostly here to ga

[2021-05-04 20:32] bobderrico80 opened #1325 "`angular.ngdk` override setting does not work as expected"
# 🐞 bug report

### Is this a regression?

No

### Description

Overriding the `angular.ngdk` setting does not seem to work (i.e, the bundled version of `@angular/language-service` is used instead of the one I am attempting to override.

## Bug Type
What does this bug affect

- [X] Angular Language Service VSCode extension
- [ ] Angular Language Service server

## Reproduction

Steps to reproduce

[2021-05-04 22:22] #750 closed

[2021-05-05 15:21] ahsansoftengineer opened #1329 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `11.2.13`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.55.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\MAHSAN~1\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expl

[2021-05-05 18:17] atscott commented on #1329
Hi @ahsansoftengineer, can you provide some more details?

* The cpu profile isn't attached. Could you attach it?
* is this a persistent problem or does it happen only at startup? We expect high CPU load when Angular is compiling the program
* Can you provide the Angular server logs?

[2021-05-05 18:42] atscott opened #1330 "Method for determining if a file is inside an Angular project has issues"
I have observed that the performance enhancement introduced in https://github.com/angular/vscode-ng-language-service/pull/1272 does not work in some situations. It appears that if I attempt to do operations in an external template before the language service is initialized, the template will be identified as not being inside an Angular project.

[2021-05-06 07:15] i-am-senthil opened #1332 "Unable to load definitions."
Issue Type: <b>Bug</b>

Hello Team,

I have been observing this issue with Angular Language Service for the past few days. I am not able to load the TS definition from html. This is very annoying as a developer. I tried using the very older version of this extension and it works but shows up a lot of errors and warnings in the HTML file.

Extension version: 11.2.14
VS Code version: Code 1.56.0 (cf

[2021-05-06 20:57] atscott commented on #1332
@i-am-senthil We need some more information in order to investigate this issue. Are you able to provide steps to reproduce along with a sample project? Also, could you attach the Angular Server logs (run the command "Open Angular Server log" in vscode).

[2021-05-07 11:44] lszomoru opened #1336 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-08 00:14] alexjesjimalex opened #1338 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `11.2.14`
- OS Version: `Windows_NT x64 6.3.9600`
- VS Code version: `1.56.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\MZT-SI~1\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explai

[2021-05-10 17:52] atscott commented on #1332
Closing as unable to reproduce. If you're still experiencing problems, please submit a new issue with steps to reproduce and the server logs.

[2021-05-12 08:26] digeomel commented on #1310
Not sure why, but with the latest vscode and the 11.2.14 version of the extension I'm back to the "Loading...." picture for Intellisense that I posted earlier. The funny thing is, there's no visible CPU load, it's like it's waiting there. Granted, this is s a big monorepo-style project with lots of modules, components, etc. but I would have expected at least to see the CPUs doing something.
Please

[2021-05-12 20:23] atscott commented on #1338
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-05-12 20:23] #1338 closed

[2021-05-13 00:12] kyliau commented on #335
Angular extension v12 is [released](https://github.com/angular/vscode-ng-language-service/releases/tag/v12.0.0) today, and with that, all work items outlined in the roadmap above are complete.
Going forward, Ivy-native language service will be the default, and we will focus on making Ivy LS better.
Thank you so much to the team, all contributors, and all users who've done incredible work and provi

[2021-05-13 00:12] #335 closed

[2021-05-13 01:13] #1319 closed

[2021-05-13 06:26] doggy8088 commented on #521
@kyliau The event binding is broken again in `v12.0.0`. There is no IntelliSense at Angular v12.0.0 version in the Visual Studio Code.

[2021-05-13 09:29] nedex opened #1350 "Fail to detect older Angular projects < v9"
# 🐞 bug report

### Is this a regression?

Kinda, since the extension will not correctly detect the project's Angular version and set the default setting to a proper value.
A lot of developers will have this issue so that's the main reason of this issue report.

_Note:_ I'm actually working on a project whose Angular version can't be updated at the moment.

### Description
Latest extension release

[2021-05-13 13:13] niladrisen6 commented on #1350
project compilation issue. failed to resolve ngcc.
Angular CLI: 8.3.29
Node: 14.15.5

[2021-05-13 13:31] Dovernh commented on #1350
I am also receiving this issue, report several modules:

export declare class NzRateModule {
Appears in the NgModule.exports of NgZorroAntdModule, but could not be resolved to an NgModule, Component, Directive, or Pipe class.

This likely means that the library (ng-zorro-antd/slider) which declares NzSliderModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Chec

[2021-05-13 16:25] kyliau commented on #1350
@nedex Could you please provide the logs? Also please double check your vscode config to make sure Ivy is turned off.
To get the logs, please run the vscode command `Open Angular Server log`.
The fact that you're seeing the error message `Fail to resolve ngcc...` means that the server is already spawned in Ivy mode, which should not happen. The client is responsible for detecting the Angular versi

[2021-05-13 16:37] nedex commented on #1350
I will provide the logs ASAP.

I also tried to add a `angularCompilerOptions` section with `enableIvy` as the only value set to `false`, but the behaviour didn't change.

I saw [some lines of code of the extension](https://github.com/angular/vscode-ng-language-service/blob/9dba839b3a8794e5e84567cf0297c1284963c0a2/client/src/client.ts#L451), and the extension actually checks if the project's Angula

[2021-05-13 16:50] kyliau commented on #1350
Yeah, our goal is to make the extension detect the right Angular version, and pick the language service accordingly.
There should be no manual configuration needed on the user's side.

Meanwhile, if your project is using Angular < v9, you can explicitly tell the extension to use View Engine language service by checking the View Engine option in vscode **Workspace** settings (not User, as that'll a

[2021-05-14 07:34] nikesh9220 commented on #1350
In my Project, we are also facing the same issue after upgrading it to version 12.
We are using Angular 8.2

We have two temporary solutions until this Bug will fix.
1. Downgrade it to 11.2.14 and remove the node modules folder and then hit npm i then it will work
2. If you want to use Version 12 then follow the @kyliau suggestion (Check on Use Legacy View Engine)

![image](https://user-images.git

[2021-05-14 08:39] micaminoff commented on #1350
For people arriving here wondering why their projects won't build, try deleting your project's `node_modules` folder and doing `npm install`. Ivy creates a bunch of files that cause issues with legacy projects.

[2021-05-14 09:54] hinok opened #1353 "ngcc fails with error "Too many open files""
# 🐞 bug report

### Is this a regression?

Did this behavior use to work in the previous version?
Yes, the previous version in which this bug was not present was: `v11.2.14`

### Description

Opening project ends with error `ngcc operation failed`.

**Log**

[code]

## Bug Type
What does this bug affect

- [x] Angular Language Service VSCode extension
- [ ] Angular Language Service server

## Repr

[2021-05-14 12:52] vixtorocha commented on #1350
I'm also having this issue with `v12.0.0` of the extension. My project uses Angular `v7.2.16`.

[2021-05-14 15:12] isener commented on #1350
In VSCode -> Workspace Settings -> Search View Engine -> Check checkbox Use legacy View Engine … -> clean node_modules -> run npm install

[2021-05-14 18:19] kyliau commented on #1350
For anyone who's experiencing this, _please_ send us the logs from the server to help us debug this issue.
The extension is supposed to detect the Angular version of your project.
In this case, it looks like the detection logic fails for certain projects, and we need the logs to understand what's going on.

[2021-05-14 22:05] joseluciopcx commented on #1353
I have the same problem after update the extension and my partners too.

[2021-05-15 01:45] miaoruifeng commented on #1353
I have the same problem !

[2021-05-15 02:03] ivanwonder commented on #1350
@kyliau I think the problem is the default value.
https://github.com/angular/vscode-ng-language-service/blob/ee741f8e90accd67326aff1c74d61e8181c7e473/package.json#L87
https://code.visualstudio.com/api/references/vscode-api#WorkspaceConfiguration
Looks like the vscode treats it as `false` if I remove the default value.
[code]

[2021-05-15 18:03] AlexVelezLl commented on #1353
Same problem here.... Its really annoying.

[2021-05-16 02:16] vyzaldysanchez commented on #1353
Just had this same issue today...

[2021-05-16 06:58] AmirDanesh commented on #1353
I have the same problem too!

[2021-05-16 07:00] AmirDanesh commented on #1353
I have the same problem

[2021-05-16 10:34] kamvir opened #1355 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `11.2.14`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.55.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\Viraj-Pc\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expl

[2021-05-16 12:07] nedex commented on #1350
@kyliau I quickly made a new project using the following command:

`npx -p @angular/cli@v7-lts ng new angular7`

and the bug is still there.

You may find the project here, with the requested `nglangsvc.log` file in the main directory
[https://github.com/nedex/angular7](https://github.com/nedex/angular7)

Thank you.

[2021-05-16 13:57] fadisdh commented on #1353
Same issue here, with Apple M1 mac.
Running Angular 7

[2021-05-17 01:16] biendpham commented on #1353
I have the same problem with v12.0.0. I reinstalled v11.2.14 and it worked fine

[2021-05-17 07:48] naturalfreak opened #1356 "Unable to load shared modules"
os - Ubuntu 20.04
nodejs - 16.1.0

Steps to reproduce the behavior:
1. Download problem.zip
2. npm install
3. Install ext. @angular/language-service for VSCode
4. Open project with VSCode

latest  version of extention - @angular/language-service for VSCode
[problem.zip](https://github.com/angular/vscode-ng-language-service/files/6492040/problem.zip) - project

When using this configuration I got e

[2021-05-17 08:41] didikk commented on #1353
Just had this same issue today

[2021-05-17 08:55] tahaerden commented on #1353
I am getting "Angular extension might not work correctly because ngcc operation failed. Try to invoke ngcc manually by running 'npm/yarn run ngcc'. Please see the extension output for more information."

Probably the same issue. Removing node_modules folder and running "npm i" didn't work.

[2021-05-17 09:44] ekzGuille commented on #1356
I had to disable the extension because all my components were having this warning and was really annoying.
In my case the problem was with the IonicModule. Angular couldn't detect al `<ion-xxxx>` items even though I had the IonicModule imported in all modules and submodules.

[2021-05-17 09:49] pmullot commented on #1353
This issue is with version 12.0.0. It wasn't happening with 11.2.14.

my project is with Angular 9
Setting `enableIvy: false` doesn't change anything. It looks like the extension doesn't take it into account

[2021-05-17 11:07] nouman0320 commented on #1353
Also got same issue today, had to revert to v11.2.14

[2021-05-17 15:44] arndwestermann commented on #1356
Same problem here, but with Angular Material, my own components, async pipe and many more. The app compiles just fine, but the LS is like screaming at me that everything is not a known element. Pretty annoying.
I'm using a nx workspace, created two weeks ago and this issue exists since then. My workaround was disabling the Ivy mode, hoping with v12 it gets resolved, but today I upgraded my workspa

[2021-05-17 17:54] zeljkoantich commented on #1356
Same problem on Linux/Mint.
Fixed it temporary by downgrading VSCode to v1.55.2.

[2021-05-17 18:57] nathbailey opened #1357 "Duplicate Emmet suggestions with v12.0.0"
# 🐞 bug report

### Is this a regression?

 Yes, the previous version in which this bug was not present was: 11.2.14

### Description

 When enabled, this version of the plugin causes duplicate Emmet suggestions.

## Bug Type
What does this bug affect

- [x] Angular Language Service VSCode extension
- [ ] Angular Language Service server

## Reproduction

Steps to reproduce the behavior:
1. Open a

[2021-05-17 20:59] atscott commented on #1355
Hi @kamvir - Can you provide more details?

- Do you have a project we can use to reproduce the issue?
- Is the issue persistent? We expect high CPU load when the Angular is compiling your project but this should go away when finished.
- Can you attach the cpu profile? You've only provided the path on your system.
- Can you provide the Angular Server logs (run the Open Angular server log command)

[2021-05-17 21:05] #1350 closed

[2021-05-17 21:38] kyliau commented on #1350
Thanks @ivanwonder for fixing the bug! We've published v12.0.1 with the fix, my sincere apologies for breaking users on older Angular versions.

[2021-05-17 21:49] atscott commented on #1353
@hinok - can you update to `12.0.1` and give it another try? Also try running the "Angular: Restart Angular Language server" command in the vscode command palette.
The server process seems to have crashed because there were too many open files. I'm wondering if this is a persistent problem with your project or just that your workstation was overloaded at the time. We do have a test project that is

[2021-05-17 23:01] kyliau commented on #1325
@bobderrico80 Thanks for bringing this to our attention. We are actually planning to remove the `ngdk` option, because there is no guarantee that the latest extension will work well with an older version of `@angular/language-service`. In fact, there is check in place to make sure we **don't** load a version that's too old.

https://github.com/angular/vscode-ng-language-service/blob/458efc8f5c956f

[2021-05-17 23:04] atscott commented on #1356
@naturalfreak the specific issue for the language service and the project you linked is the re-export of the module. If you were to change that to an inline export (`export class DrawerModule`), everything works correctly. I have to sync with our compiler expert tomorrow to investigate why this diagnostic only surfaces in the language service.

@ekzGuille @arndwestermann @zeljkoantich - Are you ab

[2021-05-18 07:26] ekzGuille commented on #1356
@atscott I was making a POC for sharing with you and I noticed what was producing the error.
Some components belonging to some submodules where not giving the error. I saw It was the modules which didn't have imported an external module. (I had that external module with the `.forRoot()` when It wasn't needed).

After fixing it, everything is working great.

[2021-05-18 08:42] BuZZ-dEE opened #1362 "Publish to open vsx registry"
https://open-vsx.org

https://github.com/eclipse/openvsx/wiki/Publishing-Extensions

[2021-05-18 11:14] mzrokz commented on #1353
It gave me the error in 12.0.0 version.
But now its fixed in the 12.0.1 version.

[2021-05-18 15:30] atscott commented on #1355
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-05-18 15:30] #1355 closed

[2021-05-18 21:24] #1330 closed

[2021-05-19 06:11] abraham-kwizera opened #1364 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `12.0.1`
- OS Version: `Linux x64 5.4.0-73-generic`
- VS Code version: `1.56.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/tmp/Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-lo

[2021-05-19 07:04] arndwestermann commented on #1356
@atscott
I wasn't able to reproduce it on a new Nx workspace and yesterday it worked just fine for some reason, but today I messed a bit with changing branches and stashing and popping changes and then the errors appeared again. I tried to restart everything even my pc and now I get these errors in the output, I dont know if they help

[code]

[2021-05-19 08:25] hinok commented on #1353
@atscott Unfortunately `v12.0.1` still doesn't work :(

![Screenshot 2021-05-19 at 10 25 09](https://user-images.githubusercontent.com/1313605/118780627-89194900-b88c-11eb-8597-fdc45ac5dfc1.png)

[2021-05-19 16:16] atscott commented on #1356
This particular error happens because we configured the compiler for the language service to skip modules that aren't exported. This was done because the program used for the language service generally includes a much larger set of files than what is used to compile the application. That is, `tsconfig`s often include the `*spec` files as well. The result is that modules defined in tests could caus

[2021-05-19 17:56] borisBelloc opened #1368 "Grey link "Go to component" or "!!MISSING: command!! ; How do I remove/fix this option ?"
# 🐞 bug report

### Is this a regression?

✍️ I don't know, this problem appeared 1-2 week ago. I think I changed nothing.

### Description

Hello :wave:

When working with Angular project, I don't know why but since 1-2 weeks, I have a `Go to component` link at the top of my HTML file... .

When I click this button, it opens the .ts associated file. (I would like to remove this option.)
![image](

[2021-05-19 18:37] marlag commented on #1353
I have another compilation related error:

Starting reporting just after upgrade to 1.56.2. Within back to 1.55.2 this disappear. Angular Language Service v12.0.1.

[2021-05-19 18:44] atscott commented on #1353
@marlag `1.56.2` and `1.55.2` of what? Do you have a project to reproduce this in? The error itself explains what happened. Everything seems to be working as intended there and without more information, there's nothing actionable for us to investigate.

[2021-05-19 19:04] atscott commented on #1364
Hi @abraham-kwizera  - Can you provide more details?

- Do you have a project we can use to reproduce the issue?
- Is the issue persistent? We expect high CPU load when the Angular is compiling your project but this should go away when finished.
- Can you attach the cpu profile? You've only provided the path on your system.
- Can you provide the Angular Server logs (run the Open Angular server log

[2021-05-20 09:52] Drovosek01 opened #1371 "No help when working with templates in monrepos"
### Description

The project I'm working on is a monorepository with several Angular web applications.

Today I noticed that in the template of one component, the error highlighting does not work for me if I write the wrong field name.

Also later I noticed that moving to the component code doesn't work either, when I hover the cursor over the name of the directive and try to click on it with the

[2021-05-20 10:29] HiveSolution opened #1372 "Syntax highlighting breaks when using nullish coalescing in templates"
# 🐞 bug report

### Description

When using nullish coalescing within templates, the syntax highlighting breaks.

## Reproduction

Steps to reproduce the behavior:
1. Create or use any project
2. Write a simple nullish check like `{{ nullishTest ?? 'value is currently NULL' }}`
3. syntax highlighting in lines following this breaks

### **Screenshots**

If applicable, add screenshots to help explai

[2021-05-20 15:15] #1368 closed

[2021-05-20 15:25] borisBelloc commented on #1368
closed and no answer... does it mean we are not supposed to disable that option ?

[2021-05-20 16:37] #1357 closed

[2021-05-20 18:44] atscott commented on #1371
@Drovosek01 Are you able to provide an example project where this isn't working? If you can't share your monorepo, what you can try doing is create a new project use the same directory structure and `tsconfig`s as your monorepo. This should get you to a state where you can reproduce the problem in the new project.

There could be an issue with the build setup, tsconfigs, imports, or something else

[2021-05-20 18:51] #1372 closed

[2021-05-20 19:44] atscott commented on #1353
@hinok a few other questions:

- did you get a chance to try the  https://github.com/atscott/ng-speed-rebuild project on your machine?
- are you able to run ngcc manually with `./node_modules/.bin/ngcc <path to your tsconfig>`?
- what does your `tsconfig` look like?

Without any way for us to reproduce the issue locally, it's pretty difficult to get to the bottom of why it's happening.

[2021-05-21 22:22] koflin commented on #1353
@atscott  Hi there. I think I have the same problem. I am using version 12.0.2 of the extension.
I get these errors:

[code]

I also tried running ngcc manually resulting in the same errors. My tsconfig looks as follows:
[code]

My angular version is:
[code]

[2021-05-23 06:15] ahsansoftengineer opened #1380 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `12.0.2`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.56.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-05-23 08:57] marlag commented on #1353
@atscott I meant vscode version - somehow connecting the issue with its update. But indeed - extension 12.0.2 was just not working at all then - within newest it shows a lot "unknown angular component" errors for me (due to this compilation problems), on previous - no errors, but also no recognizing of template elements.

I did another thing - tried downgrading extension to 12.0.1 (same problem),

[2021-05-24 14:41] atscott commented on #1380
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-05-24 14:41] #1380 closed

[2021-05-24 14:44] atscott commented on #1353
@marlag this is expected if your application does not compile with Ivy. I would suggest at least fixing the compilation issues if you're not able to fully enable Ivy yet. As a quick fix you can also enable the legacy view engine mode of language service in the extension options
![image](https://user-images.githubusercontent.com/479713/119364497-d23e1400-bc63-11eb-9156-d63e5d7e0564.png)
Note that t

[2021-05-24 21:04] hinok commented on #1353
I tried https://github.com/atscott/ng-speed-rebuild with `12.0.2` version and I don't see any issues there.

---

`12.0.2` in my project doesn't show up anymore the notification `Angular extension might not work correctly because ngcc...` but the angular language services don't work - no bindings, the template behaves like a wall of text...

The error reported in `Log (Extension Host)`

[code]

[2021-05-24 21:09] hinok commented on #1353
👋 @atscott, my replies below

I tried https://github.com/atscott/ng-speed-rebuild with `12.0.2` version and I don't see any issues there.

---

`12.0.2` in my project doesn't show up anymore the notification `Angular extension might not work correctly because ngcc...` but the angular language services don't work - no bindings, the template behaves like a wall of text...

The error reported in `Log

[2021-05-25 08:34] enrique-esteban opened #1381 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `12.0.2`
- OS Version: `Linux x64 5.4.0-73-generic`
- VS Code version: `1.56.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/tmp/Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-lo

[2021-05-25 15:17] atscott commented on #1353
@hinok Thanks for that additional info. Did you also get a chance to run `ngcc` from `node_modules`? Can you provide more of the log file contents as well? A single failed request doesn't give us very much information to work from. It looks like maybe something caused the server to crash but again, it's really difficult to tell without being able to reproduce it locally.

[2021-05-25 21:46] hinok commented on #1353
@atscott Yes, I'm able to run `ngcc` manually

[code]

no error printed.

---

I enabled `verbose` log format in settings.

<img width="762" alt="Screenshot 2021-05-25 at 23 13 24" src="https://user-images.githubusercontent.com/1313605/119569293-d75baa00-bdae-11eb-9d48-248e968fefd4.png">

With `12.0.2` I get such error in the `Output` tab.

<img width="1117" alt="Screenshot 2021-05-25 at 23 12 14"

[2021-05-26 10:53] enrique-esteban commented on #1381
"Do you have a project we can use to reproduce the issue?", no sorry, its private, but I fixed it when I activated strict mode ("strictTemplates": true) in project.

[2021-05-26 16:08] atscott commented on #1381
@enrique-esteban Thanks for the info. I'm going to close this as likely not an issue. strictTemplates doesn't affect CPU load in any way so this was likely just a result of high CPU during initial compilation.

[2021-05-26 16:08] #1381 closed

[2021-05-26 16:10] atscott commented on #1371
Closing since there's not enough information here for us to determine what the issue is. Please feel free to open a new report that includes a project in which this issue can be reproduced and we'll be happy to investigate.

[2021-05-26 16:10] #1371 closed

[2021-05-26 16:28] atscott commented on #1353
@hinok - can you try configuring your [watchOptions](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#better-directory-watching-on-linux-and-watchoptions) in the `tsconfig` to use options that are less CPU intensive?
[code]
Or try avoiding fs events completely with
[code]

[2021-05-26 17:12] louzena opened #1382 "Angular Language Service - Displays 'not a known element' error even after NO_ERRORS_SCHEMA added. Compiles fine with build"
# 🐞 bug report

### Is this a regression?

Not that I'm aware of

### Description

Angular Language Service displays a compiler error when referencing a custom HTML element even when NO_ERROR_SCHEMA (or CUSTOM_ELEMENTS_SCHEMA) added to the SCHEMAS array in the TestBed configuration.  The test compiles fine using `ng build`

Error message is

'app-about' is not a known element:
1. If 'app-about' is

[2021-05-26 17:22] gnans commented on #1350
@kyliau This issue is not yet resolved. I am using v12.0.2 and it is still happening

[2021-05-27 09:16] kyliau opened #1386 "Upgrade to TS 4.3"
Features of interest:
- Go-to-Definition on Non-JavaScript File Paths [link](https://devblogs.microsoft.com/typescript/announcing-typescript-4-3/#go-to-def-non-js)
- updated API for `getCompletionEntryDetails` (see PR #1384)
- Lazier Calculations in --incremental and --watch Compilations [link](https://devblogs.microsoft.com/typescript/announcing-typescript-4-3/#lazier-incremental)
   - should not

[2021-05-28 01:44] ivanwonder commented on #1350
https://github.com/angular/vscode-ng-language-service/blob/fa36c291fb9afd15bcd84686d770c207893254f1/client/src/client.ts#L474-L483
I think the ALS extension resolves the `@angular/core` from the root path of workspace. Maybe your angular project is a subproject under the workspace. @gnans

[2021-05-28 14:33] paulaustin-automutatio opened #1387 "Errors on deleted (renamed file)"
# 🐞 bug report

### Is this a regression?

Never worked

### Description

ng generate component -m app to-rename

Edit the ts, html so that errors show up and save everything

Rename the ts and html to something else (e.g. renamed.ts)

Errors still show up in the problems tab with

Unable to open 'emails-field.component.html': Unable to read file '...' (Error: Unable to resolve non-existing file '

[2021-05-31 03:32] ww2406 opened #1388 "No intellisense for events and structural directives starting with v12"
# 🐞 bug report

### Is this a regression?

Yes, the previous version in which this bug was not present was: 11.2.14

### Description

Since the version 12 release, intellisense no longer appears for events and directives.

## Bug Type

- [X] Angular Language Service VSCode extension
- [ ] Angular Language Service server

## Reproduction
Typing () and pressing ctrl-space yields "no suggestions". Si

[2021-05-31 10:31] inventd opened #1389 "Extension causes high cpu load"
[Angular.ng-template-unresponsive.cpuprofile.txt](https://github.com/angular/vscode-ng-language-service/files/6569645/Angular.ng-template-unresponsive.cpuprofile.txt)

- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `12.0.3`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.56.2`

:warning: Make sure to **attach** this file from your *home*-directory:

[2021-06-01 06:36] rekna1 commented on #1388
Similar problem : angular 11 project, vscode language service:
ngIf="vm$ | async as vm" --> vm is suddenly of type any, while previously it was typed.

This structural directive supports advanced type inference, but the current compiler configuration prevents its usage. The variable 'vm' will have type 'any' as a result.

It suggests enabling stricttemplate checking but then I get (a lot) weird er

[2021-06-01 12:43] snebjorn commented on #1387
I'm having a similar issue renaming folders containing angular files.
If I disable Angular Language Service in VS Code I can rename the folder. It have been a problem for a while. It started around the time where we switched to ESLint, so I thought that was the cause. But I've tracked it down to being with the Angular Language Service.

[2021-06-01 16:07] atscott commented on #1388
@rekna1 - this is working as expected. The errors you're getting after enabling `strictTemplates` show you the places in your templates where you have not supplied the correct type for the input. If you believe any of these are incorrect, please file an issue on [angular/angular](https://github.com/angular/angular/issues/new?assignees=&labels=&template=1-bug-report.md) with a reproduction.

[2021-06-01 16:13] atscott commented on #1389
Can you provide more details?

- Do you have a project we can use to reproduce the issue?
- Is the issue persistent? We expect high CPU load when the Angular is compiling your project but this should go away when finished. I see that the cpu profile you've attached is just 5 seconds during/after activation. This is when we would expect CPU load to be high.
- Can you provide the Angular Server logs

[2021-06-01 16:14] atscott commented on #1387
@snebjorn Can you provide a project to reproduce this problem with? Also, please file a new issue as it would be totally separate from this one.

[2021-06-01 18:57] nagarsuresh opened #1391 "No Intellisense with elvis operator"
Intellisense is not working with elvis operator.  Without elvis operator it does provide suggestions.

# 🐞 bug report

### Is this a regression?
Yes.  used work in earlier versions.

![2021-06-01 11 56 59](https://user-images.githubusercontent.com/7144356/120376282-8c6ef480-c2d0-11eb-90e6-f8ca2a27cd19.gif)

[2021-06-01 19:13] atscott commented on #1391
@nagarsuresh - Can you share your `tsconfig`? This is likely working as intended. I suspect your compiler options have configured the compiler to type the safe navigations as `any` (`strictSafeNavigationTypes` is set to `false` unless you have `"strictTemplates": true` or `"strictSafeNavigationTypes": true`)

[2021-06-01 23:08] nagarsuresh commented on #1391
@atscott Thanks for the reply.  Below is my tsconfig.json

`{
  "compileOnSave": false,
  "compilerOptions": {
    "baseUrl": "./",
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "downlevelIteration": true,
    "experimentalDecorators": true,
    "moduleResolution": "node",
    "importHelpers": true,
    "target": "es2015",
    "module": "es2020",
    "lib": [

[2021-06-01 23:38] atscott commented on #1391
@nagarsuresh I see. So you'll want to add `"angularCompilerOptions"` to your `tsconfig`. Preferably set `"strictTemplates": true` and fix any errors that you see as a result (these are real errors that you've currently configured the compiler to ignore). If that's too much for your app right now, maybe set just `"fullTemplateTypeCheck": true` and `"strictSafeNavigationTypes": true`.

Closing as wo

[2021-06-01 23:38] #1391 closed

[2021-06-01 23:39] atscott commented on #1388
@ww2406 can you provide a project that we can reproduce this issue with?

[2021-06-02 05:39] rekna1 commented on #1388
@atscott : can I get code completion working again with enabling strictTemplates ? This was working a few days ago ...

[2021-06-02 16:42] atscott commented on #1388
@rekna1 potentially. The specifics of your issue are still not entirely explained so I can't say for sure. But yes, generally enabling `strictTemplates` ensures the compiler produces the most accurate type information for your templates. Not having `strictTemplates` means that there will be incorrect typings (generally becoming `any`) that will not be able to provide completions (because they're t

[2021-06-02 16:49] atscott commented on #1389
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-06-02 16:49] #1389 closed

[2021-06-03 09:33] snebjorn opened #1398 "Fails to rename folder with angular files in sub-folders"
# 🐞 bug report

### Is this a regression?

I believe it is. I discovered this bug after ESLint in Angular officially became a thing. I don't know if it's related to ESLint or the language service was updated around that time.

### Description

VSCode throws the following error when I try to rename a folder that have sub-folders with Angular files in them.

Here I'm renaming the `src` folder of a n

[2021-06-03 22:47] atscott commented on #1388
Investigated this some more today and can confirm that this is indeed an issue in all projects with no need for any special configuration to reproduce.

[2021-06-04 07:56] devhus opened #1399 "Extension stops working after 30-60 minutes"
# 🐞 bug report

### Is this a regression?

 Yes, the previous version in which this bug was not present was:  11.2.14

### Description

Just finished upgrading my project to Angular 12 with the Ng Language Service v12 the IntelliSense starts getting buggy,
After few minutes from **Initializing Angular Language Features** the awareness of variables and methods in the component's template stopped wo

[2021-06-04 13:30] CalinaCristian commented on #1399
I've noticed that if you go to Extension Settings and check the legacy view engine it works with latest.
![image](https://user-images.githubusercontent.com/9513641/120808807-1c6fa100-c552-11eb-8533-a5ffe5b03789.png)

[2021-06-04 14:03] lincolnthree commented on #1388
We are also experiencing issues like this with custom pipes. This pipe was working just fine previously, but now everything that gets returned is typed as "null". I tried playing with the method signatures (which are the same as the `async` pipe), but it is not working:

![image](https://user-images.githubusercontent.com/362329/120813168-a6504780-c51b-11eb-8dae-d4085aae7b9f.png)

[code]

This pipe

[2021-06-07 16:28] atscott opened #1404 "Custom pipes have incorrect type"
We are also experiencing issues like this with custom pipes. This pipe was working just fine previously, but now everything that gets returned is typed as "null". I tried playing with the method signatures (which are the same as the `async` pipe), but it is not working:

The expected type:

![image](https://user-images.githubusercontent.com/362329/120813726-2aa2ca80-c51c-11eb-9a18-9496c0b09c78.png

[2021-06-07 18:57] lincolnthree commented on #1404
@atscott Thanks for splitting this out. I probably should have done so but thought it might be related :)

[2021-06-07 19:15] lincolnthree commented on #1404
@atscott `strictTemplates` is already enabled. This is the only pipe that stopped working. (It's also the only one with an overloaded method type-signature, though.)

[code]

[2021-06-07 20:22] ashwingairola commented on #1399
In my experience, this is also happening for input properties.

[2021-06-08 09:41] snebjorn commented on #1387
done https://github.com/angular/vscode-ng-language-service/issues/1398

[2021-06-08 16:37] atscott commented on #1404
@lincolnthree could you provide some more information?  I couldn't reproduce this myself so I'll need something more to work with.

* A more complete example (stackblitz would be great).
* The version of the extension when this was working and the version that it stopped working with

[2021-06-08 23:50] #1388 closed

[2021-06-08 23:50] #1322 closed

[2021-06-09 02:04] jaeger48854 opened #1410 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `11.2.14`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.56.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`[Angular.ng-template-unresponsive.cpuprofile.txt](https://github.com/angular/vscode-ng-language-service/files/6620597/Angular.ng-template-unresponsive.cpupr

[2021-06-09 16:11] atscott commented on #1410
Can you provide more details?

- Do you have a project we can use to reproduce the issue?
- Is the issue persistent? We expect high CPU load when the Angular is compiling your project but this should go away when finished. I see that the cpu profile you've attached is just 5 seconds during/after activation. This is when we would expect CPU load to be high.
- Can you provide the Angular Server logs

[2021-06-09 23:29] xantari commented on #1399
I'm also receiving this issue, revert to 11.2.14 for the time being. Intellisense is very broken in 12.0.4 in templates.

[2021-06-10 00:12] atscott commented on #1399
@xantari @ashwingairola @devhus are any of you able to provide a project with a set of steps that reproduces this issue? I don't see anything in the logs. What could also be helpful is enabling either `verbose` or `messages` of the `trace: server` extension options and pasting some of the output here

![Screen Shot 2021-06-09 at 5 09 32 PM](https://user-images.githubusercontent.com/479713/12144508

[2021-06-10 01:18] xantari commented on #1399
Example from 12.0.4 Angular Language Service in the attached project.

[code]

Global angular tools installed are 12.0.3. Local project version is 11.2.0:

I know this because of this warning:
Your global Angular CLI version (12.0.3) is greater than your local version (11.2.0). The local Angular CLI version is used.

To repro, hover over products in product-list.component.html using 12.0.4 of the

[2021-06-10 02:29] atscott commented on #1399
@xantari yes, Ivy became the default in v12. Can you share your `tsconfig.json`? The issue for your project here may be that you need to enable `strictTemplates`

[2021-06-10 11:33] xantari commented on #1399
@atscott The config is in the APM.zip project example I attached above.

[2021-06-10 15:13] atscott commented on #1399
@xantari Ah, I see that now (I was on my phone last night after hours). I'm able to reproduce your issue as well in that project so I will be investigating this today. Thanks!

[2021-06-10 16:18] devhus commented on #1399
Its enabled, i will be able to share a bugged project with you today's night if you still need it.

[2021-06-10 16:28] atscott commented on #1399
@devhus - I think that would be helpful. I have identified the issue with @xantari's project. The first `div` isn't closed. Adding another close `</div>` at the end of the template fixes things. That said, our visitor logic should handle this case. It would be good to know if your issue is the same or something different.

[2021-06-10 22:21] xantari commented on #1399
@atscott Thanks for the pointer on the missing closed DIV, interesting that TSLint didn't highlight that, and that it wasn't a problem in the previous version. Ivy is a bit stricter it appears.

Sorry for the unrelated question, but what the heck do I have to do to VS Code to tell me i have malformed HTML!?!

[2021-06-10 22:40] atscott commented on #1399
@xantari 😆  no problem! I did a quick search and it looks like there are a few extensions like [htmlhint](https://marketplace.visualstudio.com/items?itemName=mkaufman.HTMLHint) that would have caught this. I played around with the options and it seems like for your project this would work:
[code]
Personally, I think `"attr-value-double-quotes"` should be true but that's really up to you and your p

[2021-06-11 12:46] devhus commented on #1399
that is a sample project(removed a lot of base code from the original project), it has some memory leak bug as well (in case that was what is causing the issue)
and as I mentioned in the report above, the issue does not happen right away in the project. after spending some time working on the issue will start to randomly happen but not before few minutes after Angular Language Features being Initi

[2021-06-11 16:28] atscott commented on #1410
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-06-11 16:28] #1410 closed

[2021-06-11 17:45] atscott commented on #1399
@devhus - I played around with the example project and wasn't able to reproduce the issue. There was a fix for autocompletion in the release yesterday. Could you update your extension to see if that resolves your issue?

[2021-06-12 13:39] devhus commented on #1399
unfortunately, the issue was not fixed yet.

[2021-06-12 14:34] devhus commented on #1399
You need to leave it open for some time. Open the project through ``workspace.code-workspace`` file then ``ng serve`` it, and leave the project opened in your taskbar for about 30-60 minutes and the issue will randomly happen, hopfully.
Unfortunately, the issue was not fixed for me with the last update.

[2021-06-14 03:20] miaR3 opened #1413 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `12.0.5`
- OS Version: `Windows_NT x64 10.0.17763`
- VS Code version: `1.57.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:```json
{
	"messages": [],
	"activationTimes": {
		"codeLoadingTime": 4049,
		"activateCallTime": 44,
		"activateResolvedTime": 0,
		"activationReason": {
			"st

[2021-06-14 13:52] lincolnthree commented on #1404
@atscott I'll do my best. Thanks. I don't remember which version it stopped with :( It's been a few weeks. Maybe 2 weeks.

[2021-06-14 16:13] atscott commented on #1413
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-06-14 16:13] #1413 closed

[2021-06-15 18:49] lincolnthree commented on #1404
@atscott So, this appears to be an issue with my vscode workspace. I don't know why, but when I open my project in a brand new (unsaved) workspace, the type completion/intellisense functions normally for this pipe, yet it does not when I load my year-old workspace.

These are the only custom settings in the workspace that I know of:

[code]

[2021-06-15 18:53] atscott commented on #1404
@lincolnthree Is it possible that your workspace settings overwrite the language service to use legacy View Engine? I'm not sure if there's anything actionable here at the moment since we don't have any reproduction and it seems to be working on a clean workspace.

[2021-06-15 18:56] lincolnthree commented on #1404
@atscott I don't believe so, verified view-engine is off in the settings, but I'm still trying to dig in and see what's actually different. I'm at a bit of a loss.

user:
![image](https://user-images.githubusercontent.com/362329/122108041-c6201f00-cde9-11eb-82a5-69663deef3d1.png)

workspace:
![image](https://user-images.githubusercontent.com/362329/122108129-d637fe80-cde9-11eb-98d2-915699686df7.pn

[2021-06-15 20:16] Nness commented on #1399
@atscott Is `strictTemplates` required for language service to function correctly for Angular 12 project?

[2021-06-15 20:27] atscott commented on #1399
@Nness No, but the answer you're probably looking for is "yes". The language service has the same understanding of the program as the compiler. Any option which configures the compiler to ignore certain types, including `strictTemplates: false`,  will affect what information you get from the language service. It's "correct" in all cases but may not be "complete" information.

P.S. In the future, a

[2021-06-15 20:30] atscott commented on #1399
@devhus - I have left the application running with `ng serve` for the past two days and have not encountered an issue. I'll leave this open for now to see if others are experiencing the same and can provide a reproduction but will probably end up closing it at some point in the future since we can't reproduce it.

[2021-06-15 20:45] devhus commented on #1399
Well, do you notice any memory leak in the project? (Nodejs runtime thread in your task manager will have about 1.5GB ram usage as you're serving the project and the memory usage keep increasing until your serve session is crashed)
if you don't have any issues with the memory causing the served session to be shutdown and throwing this error ``JavaScript heap out of memory`` while running ``ng serv

[2021-06-15 21:57] atscott commented on #1399
@devhus It sounds like this may potentially be https://github.com/angular/angular-cli/issues/20801. If that's the case, then the issue is with the cli and is being tracked there.

[2021-06-16 06:57] anton-marchenko opened #1414 "Go to definition from template not working"
Go to definition not working any more (my version of extension is v12.0.5)
VS Code version: 1.57
Angular: 9.1.13
Typescript: 3.8.3

![image](https://user-images.githubusercontent.com/45929621/122171935-f1a61680-ce88-11eb-9ff6-0b90b1806dbc.png)

![image](https://user-images.githubusercontent.com/45929621/122172185-303bd100-ce89-11eb-9b87-84d0f5b4cbb2.png)

See same issue on stackoverflow: https://s

[2021-06-16 08:29] glebmachine commented on #1414
Got the same!
Using with "Solution style" tsconfig.json

[2021-06-16 12:02] pavangayakwad opened #1415 "Intellisense don't work as expected"
The left side is the VS code shows "the issue" and the right side: 'what is expected'.

![vscode-vs-webstorm-angular](https://user-images.githubusercontent.com/1834890/122214965-56cd2c80-cec8-11eb-8917-6ffb62c9a9ac.gif)

[2021-06-16 16:17] atscott commented on #1415
Closing, as this is unrelated to the Angular Language service extension. We don't provide any features for style files.

[2021-06-16 16:17] #1415 closed

[2021-06-16 16:18] atscott commented on #1414
@anton-marchenko @glebmachine Can you share an example project with this issue?

[2021-06-17 04:24] carlos738 opened #1417 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `12.0.5`
- OS Version: `Windows_NT ia32 10.0.19042`
- VS Code version: `1.57.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\HOME\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-

[2021-06-17 14:00] anton-marchenko commented on #1414
@atscott

Unfortunately I can not reproduce it in a simple project. In the same time I can not show our large commerce project because of NDA.

Could it be helpful if  I show you some the extension or VSCode logs without showing my code? How can I do that?

[2021-06-17 15:59] #1417 closed

[2021-06-17 16:03] atscott commented on #1414
Let's start with this: can you share your `tsconfig.json`? Do you have `strictTemplates` enabled for your project?

Note that the Ivy based language service became the default in the v12 release. This means that information provided by the language service will exactly mirror what you've configured the compiler to understand. Previous versions independently interpreted the template, which would re

[2021-06-17 22:29] atscott opened #1418 "Provide extension option to enable strictTemplates (override compiler options from tsconfig)"
With the release of v12, the Ivy-based Language Service became the default. With that, the information provided by the extension follows what the application has configured the compiler to interpret (see Alex's [blog post](https://blog.angular.io/under-the-hood-of-the-language-service-ab763c26f522) for more information on why this was done). As a result, developers upgrading from previous versions

[2021-06-18 08:04] anton-marchenko commented on #1414
@atscott

Yeah:

`{
  "compileOnSave": false,
  "compilerOptions": {
    "strict": true,
    "baseUrl": "src",
    "paths": {
      "@app/*": ["app/*"]
    },
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "module": "esnext",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5",
    "typeRoo

[2021-06-18 09:18] glebmachine commented on #1414
@anton-marchenko hi, comrade!)

Let's find out how to handle it together!
Could you contact me?

t.me/glebmikheev
facebook.com/glebmikheev

[2021-06-19 14:28] AMoharib opened #1419 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `12.0.5`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.57.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\amo7a\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-

[2021-06-20 14:04] doggy8088 opened #1420 "Component Directive can't show IntelliSense properly when using any Structural Directives with it"
# 🐞 bug report

### Is this a regression?

Yes, the previous version in which this bug was not present was: `Not sure specific version`

### Description

See **Reproduction**.

## Bug Type
What does this bug affect

- [x] Angular Language Service VSCode extension
- [x] Angular Language Service server

## Reproduction

Steps to reproduce the behavior:

1. Clone sample project

[code]

2. Open `src\

[2021-06-21 17:00] jpike88 opened #1421 "Ivy mode ends up breaking 3rd party bundler somehow, modifies libraries in node_modules?"
When using the ivy library, my project ends up breaking in a funny way. When doing a npm ci in my angular project, things seem to return to normal (for a few reloads). What's going on here???

[2021-06-25 12:16] ikemtz commented on #1243
I'm in a similar boat, I have a collection of base/abstract component classes that now require angular attributes (component/directive, etc.).  Code compiles fine, but the error messages can be a PITA.  Similar to other project types, there's should be a way of disabling specific warning/error condition codes.  Something similar to this:

[code]

[2021-06-27 12:55] muuvmuuv opened #1424 "override modifier not supported"
# 🐞 bug report

### Is this a regression?

 Yes, the previous version in which this bug was not present was: ....

### Description

It is not possible to use the override modifier together with `@Input()`.

## Bug Type
What does this bug affect

- [x] Angular Language Service VSCode extension
- [x] Angular Language Service server

## Reproduction

Steps to reproduce the behavior:
1. ng new
2. Crea

[2021-06-27 12:58] devhus commented on #1399
the memory leak issue was fixed in ng cli, but the ng language service issue still going on.

[2021-06-28 22:49] atscott commented on #1419
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-06-28 22:49] #1419 closed

[2021-06-29 07:29] EKi72 opened #1425 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `12.1.0`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.57.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-06-29 14:26] solaryoussef opened #1426 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `12.0.5`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.57.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\user\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-e

[2021-06-29 15:47] atscott commented on #1426
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-06-29 15:47] #1426 closed

[2021-06-29 15:47] atscott commented on #1425
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-06-29 15:47] #1425 closed

[2021-06-29 15:50] atscott commented on #1421
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.com/

[2021-06-29 15:50] #1421 closed

[2021-06-29 15:53] atscott commented on #1404
Closing since we don't have a way to reproduce this issue. If you find a way to reproduce it, please file a new issue and we can go from there. Thanks!

[2021-06-29 15:53] #1404 closed

[2021-06-29 15:53] ShaneK commented on #1421
I think I've experienced this same issue. Using an older version of ag-grid (21.1.0), the vs code angular language service would modify something in node modules and break my build. This doesn't happen, for example, if I use webstorm instead of vs code. It also doesn't happen on newer versions of ag-grid (23.0.2 doesn't have this issue). However, it's very odd that this is a problem at all. Ideall

[2021-06-29 16:14] atscott commented on #1421
@jpike88 Your submission does not fall into the category of a bug report but rather a support ticket. It does not contain actionable information or an apt description of a problem.

@ShaneK Thank you for the additional context. This sounds like a possible issue with [ngcc](https://github.com/angular/angular/blob/master/packages/compiler/design/architecture.md#high-level-proposal), which is require

[2021-06-29 21:31] atscott commented on #1424
Ah, yes this looks like it would be addressed by updating to typescript 4.3. Closing as duplicate of #1386. Will add a note there about this issue as well.

[2021-06-29 21:31] #1424 closed

[2021-06-29 21:32] atscott commented on #1386
Not updating to 4.3 is causing an issue with `@Input` and `override` - see #1424

[2021-06-29 21:57] #1386 closed

[2021-06-30 05:32] jpike88 commented on #1421
@ShaneK will you do the minimal repro and cc me in? Or want me to try

[2021-06-30 14:16] pauldaustin opened #1429 "Refactor Rename class opens files, doesn't save, with no save all"
This could be in TypeScript, Angular or core code

1. Rename a class that is used in multiple other files
2. Save the class
3. Many of the other files are loaded into the editor but not saved. (why does it load the files into the editor, it should just be done in the background, it's an extra step to make sure they are all saved and then close them)
4. The Open editors shows unsaved files
5. Save

[2021-06-30 16:11] atscott commented on #1429
Closing as this issue is with vscode.

Note that because of https://github.com/microsoft/vscode/issues/115354, we don't even participate in renames inside TypeScript files unless you are renaming inside a string literal (to enable renames for inline templates and pipe names).

[2021-06-30 16:11] #1429 closed

[2021-06-30 20:25] ShaneK commented on #1421
@jpike88 I seem to be having a hard time creating a minimal reproduction. If you're able to consistently, feel free!

[2021-06-30 22:39] atscott commented on #1353
@hinok - have you had a chance to try https://github.com/angular/vscode-ng-language-service/issues/1353#issuecomment-848917574

[2021-07-01 02:05] jpike88 commented on #1421
Ehh screw it, if you can't then I doubt I can, it has the same random behaviour as yours. The day they disable the ability to use the old View Engine and we're forced to use this ngcc I'll make a scene. I'd imagine a lot of ppl like us are out there but haven't decided to turn it back on since.

[2021-07-01 03:02] littlee opened #1431 "file content suddenly changed after hovering with command key holding"
# 🐞 bug report

### Is this a regression?

yes

### Description

## Bug Type
What does this bug affect

- [x] Angular Language Service VSCode extension
- [x] Angular Language Service server

## Reproduction

put the code below in an angular project, hovering with [command key] (WITHOUT clicking) `nativeElement` will trigger the bug... it will change the file content to another generated file... th

[2021-07-01 09:50] pavangayakwad commented on #1415
Let me show you another instance then. Is this not related as well?

![vscode-vs-webstorm-angular](https://user-images.githubusercontent.com/1834890/124104141-9a569780-da7f-11eb-9fff-aea34562db08.gif)

[2021-07-01 16:14] atscott commented on #1415
@pavangayakwad yes, this will be fixed by https://github.com/angular/angular/pull/42640. (issue reported in #1420)

[2021-07-01 18:18] atscott commented on #1431
That's pretty weird! I wasn't able to reproduce this with the directions given. Are you able to share a project that this can be reproduced in?

[2021-07-01 18:23] atscott commented on #1414
@anton-marchenko Thanks for the additional information. I created https://github.com/angular/vscode-ng-language-service/issues/1418 as a feature request to track if there is an appetite for enabling `strictTemplates`/overriding compiler options only for the purposes of the language service and not for the `ng serve`/`ng build`.

I highly recommend enabling strict templates and fixing the errors. T

[2021-07-01 18:23] #1414 closed

[2021-07-02 13:46] Deeathwiing opened #1433 "Сhoosing tsconfig.json"
# 🚀 feature request

### Description
Hi, thank you for your ext )
Can u make the next feature: choosing tsconfig.json.
I have tsconfig.app.json and your ext don't work with it ((

P.S. I cant rename tsconfig.app.json (((

[2021-07-04 02:26] Terrence721 opened #1434 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `12.1.1`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.57.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\Tdaniels\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expla

[2021-07-07 18:00] Raiannecaroline opened #1436 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `ng-template`
- Extension Version: `12.1.1`
- OS Version: `Windows_NT x64 10.0.19041`
- VS Code version: `1.57.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-07-07 18:01] atscott commented on #1436
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-07-07 18:01] #1436 closed

[2021-07-07 18:01] atscott commented on #1434
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.

[2021-07-07 18:01] #1434 closed

[2021-07-07 21:01] Benny739 opened #1438 "Language service crashes Cannot read property 'startRecordingFilesWithChangedResolutions' of undefined"
The angular language server keeps on crashing in our nx angular project.
Switching to the legacy view engine language service solves the error.

<pre><code>
(node:33950) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'startRecordingFilesWithChangedResolutions' of undefined
    at ConfiguredProject.Project.updateGraph (/Users/benny/.vscode/extensions/angular.ng-template-12.1.1/no

[2021-07-07 21:09] atscott commented on #1438
@Benny739 Are you able to provide an example project that has this issue?

[2021-07-07 22:08] atscott commented on #1438
Also, would you mind trying the `12.1.0` version of the extension? I'm wondering if this could have been caused by updating the TS dependency to `4.3` that was included in the `12.1.1` release.

[2021-07-08 20:55] ewycheung opened #1439 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `ng-template`
- Extension Version: `12.1.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.58.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\Eddie\AppData\Local\Temp\Angular.ng-template-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-

[2021-07-08 21:03] atscott commented on #1439
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem.

If the problem still exists in your application, please [open a new issue](https://github.com/angular/vscode-ng-language-service/issues/new/choose) and follow the instructions in the issue template.